body {
	font-family: HelveticaNeueW02-55Roma, "Open Sans", Arial, sans-serif; /*"Open Sans", Arial, Helvetica, sans-serif;*/
}

a {
	text-decoration: none;
}

.bold {
	font-weight: bold;
}

.logos {
	display: block;
}

.logoHorse {
	background-image: url("/static/images/logoHorse.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 80px;
	width: 80px;
	display: inline-block;
	background-position-y: 50%;
}

.logoName {
	background-image: url("/static/images/logoText.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 80px;
    display: inline-block;
    width: 700px;
	background-position-y: 50%;
}

.modernForm .section {
  display: table-cell;
  position: relative;
  width: 450px;
  vertical-align: top;
  height: 100%;
  padding-right: 50px;
  padding-bottom: 70px;
}

.modernForm .section .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.modernForm .section .infoWrapper {
  position: relative;
  display: block;
  padding: 20px;
  background-color: white;
  height: 100%;
}

.modernForm .section .subsection {
  border-bottom: 1px solid #eef3f3;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.modernForm .section .subsection.lastSubsection {
  border-bottom: 0px;
  margin-bottom: 0px;
}

.modernForm .section .inputWithLabel {
  margin-bottom: 5px;
  margin-top: 5px;
  display: block;
}

.modernForm .section.sectionFullWidth {
  width: 100%;
}

.modernForm .twoSectionsInline {
  display: block;
}
 
.modernForm .centered {
  text-align: center;
}

.modernForm .highlighted {
  color: #f94d06;
}

.modernForm .formRow {
  margin-bottom: 10px;
  line-height: 20px;
}

.modernForm .formRow.extraMargin {
  margin-bottom: 30px;
}

.modernForm .inputDescription {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

.modernForm .inputDescription .formLabelHint {
  margin-left: 20px;
}

.modernForm .inputDescription.oneLine {
  display: block;
}

.columnsContainer {
  display: flex;
  width: 100%;
}

.firstColumn {
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 0;
  margin-right: 10px;
}

.secondColumn {
  margin-left: 10px;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
}

.maxGrowth {
  flex-basis: initial;
}

.firstColumn.fixedWidth {
  width: 49.5%;
}

.modernForm input[type="number"], .modernForm input[type="text"], .modernForm input[type="password"] {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  text-align: left;

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.modernForm textarea {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  text-align: left;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-color: #cccccc;
  min-height: 80px;
}

.modernForm input[type="number"].mediumInput, .modernForm input[type="text"].mediumInput {
  width: 200px;
}


.modernForm input[type="number"].shortInput, .modernForm input[type="text"].shortInput {
  width: 70px;
}

.modernForm input[type="number"].cvvInput {
  -moz-appearance:textfield;
}

.modernForm input[type="number"].cvvInput::-webkit-inner-spin-button,
.modernForm input[type="number"].cvvInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modernForm .select {
  width: 100%;
  position: relative;
}

.modernForm .select:before {
  content: '\25bc';
  position: absolute;
  pointer-events: none;
  color: #757575;
  top: 0;
  bottom: 1px;
  padding-top: 0.7em;
  line-height: 1;
  right: 0;
  width: 2em;
  text-align: center;
  transform: scale(0.84, 0.42);
  -webkit-transform: scale(0.84, 0.42);
  -moz-transform: scale(0.84, 0.42);
  -ms-transform: scale(0.84, 0.42);
  -o-transform: scale(0.84, 0.42);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.84, M12=0, M21=0, M22=0.42, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.84, M12=0, M21=0, M22=0.42, SizingMethod='auto expand');
}

.modernForm .select select {
  height: 46px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 2em;
  padding-left: 8px;
  -webkit-appearance: none;
  -moz-appearance:none;

  width: 100%;
  background: white;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  border: 1px solid #cccccc;
  border-radius: 0;
}

.modernForm button {
  font-size:16px;
  font-weight:200;
  padding:8px 25px;
  text-align:center;
  white-space:nowrap;
  text-decoration:none;

  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;

  border:0px solid #808080; /* rgba(180, 38, 0, .2); */

  transition-property: color, background-color;
  -webkit-transition-property: color, background-color;
  -moz-transition-property: color, background-color;

  transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;

  text-shadow: 0px 1px rgba(0, 0, 0, .1);

  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.15);

  cursor:pointer;
}

.modernForm button.big {
   padding: 15px 30px;
}

.modernForm .buttonWithPadding.actionButton.medium{
  padding: 10px 20px 10px 20px;
}

.modernForm .buttonsWrapper {
  margin-bottom: 5px;
  margin-top: 15px;
}

.modernForm.medium  .select select {
	height: 39px;
  font-size: 13px;
}

.modernForm.medium input[type="number"], .modernForm.medium input[type="text"], .modernForm.medium input[type="password"], textarea  {
  font-size: 13px;
}
/* MODERN FORM */


.standardLink {
	color: #639c77;
    -webkit-transition: color 100ms;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
    cursor: pointer;
}

.standardLink:hover {
	color: #003B04;
}

.header {
	display: block;
	height: 80px;
	padding-left: 40px;
}

.header .logoText {
	font-size: 48px;
	color: #639c77;
}

.menuContainer {
	display: flex;
	background-color: #3d3d3e;
	border-bottom: 1px solid white;
}

.menuItem {
    flex-direction: row;
    flex-grow: 1;
    position: relative;
    cursor: pointer;
    height: 32px;
    padding-top: 6px;
    text-align: center;
	border-right: 1px solid white;
    -webkit-transition: background-color 500ms;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.menuItem.borderLeft {
	border-left: 1px solid white;
}

.menuItem:hover {
	background-color: white;
	color: #639c77;
}

.menuItem:hover .menuItemTitle {
	color: #639c77;
}


.menuItem .menuItemTitle {
	color: white;
	display: block;
	position: relative;
	margin-bottom: 2px;
	font-size: 15px;

    -webkit-transition: color 500ms linear;
    -ms-transition: color 500ms linear;
    transition: color 500ms linear;
}

.menuItem .menuItemDescription {
	color: #aeaeae;
	font-size: 10px;
	display: block;
	position: relative;

    -webkit-transition: color 500ms linear;
    -ms-transition: color 500ms linear;
    transition: color 500ms linear;
}

.menuItem .floatingMenu {
    position: absolute;
    top: 38px;
    background-color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    width: 200px;
    text-align: left;
    z-index: 10;
    border-left: 1px solid #639c77;
    border-bottom: 1px solid #639c77;
    border-right: 1px solid #639c77;
    font-size: 14px;
}

.menuItem .floatingMenu.wide {
	width: 300px;
}

.menuItem .floatingMenu .item {
    display: block;
    border-bottom: 1px solid rgba(187, 217, 188, 0.5);
    padding-bottom: 8px;
    cursor: pointer;
    padding-top: 8px;
    color: #3d3d3e;

    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}

.menuItem .floatingMenu .item.lastItem {
	border-bottom: none;
}

.menuItem .floatingMenu .item:hover {
	color: #C07330;
}

.fullWidthImage {
	height: 300px;
	background-size: cover;
}

.homePageImage {
	background-image: url("/static/images/main.jpg");
	background-position-y: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.familyHorse {
	background-image: url("/static/images/familyHorse.jpg");
}

.threeHorses {
	background-image: url("/static/images/tresCavalls.jpg");
}

.textContainer {
	background-color: rgba(0, 0, 0, 0.18);
	padding-top: 20px;
	padding-left: 40px;
	padding-bottom: 20px;
	color: white;
    top: 190px;
    position: relative;
}

.fullWidthImage .pageTitle {
	font-size: 40px;
	display: block;
	position: relative;
	margin-bottom: 10px;
}

.fullWidthImage .pageDescription {
	font-size: 20px;
	display: block;
	position: relative;
}

.primary {
	color: #449648;
}

.complimentary1 {
	color: #9B5417!important;
}

.complimentary1Light {
	color: #C07330;
}

.actionButton.pimaryColor {
  background-color: #449648;
  color: white;
}

.actionButton.pimaryColor:hover {
  background-color: #7ab47d;
}

.sectionText {
    display: block;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

.sectionText .title {
    display: block;
    font-size: 40px;
    color: #639c77;
    margin-bottom: 10px;
}

.sectionText .subtitle {
    display: block;
    font-size: 25px;
    color: #003B04;
    margin-bottom: 8px;
}

.sectionText .sectionTitle {
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: bold;
}

.sectionText .description {
    display: block;
    margin-bottom: 15px;
    line-height: 1.2;
    font-size: 15px;
}

.sectionText .description.largePaddingBottom {
	margin-bottom: 12px;
}

.subSectionText {
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.animalCard {
    display: inline-block;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;

    -webkit-transition: opacity 500ms;
    -ms-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}

.animalCard:hover {
	opacity: 0.8;
}

.animalCard .animalImage {
    display: block;
    margin-bottom: 5px;
}

.animalCard .animalImage img {
	width: 100%;
	border-radius: 5px;
}

.animalCard .animalName {
	color: #639c77;
}

.indentedSection {
	padding-left: 10px;
	padding-right: 10px;
}

.indentedSection.withTopMargin {
	margin-top: 30px;
}

.calendar {
	margin-left: 20px;
	margin-top: 20px;
	height: 700px;
	width: 1000px;
}

.legend {
	padding-top: 20px;
	padding-bottom: 20px;
}

.legend .legendElement {
	display: block;
	padding-bottom: 5px;
	position: relative;
}

.legend .legendElement .legendColor {
    width: 20px;
    height: 10px;
    background-color: black;
    display: inline-block;
    margin-right: 10px;

}

.legend .legendElement .legendColor.visitsNoPartners {
	background-color: #ea7900;
}

.legend .legendElement .legendColor.meetingsPartners {
	background-color: #378006;
}

.legend .legendElement .legendColor.everyoneWelcome {
	background-color: #0067ea;
}

.descriptionImage {
	height: 300px;
	border-radius: 5px;
}