body {
	font-family: HelveticaNeueW02-55Roma, "Open Sans", Arial, sans-serif; /*"Open Sans", Arial, Helvetica, sans-serif;*/
}

a {
	text-decoration: none;
}

.header {
	display: block;
	height: 90px;
	padding-left: 40px;
	padding-top: 30px;

}

.header .logoText {
	font-size: 48px;
	color: #127a16;
}

.menuContainer {
	display: flex;
	background-color: #3d3d3e;
	border-bottom: 1px solid white;
}

.menuItem {
    flex-direction: row;
    flex-grow: 1;
    position: relative;
    cursor: pointer;
    height: 32px;
    padding-top: 6px;
    text-align: center;
	border-right: 1px solid white;
    -webkit-transition: background-color 500ms;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.menuItem.borderLeft {
	border-left: 1px solid white;
}

.menuItem:hover {
	background-color: white;
	color: #127a16;
}

.menuItem:hover .menuItemTitle {
	color: #127a16;
}


.menuItem .menuItemTitle {
	color: white;
	display: block;
	position: relative;
	margin-bottom: 2px;
	font-size: 15px;

    -webkit-transition: color 500ms linear;
    -ms-transition: color 500ms linear;
    transition: color 500ms linear;
}

.menuItem .menuItemDescription {
	color: #aeaeae;
	font-size: 10px;
	display: block;
	position: relative;

    -webkit-transition: color 500ms linear;
    -ms-transition: color 500ms linear;
    transition: color 500ms linear;
}

.menuItem .floatingMenu {
    position: absolute;
    top: 38px;
    background-color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    width: 200px;
    text-align: left;
    z-index: 10;
    border-left: 1px solid #127a16;
    border-bottom: 1px solid #127a16;
    border-right: 1px solid #127a16;
    font-size: 14px;
}

.menuItem .floatingMenu.wide {
	width: 300px;
}

.menuItem .floatingMenu .item {
    display: block;
    border-bottom: 1px solid rgba(187, 217, 188, 0.5);
    padding-bottom: 8px;
    cursor: pointer;
    padding-top: 8px;
    color: #3d3d3e;

    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}

.menuItem .floatingMenu .item.lastItem {
	border-bottom: none;
}

.menuItem .floatingMenu .item:hover {
	color: #C07330;
}

.fullWidthImage {
	height: 300px;
	background-size: cover;
}

.homePageImage {
	background-image: url("/static/images/main.jpg");
}

.familyHorse {
	background-image: url("/static/images/familyHorse.jpg");
}

.threeHorses {
	background-image: url("/static/images/tresCavalls.jpg");
}

.textContainer {
	background-color: rgba(0, 0, 0, 0.18);
	padding-top: 20px;
	padding-left: 40px;
	padding-bottom: 20px;
	color: white;
    top: 190px;
    position: relative;
}

.fullWidthImage .pageTitle {
	font-size: 40px;
	display: block;
	position: relative;
	margin-bottom: 10px;
}

.fullWidthImage .pageDescription {
	font-size: 20px;
	display: block;
	position: relative;
}

.complimentary1 {
	color: #9B5417!important;
}

.complimentary1Light {
	color: #C07330;
}

.sectionText {
    display: block;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

.sectionText .title {
    display: block;
    font-size: 40px;
    color: #127a16;
    margin-bottom: 10px;
}

.sectionText .subtitle {
    display: block;
    font-size: 25px;
    color: #003B04;
    margin-bottom: 8px;
}

.sectionText .description {
    display: block;
    margin-bottom: 5px;
    line-height: 1.2;
}

.subSectionText {
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.animalCard {
    display: inline-block;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;

    -webkit-transition: opacity 500ms;
    -ms-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}

.animalCard:hover {
	opacity: 0.8;
}

.animalCard .animalImage {
    display: block;
    margin-bottom: 5px;
}

.animalCard .animalImage img {
	width: 100%;
	border-radius: 5px;
}

.animalCard .animalName {
	color: #127a16;
}