@font-face {
    font-family: "Chalkduster";
    src: url(/static/fonts/Chalkduster.ttf.woff);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: #444444;
}

a {
	text-decoration: none;
}

.bold, strong {
  font-weight: 900;
  color: #e0720f;
}

.orange {
  color: #e0720f!important;
}

.bold.green {
  color: #358c48;
}

.bold.black {
  color: black;
}

.italic {
  font-style: italic;
}

.top {
  vertical-align: top;
}

.inline {
  display: inline-block!important;
}

.marginTop {
  margin-top: 10px;
}

.marginBottom30 {
  margin-bottom: 30px!important;
}

.centered {
  text-align: center;
}

.roundedImage {
  border-radius: 1000px!important;
}

.noMargins {
  margin-right: 0px!important;
  margin-left : 0px!important;
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}

.mainTitle {
  font-family: "Chalkduster";
  font-size: 40px;
  color: #358c48;
  position: relative;
  top: 0px;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}

.mainContainer {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 1px 90px 200px 0px #848484;
  margin-bottom: 10px;
}

.subfooter {
  background-color: grey;
  padding: 30px;
  color: white;
  font-size: 13px;
}

.subfooter.lighterColor {
  background-color: #f1f1f1;
  color: #3d3d3e;
}

.subfooter .title {
  font-size: 24px;
  margin-bottom: 20px;
  display: block;
}

.socialNetwrorkButton {
  margin-right: 10px;
}

.footer {
  background-color: #434344;
  padding: 20px;
  color: #e6e1d7;
  font-size: 13px;
}

.logos {
	display: block;
}

.logoHorse {
	background-image: url("/static/images/logoHorse.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 80px;
	width: 330px;
	display: inline-block;
	background-position-y: 50%;
  margin-right: 20px;
  margin-left: 20px;
}

.logoName {
	background-image: url("/static/images/logoText.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 80px;
  display: inline-block;
  width: 700px;
	background-position-y: 50%;
}

.modernForm .section {
  display: table-cell;
  position: relative;
  width: 450px;
  vertical-align: top;
  height: 100%;
  padding-right: 50px;
  padding-bottom: 70px;
}

.modernForm .section .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.modernForm .section .infoWrapper {
  position: relative;
  display: block;
  padding: 20px;
  background-color: white;
  height: 100%;
}

.modernForm .section .subsection {
  border-bottom: 1px solid #eef3f3;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.modernForm .section .subsection.lastSubsection {
  border-bottom: 0px;
  margin-bottom: 0px;
}

.modernForm .section .inputWithLabel {
  margin-bottom: 5px;
  margin-top: 5px;
  display: block;
}

.modernForm .section.sectionFullWidth {
  width: 100%;
}

.modernForm .twoSectionsInline {
  display: block;
}
 
.modernForm .centered {
  text-align: center;
}

.modernForm .highlighted {
  color: #f94d06;
}

.modernForm .formRow {
  margin-bottom: 10px;
  line-height: 20px;
}

.modernForm .formRow.extraMargin {
  margin-bottom: 30px;
}

.modernForm .inputDescription {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

.modernForm .inputDescription .formLabelHint {
  margin-left: 20px;
}

.modernForm .inputDescription.oneLine {
  display: block;
}

.modernForm .inputWithButton {
  width: 250px!important;
  margin-right: 10px!important;
}

.modernForm .buttonNextToInput {
  padding-top: 13px;
  padding-bottom: 13px;
}

.columnsContainer {
  display: flex;
  width: 100%;
}

.firstColumn {
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 0;
  margin-right: 10px;
  position: relative;
}

.secondColumn {
  margin-left: 10px;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
}

.maxGrowth {
  flex-basis: initial;
}

.centered {
  text-align: center;
}

.firstColumn.fixedWidth {
  width: 49%;
}

.modernForm input[type="number"], .modernForm input[type="text"], .modernForm input[type="password"], .modernForm input[type="email"] {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  text-align: left;

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.modernForm textarea {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  text-align: left;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-color: #cccccc;
  min-height: 80px;
}

.modernForm input[type="number"].mediumInput, .modernForm input[type="text"].mediumInput {
  width: 200px;
}


.modernForm input[type="number"].shortInput, .modernForm input[type="text"].shortInput {
  width: 70px;
}

.modernForm input[type="number"].cvvInput {
  -moz-appearance:textfield;
}

.modernForm input[type="number"].cvvInput::-webkit-inner-spin-button,
.modernForm input[type="number"].cvvInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modernForm .select {
  width: 100%;
  position: relative;
}

.modernForm .select:before {
  content: '\25bc';
  position: absolute;
  pointer-events: none;
  color: #757575;
  top: 0;
  bottom: 1px;
  padding-top: 0.7em;
  line-height: 1;
  right: 0;
  width: 2em;
  text-align: center;
  transform: scale(0.84, 0.42);
  -webkit-transform: scale(0.84, 0.42);
  -moz-transform: scale(0.84, 0.42);
  -ms-transform: scale(0.84, 0.42);
  -o-transform: scale(0.84, 0.42);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.84, M12=0, M21=0, M22=0.42, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.84, M12=0, M21=0, M22=0.42, SizingMethod='auto expand');
}

.modernForm .select select {
  height: 46px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 2em;
  padding-left: 8px;
  -webkit-appearance: none;
  -moz-appearance:none;

  width: 100%;
  background: white;
  font-size: 16px;
  /*font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  border: 1px solid #cccccc;
  border-radius: 0;
}

.modernForm button {
  font-size:16px;
  font-weight:200;
  padding:8px 25px;
  text-align:center;
  white-space:nowrap;
  text-decoration:none;

  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;

  border:0px solid #808080; /* rgba(180, 38, 0, .2); */

  transition-property: color, background-color;
  -webkit-transition-property: color, background-color;
  -moz-transition-property: color, background-color;

  transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;

  text-shadow: 0px 1px rgba(0, 0, 0, .1);

  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.15);

  cursor:pointer;
}

.modernForm button.big {
   padding: 15px 30px;
}

.buttonsWrapper {
  width: 100%;
  display: block;
  position: relative;
  clear: both;
  text-align: center;
}

.actionButton {
  padding: 5px 10px 5px 10px;
  -webkit-transition: background-color 200ms;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  display: inline-block;
  position: relative;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
}

.actionButton.buttonWithPadding.medium{
  padding: 10px 20px 10px 20px;
}

.actionButton.buttonWithPadding.big{
  padding: 20px 30px 20px 30px;
  font-size: 16px;
}

.modernForm .buttonsWrapper {
  margin-bottom: 5px;
  margin-top: 15px;
}

.modernForm.medium  .select select {
	height: 39px;
  font-size: 13px;
}

.modernForm.medium input[type="number"], .modernForm.medium input[type="text"], .modernForm.medium input[type="password"], textarea  {
  font-size: 13px;
}
/* MODERN FORM */


.standardLink {
	color: #358e49;
    -webkit-transition: color 100ms;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
    cursor: pointer;
}

.standardLink:hover {
	color: #003B04;
}

.header {
	display: block;
	height: 80px;
	padding-left: 40px;
}

.header .logoText {
	font-size: 48px;
	color: #358e49;
}

.menuContainer {
	display: flex;
	background-color: white;
  /*border-bottom: 1px solid #d3e2d6;*/
}

.menuItem {
  background-color: white;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
  cursor: pointer;
  height: 32px;
  padding-top: 6px;
  text-align: center;
  border-right: 1px solid white;
  -webkit-transition: background-color 500ms;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.menuItem.borderLeft {
	border-left: 1px solid white;
}

.menuItem.highlighted {
  background-color: #e97b18;
  color: white;
}

.menuItem.highlighted:hover {
  background-color: #F4BC48;
  border-left: 1px #F4BC48 solid;
}

.menuItem.highlighted:hover .menuItemTitle {
  color: #e97b18;
}

.menuItem:hover {
    background-color: #d3e2d6;
    color: #358e49;
    border-left: 1px #348a47 solid;
}

.menuItem:hover .menuItemTitle {
	color: #358e49;
}


.menuItem .menuItemTitle {
	color: #333333;
	display: block;
	position: relative;
	margin-bottom: 2px;
	font-size: 15px;
  font-weight: 900;

  -webkit-transition: color 500ms linear;
  -ms-transition: color 500ms linear;
  transition: color 500ms linear;
}

.menuItem .menuItemDescription {
	color: #aeaeae;
	font-size: 10px;
	display: block;
	position: relative;

  -webkit-transition: color 500ms linear;
  -ms-transition: color 500ms linear;
  transition: color 500ms linear;
}

.menuItem.highlighted .menuItemDescription {
  color: white;
}

.menuItem .floatingMenu {
  position: absolute;
  top: 38px;
  left: -1px;
  background-color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  width: 200px;
  text-align: left;
  z-index: 10;
  border-left: 1px solid #358e49;
  border-bottom: 1px solid #358e49;
  border-right: 1px solid #358e49;
  font-size: 14px;
}

.menuItem .floatingMenu i {
  position: absolute;
  top: 8px;
  right: 0px;
  font-weight: bold;
  color: #358e49;
}

.menuItem .floatingMenu.wide {
	width: 300px;
}

.menuItem .floatingMenuItemWrapper {
  display: block;
  position: relative;
}

.menuItem .floatingMenu .item {
  display: block;
  border-bottom: 1px solid rgba(187, 217, 188, 0.5);
  padding-bottom: 8px;
  cursor: pointer;
  padding-top: 8px;
  color: #3d3d3e;

  -webkit-transition: color 200ms linear;
  -ms-transition: color 200ms linear;
  transition: color 200ms linear;
}

.menuItem .floatingMenu .item.lastItem, .menuItem .floatingMenuSubitems .subitem.lastItem {
	border-bottom: none;
  padding-bottom: 5px;
}

.menuItem .floatingMenu .item:hover, .menuItem .floatingMenuSubitems .subitem:hover {
	color: #C07330;
}

.menuItem .floatingMenuSubitemsWrapper {
  display: block;
}

.menuItem .floatingMenuSubitems {
  position: absolute;
  left: 320px;
  width: 250px;
  top: 0px;
  background-color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 20px;
  border-top: 1px solid #358e49;
  border-bottom: 1px solid #358e49;
  border-right: 1px solid #358e49;
  border-left: 1px solid rgb(221, 236, 221);
}

.menuItem .floatingMenuSubitems .subitem {
  border-bottom: 1px solid rgba(187, 217, 188, 0.5);
  padding-bottom: 8px;
  cursor: pointer;
  padding-top: 8px;
  color: #3d3d3e;
  display: block;

  -webkit-transition: color 200ms linear;
  -ms-transition: color 200ms linear;
  transition: color 200ms linear;
}

.fullWidthImage {
	height: 350px;
  margin-top: 20px;
	background-size: cover;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sliderContainer {
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 350px;
  overflow:hidden;

}

.imageSlider {
  width: 100%;
  height: 100%;
  display:block;
  color: transparent;
  background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  float:left;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.homePageImage1 {
	background-image: url("/static/images/home/home1.jpg");
}

.homePageImage2 {
  background-image: url("/static/images/home/home2.jpg");
}

.homePageImage3 {
  background-image: url("/static/images/home/home3.jpg");
}

.highlightedSection {
  background-color: rgba(68, 150, 72, 0.14);
}

.natureImage {
  background-image: url("/static/images/horsesSanctuary4.jpg");
  background-position-y: 32%;
}

.familyHorse {
	background-image: url("/static/images/familyHorse.jpg");
}

.threeHorses {
	background-image: url("/static/images/tresCavalls.jpg");
}

.textContainer {
  width: 100%;
	background-color: rgba(0, 0, 0, 0.18);
	padding-top: 20px;
	padding-left: 40px;
	padding-bottom: 20px;
	color: white;
  position: absolute;
  bottom: 0px;
}

.fullWidthImage .pageTitle {
	font-size: 40px;
	display: block;
	position: relative;
	margin-bottom: 10px;
}

.fullWidthImage .pageDescription {
	font-size: 20px;
	display: block;
	position: relative;
}

.primary {
	color: #449648;
}

.complimentary1 {
	color: #9B5417!important;
}

.complimentary1Light {
	color: #C07330;
}

.actionButton.primaryColor {
  background-color: #449648;
  color: white;
}

.actionButton.primaryColor:hover {
  background-color: #426b44;
}

.actionButton.secondaryColor {
  background-color: #e97b18;
  color: white;
}

.actionButton.secondaryColor:hover {
  background-color: #c55e00;
}

.sectionText {
    display: block;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

.sectionText .title {
    display: block;
    font-size: 40px;
    color: #358e49;
    margin-bottom: 10px;
}

.sectionText .subtitle {
    display: block;
    font-size: 25px;
    color: #003B04;
    margin-bottom: 8px;
}

.sectionText .sectionTitle {
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
}

.sectionText .description {
    display: block;
    margin-bottom: 15px;
    line-height: 1.2;
    font-size: 15px;
}

.sectionText .description.ennumeration {
  margin-bottom: 5px;
  background-image: url(/static/images/dot.png);
  background-repeat: no-repeat;
  background-position-x: -3px;
  padding-left: 13px;
  background-size: 15px;
  background-position-y: 3px;
}

.sectionText .description.subEnnumeration {
  margin-bottom: 5px;
  background-image: url(/static/images/dot.png);
  background-repeat: no-repeat;
  background-position-x: -3px;
  padding-left: 20px;
  background-size: 15px;
  background-position-y: 3px;
}


.sectionText .description.bigDescription {
  font-size: 18px;
}

.sectionText .description.largePaddingBottom {
	margin-bottom: 12px;
}

.subSectionText {
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.subSectionText.shortPadding {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.animalCard {
    display: inline-block;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
}

.animalCard:hover {
}

.animalCard.expanded {
  background-color: rgba(202, 218, 208, 1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.animalCard .animalInfo {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.animalCard .snippet {
  font-size: 12px;
  margin-bottom: 10px;
  display: block;
  line-height: 1.2;
}

.animalCard .animalImage {
    display: block;
    margin-bottom: 5px;
    -webkit-transition: opacity 500ms;
    -ms-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}

.animalCard .animalImage:hover {
  opacity: 0.8;
}

.animalCard .animalImage img {
	width: 100%;
	border-radius: 5px;
}

.animalCard .animalName {
	color: #358e49;
  margin-bottom: 5px;
  display: block;
}

.indentedSection {
	padding-left: 10px;
	padding-right: 10px;
}

.largeTopMargin {
  margin-top: 60px;
}

.withTopMargin {
	margin-top: 30px;
}

.calendar {
	margin-left: 20px;
	margin-top: 20px;
	height: 500px;
	width: 800px;
}

.legend {
	padding-top: 20px;
	padding-bottom: 20px;
}

.legend .legendElement {
	display: block;
	padding-bottom: 5px;
	position: relative;
}

.legend .legendElement .legendColor {
    width: 20px;
    height: 10px;
    background-color: black;
    display: inline-block;
    margin-right: 10px;

}

.legend .legendElement .legendColor.visitsNoPartners {
	background-color: #378006;
}

.legend .legendElement .legendColor.night {
  background-color: #3a4373;
}

.legend .legendElement .legendColor.meetingsPartners {
	background-color: #ea7900;
}

.legend .legendElement .legendColor.everyoneWelcome {
	background-color: #0067ea;
}

.legend .legendElement .legendColor.summerKids {
  background-color: #d8d305;
}

.legend .legendElement .legendColor.summerCamps {
  background-color: #86830a;
}

.legend .legendElement .legendColor.holidaysInTheFoundation {
  background-color: #1ab7d2;
}

.legend .legendElement .legendColor.transhumanceColor {
  background-color: #dec74c;
}

.descriptionImage {
	height: 300px;
	border-radius: 2px;
}

.smallImage {
  max-width: 200px;
}

.extraImages {
  margin-top: 40px;
  display: block;
  text-align: center;
  border-top: 1px solid rgba(197, 218, 204, 0.52);
  padding-top: 40px;
  border-bottom: 1px solid rgba(197, 218, 204, 0.52);
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.extraImages img {
  width: 250px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.socialNetworkContainer {
  display: inline-block;
  position: relative;
  top: -6px;
  margin-left: 7px;
}

.socialNetworkContainer .fa {
  margin-right: 5px;
}

.clickableIcon {
  cursor: pointer;
  transition-property: color, background-color;
  -webkit-transition-property: color, background-color;
  -moz-transition-property: color, background-color;

  transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
}

.clickableIcon:hover {
  color: #e97b18;
}

.sponsor {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.separation {
  background-color: #e6e6e6;
  height: 1px;
  width: 100%;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}



.activityCard {
  display: inline-block;
  height: 300px;
  width: 350px;
  /* border-radius: 75px; */
  margin-right: 20px;
  cursor: pointer;
  border: 1px solid rgba(101, 140, 101, 0.24);
  border-radius: 5px;
  -webkit-transition: opacity 500ms;
  -ms-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

.activityCard:hover {
  opacity: 0.8;
}

.activityCard img {
  height: 210px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.activityCard span {
  color: #345834;
  padding-top: 33px;
  text-align: center;
  display: block;
}

.flags {
  position: relative;
  float: right;
}

.flags div {
  width: 26px;
  height: 18px;
  border-radius: 2px;
  background-size: cover;
  cursor: pointer;
  background-position: 50% 50%;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.flags .catalan {
  background-image: url("/static/images/flags/catalan.jpg");
}

.flags .spanish {
  background-image: url("/static/images/flags/spanish.jpg");
}

.flags .english {
  background-image: url("/static/images/flags/english.jpg");
}

.smallLogo {
  width: 70px;
  height: 100px;
  background-image: url(/static/images/marcGiro.png);
  background-size: cover;
  margin: 0 auto;
}

.marcGiroLogo {
  width: 40px;
  height: 60px;
  background-image: url("/static/images/marcGiro.png");
}

.eoliaLogo {
  width: 50%;
  height: 50%;
  cursor: pointer;
}

.poem {
  position: relative;
  padding: 20px;
  text-align: center;
  display: block;
  padding-bottom: 50px;
  padding-top: 40px;
  margin: 0 auto;
}

.poem .verse {
  font-style: italic;
  display: block;
  font-size: 14px;
  line-height: 18px;
}

.poem .verse {
  font-style: italic;
  display: block;
  font-size: 14px;
  line-height: 18px;
}

.poem .author {
  font-style: italic;
  display: block;
  font-size: 14px;
  line-height: 18px;
  float: right;
  margin-top: 15px;
}

.hashtagBlock {
  display: block;
  padding: 20px;
}

.hashtag {
  display: block;
  color: #348a47;
  margin-bottom: 5px;
}