<div class="header" data-bind="create: initializeSite">
	<div class="logos">
		<a href="/">
			<div class="logoHorse"></div>
			<span class="mainTitle">Fundació Miranda</span>
		</a>
	</div>
</div>
<div class="menuContainer">
	<!-- ko foreach: menuItems -->
		<div class="menuItem borderLeft" data-bind="css: {highlighted: highlighted}">
			<a data-bind="event: { mouseover: handleMenuItemMouseover, mouseout: handleMenuItemMouseout }, attr: { href: href }">
				<span class="menuItemTitle" data-bind="attr: {translate: 'menu.title.' + id()}"></span>
				<!-- ko if: subtitle -->
					<span class="menuItemDescription" data-bind="attr: {translate: 'menu.subtitle.' + id()}"></span>
				<!--/ko -->
			</a>
			<!-- ko if: floatingMenu() -->
				<!-- ko with: floatingMenu -->
					<div class="floatingMenu" data-bind="css: {wide: wide}, event: { mouseover: handleFloatingMenuMouseover, mouseout: handleFloatingMenuMouseout }, fadeVisible: visible()">
						<!-- ko foreach: items -->
							<div class="floatingMenuItemWrapper" data-bind="event: { mouseover: function() {handleMenuItemMouseover() && handleFloatingMenuMouseover()}, mouseout: function () {handleMenuItemMouseout() && handleFloatingMenuMouseout()} }">
								<a class="item" data-bind="text: title,  attr: {href: href, target: target}, css: {lastItem: $index() == $parent.items().length - 1}"></a>
								<!-- ko if: floatingMenu() -->
									<!-- ko with: floatingMenu -->
										<!-- ko if: items().length > 0 -->
											<i class="fa fa-angle-right" aria-hidden="true"></i>
										<!-- /ko -->
											<div class="floatingMenuSubitems" data-bind="fadeVisible: visible()">
												<!-- ko foreach: items -->
													<div class="floatingMenuSubitemsWrapper">
														<a class="subitem" data-bind="text: title, attr: {href: href, target: target}, css: {lastItem: $index() == $parent.items().length - 1}"></a>
													</div>
												<!--/ko -->
											</div>
									<!--/ko -->
								<!--/ko -->
							</div>
						<!--/ko -->
					</div>
				<!--/ko -->
			<!--/ko -->
		</div>
	<!-- /ko -->
</div>
<div class="mainContainer">
	<!-- ko with: home-->
	<div data-bind="page: {id: 'start', afterShow: function () {initializeOnPageLoad()}, scrollToTop: false}">
		<!-- ko template: {name: 'whatDoWeDo'} --><!-- /ko -->
	</div>
	<!-- /ko -->

	<div data-bind="page: {id: 'social_contribution', scrollToTop: false}">
		<!-- ko template: {name: 'socialContribution'} --><!-- /ko -->
	</div>

	<div data-bind="page: {id: 'kitchen', scrollToTop: false}">
		<!-- ko template: {name: 'kitchen'} --><!-- /ko -->
	</div>

	<div data-bind="page: {id: 'where', scrollToTop: false}">
		<!-- ko template: {name: 'where'} --><!-- /ko -->
	</div>

	<div data-bind="page: {id: 'team', scrollToTop: false}">
		<!-- ko template: {name: 'team'} --><!-- /ko -->
	</div>

	<!-- ko with: press-->
	<div data-bind="page: {id: 'press', beforeShow: function () {showPress()}, scrollToTop: false}">
		<!-- ko template: {name: 'press'} --><!-- /ko -->
	</div>
	<!-- /ko -->

	<div data-bind="page: {id: 'contact', scrollToTop: false}">
		<!-- ko template: {name: 'contact'} --><!-- /ko -->
	</div>

	<!-- ko with: ourHorses-->
	<div data-bind="page: {id: 'our_horses', scrollToTop: false}">
		<!-- ko template: {name: 'ourHorses'} --><!-- /ko -->
	</div>
	<!-- /ko -->

	<div data-bind="page: {id: 'nature', scrollToTop: false}">
		<!-- ko template: {name: 'nature'} --><!-- /ko -->
	</div>

	<!-- ko with: dogTeam-->
	<div data-bind="page: {id: 'dog_team', scrollToTop: false}">
		<!-- ko template: {name: 'dogTeam'} --><!-- /ko -->
	</div>
	<!-- /ko -->

	<div data-bind="page: {id: 'przewalski', scrollToTop: false}">
		<!-- ko template: {name: 'przewalski'} --><!-- /ko -->
	</div>

	<!-- ko with: animal-->
	<div data-bind="page: {id: 'animal', beforeShow: function () {prepareAnimalToShow()}, scrollToTop: true}">
		<!-- ko template: {name: 'animal'} --><!-- /ko -->
	</div>
	<!-- /ko -->

	<div data-bind="page: {id: 'collaborate', scrollToTop: false}">
		<!-- ko template: {name: 'collaborate', data: sponsor} --><!-- /ko -->
	</div>

	<!-- ko with: sponsor-->
	<div data-bind="page: {id: 'sponsor', scrollToTop: false, afterShow: function () {initialize()}}">
		<!-- ko template: {name: 'sponsor'} --><!-- /ko -->
	</div>
	<!-- /ko -->

	<div data-bind="page: {id: 'become_partner', scrollToTop: false}">
		<!-- ko template: {name: 'becomePartner', data: becomePartner} --><!-- /ko -->
	</div>

	<div data-bind="page: {id: 'become_volunteer', scrollToTop: false}">
		<!-- ko template: {name: 'becomeVolunteer'} --><!-- /ko -->
	</div>

	<!-- ko with: donate -->
	<div data-bind="page: {id: 'donate', scrollToTop: false}">
		<!-- ko template: {name: 'donate'} --><!-- /ko -->
	</div>
	<!-- /ko -->

	<div data-bind="page: {id: 'how_we_spend_donations', scrollToTop: false}">
		<!-- ko template: {name: 'howWeSpendDonations'} --><!-- /ko -->
	</div>

	<div data-bind="page: {id: 'nomads', scrollToTop: false}">
		<!-- ko template: {name: 'nomads'} --><!-- /ko -->
	</div>

	<!-- ko with: meetUs-->
	<div data-bind="page: {id: 'meet_us', afterShow: function () {initializeOnPageLoad()}, scrollToTop: false}">
		<!-- ko if: pager.activePage$().getCurrentId() == "meet_us" -->
			<!-- ko template: {name: 'meet_us'} --><!-- /ko -->
		<!-- /ko -->
	</div>
	<!-- /ko -->

	<!-- ko with: visits-->
	<div data-bind="page: {id: 'visits', afterShow: function () {initializeOnPageLoad()}, scrollToTop: false}">
		<!-- ko if: pager.activePage$().getCurrentId() == "visits" -->
			<!-- ko template: {name: 'visits'} --><!-- /ko -->
		<!-- /ko -->
	</div>
	<!-- /ko -->

	<!-- ko with: holidaysAndRelax-->
	<div data-bind="page: {id: 'holidays_and_relax', afterShow: function () {initializeOnPageLoad()}, scrollToTop: false}">
		<!-- ko if: pager.activePage$().getCurrentId() == "holidays_and_relax" -->
			<!-- ko template: {name: 'holidays_and_relax'} --><!-- /ko -->
		<!-- /ko -->
	</div>
	<!-- /ko -->

	<!-- ko with: cultureAndNature-->
	<div data-bind="page: {id: 'culture_and_nature', afterShow: function () {initializeOnPageLoad()}, scrollToTop: false}">
		<!-- ko if: pager.activePage$().getCurrentId() == "culture_and_nature" -->
			<!-- ko template: {name: 'culture_and_nature'} --><!-- /ko -->
		<!-- /ko -->
	</div>
	<!-- /ko -->

	<!-- ko with: connectToTheLife-->
	<div data-bind="page: {id: 'connect_to_the_life', afterShow: function () {initializeOnPageLoad()}, scrollToTop: false}">
		<!-- ko if: pager.activePage$().getCurrentId() == "connect_to_the_life" -->
			<!-- ko template: {name: 'connect_to_the_life'} --><!-- /ko -->
		<!-- /ko -->
	</div>
	<!-- /ko -->

	<!-- ko with: transhumance-->
	<div data-bind="page: {id: 'transhumance', afterShow: function () {initializeOnPageLoad()}, scrollToTop: false}">
		<!-- ko if: pager.activePage$().getCurrentId() == "transhumance" -->
			<!-- ko template: {name: 'transhumance'} --><!-- /ko -->
		<!-- /ko -->
	</div>
	<!-- /ko -->

	<div data-bind="page: {id: 'przewalskiProject', scrollToTop: false}">
		<!-- ko if: pager.activePage$().getCurrentId() == "przewalskiProject" -->
			<!-- ko template: {name: 'przewalskiProject'} --><!-- /ko -->
		<!-- /ko -->
	</div>

	<div data-bind="page: {id: 'communicateWithHorses', scrollToTop: false}">
		<!-- ko if: pager.activePage$().getCurrentId() == "communicateWithHorses" -->
			<!-- ko template: {name: 'communicateWithHorses'} --><!-- /ko -->
		<!-- /ko -->
	</div>

	<!-- ko with: kidsAndTeens-->
	<div data-bind="page: {id: 'kids_and_teens', afterShow: function () {initializeOnPageLoad()}, scrollToTop: false}">
		<!-- ko if: pager.activePage$().getCurrentId() == "kids_and_teens" -->
			<!-- ko template: {name: 'kids_and_teens'} --><!-- /ko -->
		<!-- /ko -->
	</div>
	<!-- /ko -->

	<!-- ko with: summerCampKids-->
	<div data-bind="page: {id: 'summer_camp_kids', afterShow: function () {initializeOnPageLoad()}, scrollToTop: false}">
		<!-- ko if: pager.activePage$().getCurrentId() == "summer_camp_kids" -->
			<!-- ko template: {name: 'summer_camp_kids'} --><!-- /ko -->
		<!-- /ko -->
	</div>
	<!-- /ko -->

	<!-- ko with: summerCampTeens-->
	<div data-bind="page: {id: 'summer_camp_teens', afterShow: function () {initializeOnPageLoad()}, scrollToTop: false}">
		<!-- ko if: pager.activePage$().getCurrentId() == "summer_camp_teens" -->
			<!-- ko template: {name: 'summer_camp_teens'} --><!-- /ko -->
		<!-- /ko -->
	</div>
	<!-- /ko -->

	<!-- ko with: holidaysInTheFoundation-->
	<div data-bind="page: {id: 'holidays_in_the_foundation', afterShow: function () {initializeOnPageLoad()}, scrollToTop: false}">
		<!-- ko if: pager.activePage$().getCurrentId() == "holidays_in_the_foundation" -->
			<!-- ko template: {name: 'holidays_in_the_foundation'} --><!-- /ko -->
		<!-- /ko -->
	</div>
	<!-- /ko -->



	<!-- FOOTER -->
	<!-- ko with: footer-->
		<!-- ko template: {name: 'footer'} --><!-- /ko -->
	<!-- /ko -->
</div>
