<div class="header">
	<!-- <h1 class="logoText">Fundació Projecte Miranda</h1> -->
	<div class="logos">
		<!-- <div class="logoHorse"></div> -->
		<div class="logoName"></div>
	</div>
</div>
<div class="menuContainer">
	<!-- ko foreach: menuItems -->
		<div class="menuItem borderLeft">
			<a data-bind="event: { mouseover: handleMenuItemMouseover, mouseout: handleMenuItemMouseout }, attr: { href: href }">
				<span class="menuItemTitle" data-bind="text: title"></span>
				<!-- ko if: subtitle -->
					<span class="menuItemDescription" data-bind="text: subtitle"></span>
				<!--/ko -->
			</a>
			<!-- ko if: floatingMenu() && floatingMenu().visible() -->
				<!-- ko with: floatingMenu -->
					<div class="floatingMenu" data-bind="css: {wide: wide}, event: { mouseover: handleFloatingMenuMouseover, mouseout: handleFloatingMenuMouseout }">
						<!-- ko foreach: items -->
							<a class="item" data-bind="text: title, attr: {href: href, target: target}"></a>
						<!--/ko -->
					</div>
				<!--/ko -->
			<!--/ko -->
		</div>
	<!-- /ko -->
</div>
<div class="mainContainer">
	<div data-bind="page: {id: 'start'}">
		<!-- ko template: {name: 'whatDoWeDo'} --><!-- /ko -->
	</div>
	<div data-bind="page: {id: 'our_horses'}">
		<!-- ko template: {name: 'ourHorses'} --><!-- /ko -->
	</div>

	<div data-bind="page: {id: 'become_partner'}">
		<!-- ko template: {name: 'becomePartner', data: becomePartner} --><!-- /ko -->
	</div>

	<div data-bind="page: {id: 'become_volunteer'}">
		<!-- ko template: {name: 'becomeVolunteer'} --><!-- /ko -->
	</div>

	<!-- ko with: visits-->
	<div data-bind="page: {id: 'visits', afterShow: function () {initializeOnPageLoad()}}">
		<!-- ko template: {name: 'visits'} --><!-- /ko -->
	</div>
	<!-- /ko -->
</div>