<div class="sectionText">
	<span class="title">Vols formar part de l’Equip de Voluntaris de la Fundació Miranda?</span>
	<span class="description">Podràs ajudar-nos en dies puntuals en les tasques de la finca. Un dia per setmana, treballant amb nosaltres en aquest entorn privilegiat de natura i entre els animals recuperats per la Fundació.</span>

	<div class="subSectionText">
		<span class="subtitle">El programa</span>

		<span class="description largePaddingBottom">Fundació Miranda es troba a la Serra de Catllaràs, a 30 minuts per pista forestal de Sant Julià de Cerdanyola (Guardiola de Berguedà), Castell de l’Areny, la Pobla de Lillet i Vilada, en un Espai Protegit d’Interès Natural de l’Alt Berguedà.</span>
		<span class="description largePaddingBottom">Oferim la possibilitat de passar un dia amb nosaltres i amb els cavalls, gossos, i altres animals recuperats que viuen en llibertat, a canvi de donar suport a la fundació amb la teva feina.</span>

		<span class="description largePaddingBottom">Les tasques s’efectuen en grup i gairebé sempre a l’aire lliure, per la qual cosa has d’estar disposat a treballar amb sol i amb pluja, a matinar, a ajudar en projectes de millora de la finca que poden ser intensos però positius.</span>

		<span class="description largePaddingBottom">Cal respectar tots els animals que viuen a la Fundació i les NORMES o l’ordre establert per a la seguretat d’aquests animals, i el seu procés d’adaptació que és diferent en cada cas. Per evitar l’estrés de tots plegats, no es pot venir acompanyat de gos.</span>

		<span class="description largePaddingBottom">Cal saber respectar a cada individu, humans i animals, treballar en equip i acceptar les indicacions dels responsables.</span>

		<span class="description largePaddingBottom">Durada i compromís amb el Grup: 3 mesos amb implicació mínima d’un dia al mes.
		La convocatòria dels voluntaris és un dia a la setmana, generalment dimecres o dijous.</span>

		<span class="description">No és possible quedar-se a dormir tret de convocatòries especials.
		Es demana un dia de prova mútua per ser acceptat a l’equip.</span>
	</div>


	<div class="subSectionText">
		<span class="subtitle">Requisits</span>
		<span class="description">- Ser major de 18 anys.</span>
		<span class="description">- Tenir carnet de conduir i cotxe (en algun cas es pot facilitar el transport compartint vehicle amb altres voluntaris).</span>
		<span class="description">- Ser amant dels animals i del medi ambient.</span>
		<span class="description">- Estar en bona forma física.</span>
		<span class="description">- No s’admeten animals ja que la seva presència podria causar estrés o algun accident, donat que els animals de la Fundació campen lliurement.</span>
	</div>


	<div class="subSectionText">
		<span class="subtitle">Projecte i tasques</span>
		<span class="description largePaddingBottom">Són força diversos i gairebé sempre relacionats amb la sostenibilitat i la millora de la finca i de la vida dels animals.</span>

		<span class="description">- Construcció de tancats per augmentar espai de pastura de gallines, porcs i gossos.</span>
		<span class="description">- Construcció de tanca de fusta per delimitar i millorar la seguretat dels usuaris.</span>
		<span class="description">- Habilitació i neteja de corrals.</span>
		<span class="description">- Neteja de bosc i recollida de llenya.</span>
		<span class="description">- Feines de Bioconstrucció per recuperació d’antigues construccions.</span>
		<span class="description">- Reconstrucció de marges de pedra seca.</span>
		<span class="description">- Plantació de fruiters i protecció amb tutors.</span>
		<span class="description">- Ajuda a les tasques de l’hort i de cultius (permacultura).</span>
		<span class="description">- Segar espais puntuals per evitar proliferació d’ herbes adventícies.</span>
		<span class="description">- Recol·lecció, assecat i envasat de plantes aromàtiques i medicinals o de fruits.</span>
		<span class="description">- Tasques de manteniment d’infraestructures (tancats, revisió de filat elèctric dels espais dels cavalls, posar oli a bigues exterior, taules zona pícnic, bancs).</span>
		<span class="description">- Cures i desparasitació del cavalls.</span>
		<span class="description">- Supervisió, socialització i desparasitació del cavalls a altres espais de pastura.</span>
		<span class="description largePaddingBottom">- Raspallat dels gossos.</span>
		<span class="description">No és necessari que sàpigues fer totes les tasques, en pots fer només algunes.</span>
	</div>



	<div class="subSectionText">
		<span class="subtitle">Avantatges</span>
		
		<span class="description">- Per ser membre de l’Equip de Voluntaris de Miranda, tens dret a l’ús de les instal·lacions el dia que vens a ajudar (wifi, carregar mòbil, espai interior per la pausa, per dinar, wc, dutxa, aigua i zona de pícnic...) i gaudiràs d’un entorn privilegiat i saludable.</span>
		<span class="description">- Assegurança de responsabilitat civil i de voluntariat.</span>
		<span class="description">- Dret a venir a les Trobades de Socis i Padrins amb un acompanyant o família.</span>
	</div>

	<div class="subSectionText">
		<span class="subtitle">No inclòs en el programa de voluntariat</span>
		<span class="description">- Despeses de viatge i desplaçament.</span>
		<span class="description">- Alimentació. Cal portar entrepà o tupper.</span>
		<span class="description">- Assegurança mèdica.</span>
	</div>

	<span class="description largePaddingBottom">SI VOLS PARTICIPAR, escriu-nos a <a class="standardLink bold" href="mailto:fundacio@projectemiranda.cat">fundacio@projectemiranda.cat</a> i fes constar el teu número de telèfon.</span>


</div>
