<div class="sectionText">
  <span class="title">Fes-te soci de la Fundació!</span>
	<div class="columnsContainer">
		<div class="firstColumn">
  		<span class="description">Si et fas soci podràs gaudir de la bona energia vital dels cavalls de la fundació i del “petit” paradís natural del Pla de l’Orri, a les trobades de socis i padrins que periòdicament anem organitzant. També gaudiràs de descomptes si vols realitzar alguna de les nostres activitats. Deixa’ns les teves dades, et contactarem aviat!</span>
			<span class="description">Els socis aporten <strong>10€</strong> mensuals per contribuir a realitzar la nostra tasca social i a mantenir aquest espai natual.</span>

			<span class="description primary bigDescription bold">Moltes gràcies!</span>
		</div>

		<div class="secondColumn centered">
			<img class="descriptionImage" src="/static/images/becomePartner.jpg" />
		</div>

	</div>
</div>  


<!-- ko template: {name: 'commerceForm', data: form} --><!-- /ko -->