<div class="sectionText">
  <span class="title">Fes-te soci de la Fundació!</span>
  <span class="description">Si et fas soci podràs gaudir de la bona energia vital dels cavalls de la fundació i del “petit” paradís natural del Pla de l’Orri, a les trobades de socis i padrins que periòdicament anem organitzant. També gaudiràs de descomptes si vols realitzar alguna de les nostres activitats. Deixa’ns les teves dades, et contactarem aviat!</span>
</div>
<div class="fullWidthImage familyHorse"></div>

<!-- ko template: {name: 'commerceForm', data: form} --><!-- /ko -->