<div class="subSectionText">
	<span class="sectionTitle">Calendari</span>
	<span class="description">Fes clic a la data que vulguis venir:</span>
</div>

<div class="calendar">
	<div id='calendar'></div>
</div>

<div class="legend">
	<span class="subtitle complimentary1">Llegenda de colors</span>
	<div class="indentedSection">
		<div class="legendElement">
			<div class="legendColor visitsNoPartners"></div><span class="legendItemDescription">Visites solidàries per a no socis</span>
		</div>
		<div class="legendElement">
			<div class="legendColor meetingsPartners"></div><span class="legendItemDescription">Trobades de socis i padrins</span>
		</div>
		<div class="legendElement">
			<div class="legendColor everyoneWelcome"></div><span class="legendItemDescription">Visites obertes a tothom (socis i no socis)</span>
		</div>
	</div>
</div>