<div class="subSectionText">
	<span class="sectionTitle">Calendari</span>
	<span class="description">Fes clic a la data que vulguis venir:</span>
</div>

<div class="calendar">
	<div data-bind="attr: {id: calendarId}"></div>
</div>

<div class="legend">
	<span class="subtitle complimentary1">Llegenda de colors</span>
	<div class="indentedSection">
		<div class="legendElement">
			<div class="legendColor visitsNoPartners"></div><span class="legendItemDescription">Un dia entre cavalls lliures</span>
		</div>
		<div class="legendElement">
			<div class="legendColor meetingsPartners"></div><span class="legendItemDescription">Cultura i natura</span>
		</div>
		<div class="legendElement">
			<div class="legendColor summerKids"></div><span class="legendItemDescription">Campaments d'estiu (6-13 anys)</span>
		</div>
		<div class="legendElement">
			<div class="legendColor summerCamps"></div><span class="legendItemDescription">Camps de treball (13-17 anys)</span>
		</div>
	</div>
</div>