<div class="">
	<div class="sectionText">
		<span class="title">Castanyada entre cavalls lliures!</span>
		<span class="subtitle">Nit de Castanyada al Pla de l’Orri, seu de la Fundació Miranda l’Alt Berguedà.</span>

		<div class="indentedSection">
			<div class="columnsContainer">
				<div class="firstColumn">
					<span class="description">Una nit per compartir en una muntanya màgica, amb silenci, prop del foc, els cavalls, tota la força de la natura i l’esperit del bosc de tardor.</span>
					<span class="description">Un entorn privilegiat per passar aquesta nit i celebrar l’endemà la sortida dels cavalls de la Fundació en Transhumància cap a Montserrat i el Garraf, pel Camí de Marina.</span>

					<div class="subSectionText">
						<span class="sectionTitle">Data</span>
						<span class="description">31 d’octubre (inici 18h) i 1 de novembre (acabament, després d’esmorzar i comiat dels cavalls, o a mitja tarda si vens amb nosaltres el primer dia de Transhumància.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Àpats</span>
						<span class="description">Sopar i esmorzar Vegetarià/vegà ecològic i Km0.</span>
						<span class="description">Pícnic dia de tots Sants (per als que facin la Transhumància)</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Dormir</span>
						<span class="description">En sala compartida al Pla de l’Orri o be al refugi de Sant Romà de la Clusa, a 2kms de la Fundació.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Preu</span>
						<span class="description"><span class="bold">Opció Castanyada:</span> 80€ sopar, dormir, esmorzar i comiat dels cavalls.</span>
						<span class="description"><span class="bold">Opció Castanyada + 1a etapa de la Transhumància:</span> 150€<span class="bold black">*</span> incloent el pícnic del dinar.</span>
						<span class="description"><span class="bold green">(*) Els socis de la Fundació tenen un descompte de 25 euros i els padrins tenen un descompte de 60 euros.</span></span>
						<div class="buttonsWrapper">
							<a href="https://www.eventbrite.com/e/entradas-castanyada-entre-cavalls-lliures-38703153173">
								<div class="actionButton primaryColor big buttonWithPadding">Apunta-t'hi!</div>
							</a>
						</div>
					</div>
				</div>

				<div class="secondColumn">
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/cavallsNeu.jpg" />
					</div>
					<div class="subSectionText centered">
						<img class="descriptionImage roundedImage" src="/static/images/castanyada.jpg" />
					</div>
				</div>
			</div>
		</div>

		<!-- ko template: {name: 'calendar', data: calendar} --><!-- /ko -->
	</div>
</div>
