<!-- ko with: sponsor -->
	<div class="sectionText" data-bind="create: initialize">
	  <span class="title">Col·labora amb la Fundació</span>
		<div class="columnsContainer">
			<div class="firstColumn">
	  		<span class="description">Ajuda'ns a fer sostenible la tasca de recuperació i manteniment dels cavalls, i la vessant social de la Fundació (intervencions gratuïtes per a col·lectius i persones amb risc d’exclusió social), i gaudeix de la natura i de l’enegia dels cavalls lliures. Mensualment organitzem trobades de socis i padrins.</span>

				<span class="description">Els Socis-Amics es vinculen a la Fundació i als animals que en formen part, constituint una xarxa de suport del Projecte. Participen a les Jornades i trobades de Socis i padrins que anem organitzant durant tot l’any, i que permet visitar la finca i els cavalls, gaudint i compartint un dia en plena natura. Els Padrins estableixen un vincle amb un dels cavalls de la Fundació, el poden visitar en el magnífic entorn natural on viu en ramat, voltat d’ltre scavalls, cérvols, isards...,reben fotos i informació sobre el seu desenvolupament, i participen també a les jornades de sòcis i padrins que anem programant. Vols viure una gran experiència? Els cavalls que viuen en plenitud, tenen molt per donar.</span>
			</div>

			<div class="secondColumn centered">
				<img class="descriptionImage" src="/static/images/collaborate.jpg" />
			</div>
		</div>

	  <span class="title complimentary1">Com pots col·laborar?</span>
		<div class="indentedSection withTopMargin">
			<div class="columnsContainer">
				<div class="firstColumn">
					<span class="subtitle">Fes-te soci</span>
					<span class="description">Si et fas soci podràs gaudir de la bona energia vital dels cavalls de la fundació i del “petit” paradís natural del Pla de l’Orri, a les trobades de socis i padrins que periòdicament anem organitzant. També gaudiràs de descomptes si vols realitzar alguna de les nostres activitats.</span>
					<span class="description italic">Els socis/es aporten 10 euros mensuals per ajudar-nos a recuperar i cuidar els cavalls, a realitzar la nostra tasca social i a mantenir aquest espai natual.</span>
					<div class="buttonsWrapper">
						<a href="/become_partner">
							<div class="actionButton primaryColor buttonWithPadding big">Fes-te soci</div>
						</a>
					</div>
				</div>
				<div class="secondColumn centered">
					<img class="descriptionImage" src="/static/images/collaborate1.jpg" />
				</div>
		  </div>
		</div>

		<div class="indentedSection withTopMargin">
			<div class="columnsContainer">
				<div class="firstColumn centered">
					<img class="descriptionImage" src="/static/images/collaborate2.jpg" />
				</div>
				<div class="secondColumn">
					<span class="subtitle">Apadrina un cavall</span>
					<span class="description">Estableix un fort vincle d’amistat i amor amb un dels nostres cavalls recuperats. Rebràs fotografies i informació de l’evolució del “teu”cavall i el podràs venir a veure a les trobades de socis i padrins. També gaudiràs de descomptes si vols realitzar alguna de les nostres activitats.</span>
					<span class="description italic">Els padrins/es aporten 60 euros mensuals per ajudar-nos a recuperar i cuidar els cavalls, a realitzar la nostra tasca social i a mantenir aquest espai natual.</span>
					<div class="buttonsWrapper">
						<a href="/sponsor">
							<div class="actionButton primaryColor buttonWithPadding big">Apadrina</div>
						</a>
					</div>
				</div>
		  </div>
	  </div>

		<div class="indentedSection withTopMargin">
			<div class="columnsContainer">
				<div class="firstColumn">
					<span class="subtitle">Fes un donatiu</span>
					<span class="description">Per nosaltres tota aportació, per molt petita que sigui, serà de gran ajuda. No t’oblidis d’indicar-nos el teu nom i el teu correu electrònic! Et contactarem per enviar-te el rebut del donatiu. I per donar-te les gràcies!</span>
					<span class="description italic">Recorda que el teu donatiu pot comptar amb el desgravament fiscal: Persones Jurídiques 35% – Persones Físiques 25% (Llei 49/2002, de 23 de desembre).</span>
					<div class="buttonsWrapper" data-bind="click: donate">
						<div class="actionButton primaryColor buttonWithPadding big">Dóna</div>
					</div>
				</div>
				<div class="secondColumn centered">
					<img class="descriptionImage" src="/static/images/collaborate3.jpg" />
				</div>
		  </div>
		</div>

		<div class="indentedSection withTopMargin">
			<div class="columnsContainer">
				<div class="firstColumn centered">
					<img class="descriptionImage" src="/static/images/collaborate4.jpg" />
				</div>
				<div class="secondColumn">
					<span class="subtitle">Amb 1€ també ens pots ajudar!</span>
					<span class="description">Pots donar-nos suport amb una <strong>aportació d’1 € al mes</strong> a través del Teaming.</span>
					<span class="description italic"><strong>Teaming</strong> és una iniciativa solidària de microdonacions que funciona des de l’any 1998, impulsada per Jil Van Eyle després del naixement de la seva primera filla, Mònica, amb una greu malaltia anomenada hidrocefàlia. Des de llavors, són moltes les persones que col·laboren amb diferents causes socials. Per nosaltres tota aportació, per molt petita que sigui, serà de gran ajuda.</span>
					<div class="buttonsWrapper">
						<a target="_blank" href="https://www.teaming.net/fundaciomiranda">
							<div class="actionButton primaryColor buttonWithPadding big">Uneix-te al nostre grup de Teaming!</div>
						</a>
					</div>
				</div>
		  </div>
	  </div>
	</div> 
<!-- /ko -->