<div class="sectionText modernForm medium">
  <div class="formRow">
    <span class="subtitle" data-bind="text: title"></span>
  </div>
  <div class="subSectionText">
    <div data-bind="visible: notDoneYet">
      <div class="formRow">
        <div class="columnsContainer">
          <div class="firstColumn">
            <span class="inputDescription">Nom i cognoms</span>
            <input class="fullWidthInput" type="text" data-bind="value: name, valueUpdate: 'input'" />
          </div>
          <div class="secondColumn">
            <span class="inputDescription">Email</span>
            <input class="fullWidthInput" type="text" data-bind="value: email, valueUpdate: 'input'" />
          </div>
        </div>
      </div>

      <div class="formRow">
        <div class="columnsContainer">
          <div class="firstColumn">
            <span class="inputDescription">Adreça</span>
            <input class="fullWidthInput" type="text" data-bind="value: address, valueUpdate: 'input'" />
          </div>
          <div class="secondColumn">
            <span class="inputDescription">Codi postal</span>
            <input class="fullWidthInput" type="text" data-bind="value: postalCode, valueUpdate: 'input'" />
          </div>
        </div>
      </div>

      <div class="formRow">
        <div class="columnsContainer">
          <div class="firstColumn">
            <span class="inputDescription">Població</span>
            <input class="fullWidthInput" type="text" data-bind="value: city, valueUpdate: 'input'" />
          </div>
          <div class="secondColumn">
            <span class="inputDescription">Com ens has conegut?</span>
            <input class="fullWidthInput" type="text" data-bind="value: meet, valueUpdate: 'input'" />
          </div>
        </div>
      </div>

      <div class="formRow">
        <div class="columnsContainer">
          <div class="firstColumn">
            <span class="inputDescription">Telèfon</span>
            <input class="fullWidthInput" type="text" data-bind="value: phone, valueUpdate: 'input'" />
          </div>

          <div class="secondColumn">
            <span class="inputDescription">Quantitat que vols aportar mensualment</span>
            <div class="select">
              <div class="select">
                <select data-bind="options: availableContributions, optionsValue: 'value', optionsText: 'label', value: contribution, disable: disableContribution"></select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="formRow">
        <div class="columnsContainer">
          <div class="firstColumn">
            <span class="inputDescription">Compte bancari on fer la domiciliació</span>
            <input class="fullWidthInput" type="text" data-bind="value: bankAccount, valueUpdate: 'input'" />
          </div>
          <div class="secondColumn">
            <span class="inputDescription">Titular del compte</span>
            <input class="fullWidthInput" type="text" data-bind="value: owner, valueUpdate: 'input'" />
          </div>
        </div>
      </div>


      <div class="formRow">
        <div class="columnsContainer">
          <div class="firstColumn fixedWidth">
            <span class="inputDescription">Document d'identitat</span>
            <div class="select">
              <div class="select">
                <select data-bind="options: availableIdTypes, optionsValue: 'value', optionsText: 'label', value: idType"></select>
              </div>
            </div>
          </div>

          <div class="secondColumn">
            <span class="inputDescription">Número del document</span>
            <input class="fullWidthInput" type="text" data-bind="value: idNumber, valueUpdate: 'input'" />
          </div>
        </div>
      </div>

      <div class="formRow" data-bind="visible: showHorses">
        <div class="firstColumn fixedWidth">
          <span class="inputDescription">Cavall per apadrinar</span>
          <div class="select">
            <div class="select">
              <select data-bind="options: availableHorses, optionsValue: 'id', optionsText: 'name', value: selectedHorse, optionsCaption: 'Selecciona...'"></select>
            </div>
          </div>
        </div>
      </div>

      <div class="formRow" data-bind="">
        <div class="columnsContainer">
          <div class="firstColumn fixedWidth">
            <input id="newsletterCheck" type="checkbox" data-bind="checked: newsletter" /> <label for="newsletterCheck">Vull subscriure'm a la newsletter de la Fundació Miranda</label>
          </div>
        </div>
      </div>

      <div class="buttonsWrapper">
        <button class="actionButton primaryColor big" data-bind="click: send, text: sendText"></button>
      </div>
    </div>

    <div class=""  data-bind="visible: !notDoneYet()">
      <div class="description primary bigDescription bold">Formulari enviat! </div>
      <div class="description ">Moltes gràcies per ajudar a la Fundació. Ben aviat contactarem amb tu!</div>
      <div class="description ">En el cas que arribés el moment que us volguessiu donar de baixa, penseu que caldrà fer-ho durant el mes anterior , així a la remesa del mes següent ja no s'us cobrarà la quota.</div>

    </div>

  </div>
</div>
