<div class="" data-bind="">
	<div class="sectionText">
		<span class="subtitle">Diumenge 24 de setembre de 2017</span>
		<span class="title">Jornada de Comunicació Natural amb cavalls</span>
		<span class="subtitle complimentary1">A càrrec d'Àngels Gol</span>
		<div class="indentedSection">
			<div class="columnsContainer">
				<div class="firstColumn">
					<span class="description">Aprèn a comunicar-te amb els cavalls i millora la teva relació amb ells!</span>
					<span class="description">Format de masterclass i treball pràctic per part dels participants, amb els cavalls de la Fundació Miranda.</span>
					<span class="description ennumeration"><label class="primary">Data:</label> Diumenge 24 de setembre de 2017.</span>
					<span class="description ennumeration"><label class="primary">Lloc:</label> Fundació Miranda. Pla de l’Orri (Serra de Catllaràs), Alt Berguedà.</span>
					<span class="description ennumeration"><label class="primary">Hora i Lloc de trobada:</label> 9.00h Sant Julià de Cerdanyola.</span>
					<span class="description ennumeration"><label class="primary">Horari de Final de la jornada:</label> 18.30h</span>
					<span class="description ennumeration"><label class="primary">Preu de la jornada:</label>
					<span class="description subEnnumeration">Participants actius (treball pràctic amb cavall): 100€.</span>
					<span class="description subEnnumeration">Oients: 80€.</span>
					<span class="description subEnnumeration">Dinar Bio i Km 0: 15€ (opció de portar-se pícnic de casa).</span>
					<div class="buttonsWrapper marginTop">
						<a href="https://www.eventbrite.com/e/entradas-jornada-de-comunicacio-natural-amb-cavalls-37365661700" target="_blank">
							<div class="actionButton primaryColor buttonWithPadding big">Apunta't aquí!</div>
						</a>
					</div>
				</div>
				<div class="secondColumn">
					<div class="centered">
						<img class="descriptionImage" src="/static/images/angels1.jpg" />
					</div>
				</div>
			</div>
		</div>

		<div class="indentedSection withTopMargin">
				<div class="columnsContainer">
					<div class="firstColumn">
						<div class="subSectionText">
							<div class="centered">
								<img class="descriptionImage" src="/static/images/angels2.jpg" />
							</div>
						</div>
					</div>
					<div class="secondColumn">
						<div class="subSectionText">
							<span class="sectionTitle">Sobre l’Àngels Gol</span>
							<div class="description">El meu primer contacte amb cavalls, va ser quan tenia 8 anys. Em van apassionar! Vaig començar a muntar al poble, passejant pels carrers de terra, pels camps, i vaig començar a saltar i a concursar. Van passar els anys i vaig dedicar-me a aquest món. M’he format amb diferents mestres arreu d'Espanya, Europa i EE.UU.</div>
							<span class="description">He entrenat cavalls de curses, fent salt, complet, preparant nens per competició, domant poltres i formant professionals. He estat entrenadora de la Selecció Catalana de Pentatló Modern i de la Selecció Espanyola de Pentatló Modern al campionat del món a Hongria.</span>
							<span class="description bold">Però un bon dia vaig conèixer la comunicació natural. A partir d'aquí vaig fer un canvi radical i ja fa 13 anys que m'hi dedico plenament.</span>
							<span class="description">He estat docent en el post grau per Hipoterapeutes a la Universitat de Fisioteràpia Gimbernat i docent en el post grau per Fisioterapeutes equins a la Universitat de Veterinària de Bellaterra.</span>
						</div>
					</div>
				</div>
		</div>
		
		<div class="indentedSection">
			<div class="fullWidth">
				<span class="description">He col.laborat amb <strong>Luis Lucio</strong>, genet olímpic de Doma Clàssica i he treballat amb <strong>Albert Hermoso</strong>, genet internacional de Concurs Complet d'Equitació ( CCE ), i <strong>Lauro Aguiló</strong>,  genet internacional de Doma Clàssica, entre d'altres.</span>
				<span class="description">El que m'ha aportat aquest canvi ha estat trobar una relació amb els cavalls de satisfacció plena, d'estar i ser més propera a ells.</span>
				<span class="description bold">El meu objectiu és poder ajudar als cavalls a estar més bé, i directament a les persones que es relacionen amb ells.</span>
			</div>
		</div>

		<div class="indentedSection withTopMargin">
			<div class="columnsContainer">
				<div class="firstColumn">
					<div class="subSectionText">
						<span class="sectionTitle">Titulacions</span>
						<div class="description ennumeration">Grooms certificate ABRS</div>
						<div class="description ennumeration">Teaching Certificate ABRS</div>
						<div class="description ennumeration">Monitor d'Equitació (El Viejo Roble)</div>
						<div class="description ennumeration">Tècnic d'Esport Base en Equitació (TEB1)</div>
						<div class="description ennumeration">Jutge Territorial de Doma Clàssica</div>
						<div class="description ennumeration">Instructora Parelli * * (Doma Natural)</div>
						<div class="description">Actualment desenvolupo i treballo amb el meu propi sistema d’apropament i entrenament del cavall, en relació a les persones.</div>
					</div>
				</div>
				<div class="secondColumn">
					<div class="subSectionText">
						<img class="descriptionImage" src="/static/images/angels3.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
