<!-- ko with: connectToTheLife -->
	<div class="modernForm" data-bind="create: initializeOnPageLoad">
		<div class="sectionText">
			<!-- span class="subtitle">Divendres 6, dissabte 7 i diumenge 8 d’octubre 2017</span -->
			<span class="title">Constel·lacions Sistèmiques amb Cavalls en Llibertat</span>
			<div class="indentedSection">
				<div class="columnsContainer">
					<div class="firstColumn">
						<span class="description">Vols gaudir de la natura i fer salut?</span>
						<span class="description">Vine amb mi a la Fundació Miranda per viure aquesta experiència, a la natura i entre cavalls lliures!</span>


						<div class="subSectionText">
							<span class="sectionTitle">Què viurem en aquest dia de constel·lacions sistèmiques assistides amb cavall?</span>
							<span class="description">Què viurem en aquest dia de constel·lacions sistèmiques assistides amb cavall? Podrem viure l’experiència de que, en una constel·lació familiar, els cavalls quan fan de representants, responen de forma similar a les persones, i m’atreveixo a dir, amb moltes menys influencies i filtres.</span>
							<span class="description">Les constel·lacions sistémiques assistides amb cavalls, ens permeten donar una mirada més amplia als nostres conflictes i problemes, i així poder fer els canvis d’una forma més integradora i amorosa, per a totes les parts implicades.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Dates i lloc</span>
							<span class="description">24 de març i 05 de maig de 2019</span>
							<span class="description">L'activitat començarà a les 10:30h i acabarà a les 16:00h, amb una pausa per dinar.</span>
							<span class="description">Parc del Garraf, Olivella.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Què farem?</span>
							<span class="description ennumeration">Presentació de la Fundació Miranda.</span>
							<span class="description ennumeration">Explicarem que son les constel·lacions i què ens podem aportar, i la diferència entre constel·lacions amb cavalls o amb persones.</span>
							<span class="description ennumeration">Anirem fent un passeig en busca dels cavalls de la Fundació</span>
							<span class="description ennumeration">Farem el numero de constel·lacions que els cavalls ens permetin, ja que, pel fet d’estar lliures i poder decidir, seran ells qui donaran les pautes horàries, que respectarem escrupolosament. També podrem combinar, si els cavalls decideixen marxar, constel·lacions amb persones com a representants. En aquest cas podríem constel·lar per animals, es dir, que les constel·lacions amb persones com a representants, puguin ajudar a donar veu als animals que, entre els assistents, ho necessitin.</span>
							<span class="description ennumeration">Combinarem constel·lacions i explicacions sobre el cavalls de la Fundació, tocant temes com el comportament i vida dels cavalls en el seu context natural. Què és un cavall de veritat (què li agrada i què no, què necessita i què no, relacions socials, vincles d'amistat, ordre sistèmic, com s'organitzen i com es comuniquen).</span>
							<span class="description ennumeration">Aprendrem i observarem alguns signes del seu llenguatge corporal.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Faciliten</span>
							<span class="description"><span class="bold green">Anna Álvarez Crispi</span> - Coach sistèmica transaccional, Formadora assistida amb cavalls, infermera i kinesiòloga. Docent en el Postgrau d Educació emocional i benestar de la UB. - <a href="http://www.constelacionesconcaballos.com/" target="_blank" class="standardLink">Web personal.</a></span>
							<span class="description"><span class="bold green">Rosa Galindo Solé</span> - Actriu i cantant, Cofundadora d’Eòlia Escola Superior d’Art Dramàtic, Cofundadora de Fundació Miranda i Professora Associada de Fitzmaurice Voicework.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Preu</span>
							<span class="description">110€. Si fas l’ingrés abans del 25 de febrer, només 95 €.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Per dinar</span>
							<span class="description">Per dinar farem picnic en el mateix parc, així que tothom porti el que li sembli millor</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Com m'apunto?</span>
							<span class="description">Envia un email <a href="mailto:eolia@eolia.cat" class="standardLink">eolia@eolia.cat</a> amb <a href="http://www.eolia.cat/wp-content/uploads/2017/11/INSCRIPCIONS-GARRAF-TALLERS-E%C3%92LIAFUNDACI%C3%93-MIRANDA-2019.pdf" class="standardLink">aquest formulari</a> omplert o truca'ns al 933 192 397.</span>
						</div>


<!-- 						<div class="buttonsWrapper">
							<a target="_blank" href="https://www.eventbrite.com/e/retir-de-natura-i-salut-entre-cavalls-lliures-tickets-37803190360">
								<div class="actionButton primaryColor big buttonWithPadding">Apunta't-hi!</div>
							</a>
						</div> -->

<!-- 			      <div class="buttonsWrapper">
			      	<a href="https://www.eventbrite.com/e/retir-de-constellacions-entre-cavalls-lliures-tickets-46047709940">
			        	<button class="actionButton primaryColor big buttonWithPadding" data-bind="">Apunta-t'hi</button>
			        </a>
			      </div> -->
					</div>

					<div class="secondColumn">
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/const1.jpg" />
						</div>
<!-- 						<div class="buttonsWrapper">
							<a target="_blank" href="https://www.eventbrite.com/e/retir-de-natura-i-salut-entre-cavalls-lliures-tickets-37803190360">
								<div class="actionButton primaryColor big buttonWithPadding">Apunta't-hi!</div>
							</a>
						</div> -->
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/const2.jpg" />
						</div>
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/const3.jpg" />
						</div>
						<div class="subSectionText centered">
							<a href="http://www.eolia.cat" target="_blank">
								<img class="descriptionImage eoliaLogo" src="/static/images/eolia.png" />
							</a>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
<!-- /ko