<div class="" data-bind="">
	<div class="sectionText">
		<span class="title">Connecta't a la vida</span>
		<div class="indentedSection">
			<div class="columnsContainer">
				<div class="firstColumn">
					<span class="description">Durant l'any organitzem diverses activitats relacionades amb la cultura i la natura. Són activitats puntuals on poder gaudir d’abordatges holístics a la muntanya i entre cavalls en llibertat.</span>

					<div class="subSectionText">
						<span class="subtitle complimentary1">Propera activitat</span>
						<span class="sectionTitle">Retir de natura i salut entre cavalls lliures - 25, 26 i 27 d'agost</span>
						<span class="description">Tres dies per tenir cura de tu entre cavalls lliures.</span>
						<span class="description">Vine a un paradís de natura i gaudeix de passejades pel bosc.</span>
						<span class="description ennumeration">Disfruta de la presència dels cavalls en plenitud</span>
						<span class="description ennumeration">Descobreix menjar saludable i deliciós</span>
						<span class="description ennumeration">Aprèn bases de cuina per cuidar cos i ànima</span>
						<span class="description ennumeration">Connecta emoció-cos-respiració, allibera’t i reforça’t amb constel·lacions sistèmiques amb cavalls</span>
						<span class="description ennumeration">Connecta emoció-cos-respiració amb FitzmaurIce Voicework ©</span>
						<span class="description ennumeration">Disfruta d'un temps per a tu en un indret excepcional de natura que t’omplirà d’energia i de vida.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Opcions per dormir</span>
						<span class="description">Sala compartida o tipi (tenda india de 8 places) a l’espai de la Fundació (inclòs en el preu de l’activitat).</span>
						<span class="description">Habitació individual o doble al Refugi de Sant Romà de la Clusa (preu a part).</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Faciliten</span>
						<span class="description"><span class="bold green">Anna Álvarez Crispi</span> - Coach sistèmica transaccional, Formadora assistida amb cavalls, infermera i kinesiòloga. Docent en el Postgrau d Educació emocional i benestar de la UB.</span>
						<span class="description"><span class="bold green">Rosa Galindo Solé</span> - Actriu i cantant, Cofundadora d’Eòlia Escola Superior d’Art Dramàtic, Cofundadora de Fundació Miranda i Professora Associada de Fitzmaurice Voicework.</span>
						<span class="description"><span class="bold green">Carlos Sánchez Guzmán</span> - Format en cuina i especialitzat en cuina vegana, ha col.laborat en projectes gastronòmics com el Restaurant El Cafè Blue Project-Barcelona i el Restaurant Els Garrofers-Alella, implicat en cuina Slow Food.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Preu</span>
						<span class="description">320 euros amb activitats, menjar km0, bio i slow food i allotjament inclòs.</span>
					</div>

					<div class="buttonsWrapper">
						<a target="_blank" href="https://www.eventbrite.com/e/connectat-a-la-vida-tickets-35647822597">
							<div class="actionButton primaryColor big buttonWithPadding">Apunta't-hi!</div>
						</a>
					</div>
				</div>

				<div class="secondColumn">
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/nature4.jpg" />
					</div>
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/nature1.jpg" />
					</div>
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/nature2.jpg" />
					</div>
					<div class="subSectionText centered">
						<a href="http://www.eolia.cat" target="_blank">
							<img class="descriptionImage eoliaLogo" src="/static/images/eolia.png" />
						</a>
						<!-- <img class="descriptionImage" src="/static/images/nature3.jpg" /> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
