<!-- ko with: connectToTheLife -->
	<div class="modernForm" data-bind="create: initializeOnPageLoad">
		<div class="sectionText">
			<!-- span class="subtitle">Divendres 6, dissabte 7 i diumenge 8 d’octubre 2017</span -->
			<span class="title">Constel·lacions Sistèmiques amb Cavalls en Llibertat</span>
			<div class="indentedSection">
				<div class="columnsContainer">
					<div class="firstColumn">
						<span class="description">Vols gaudir de la natura i fer salut?</span>
						<span class="description">Vine amb mi a la Fundació Miranda per viure aquesta experiència, a la natura i entre cavalls lliures!</span>


						<div class="subSectionText">
							<span class="sectionTitle">Faciliten</span>
							<span class="description"><span class="bold green">Anna Álvarez Crispi</span> - Coach sistèmica transaccional, Formadora assistida amb cavalls, infermera i kinesiòloga. Docent en el Postgrau d Educació emocional i benestar de la UB. - <a href="http://www.constelacionesconcaballos.com/" target="_blank" class="standardLink">Web personal.</a></span>
							<span class="description"><span class="bold green">Rosa Galindo Solé</span> - Actriu i cantant, Cofundadora d’Eòlia Escola Superior d’Art Dramàtic, Cofundadora de Fundació Miranda i Professora Associada de Fitzmaurice Voicework.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Dates</span>
							<span class="description">17, 18 i 19 d'Agost de 2018</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Què farem?</span>
							<span class="description">Tres dies per tenir cura de tu entre cavalls lliures.</span>
							<span class="description">Vine a un paradís de natura i gaudeix de passejades pel bosc.</span>
							<span class="description ennumeration">Disfruta de la presència dels cavalls en plenitud</span>
							<span class="description ennumeration">Descobreix menjar saludable i deliciós</span>
							<span class="description ennumeration">Connecta emoció-cos-respiració, allibera’t i reforça’t amb constel·lacions sistèmiques amb cavalls</span>
							<span class="description ennumeration">Aprèn a controlar la veu amb el mètode FitzmaurIce Voicework ©</span>
							<span class="description ennumeration">Disfruta d&#39;un temps per a tu en un indret excepcional de natura que t’omplirà d’energia i de vida.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">On?</span>
							<span class="description">Seu de la Fundació Miranda - Pla de l’orri, s/n. Castell de l’Areny</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Preu</span>
							<span class="description">Preu del taller per persona: 275€</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Opcions per dormir</span>
							<span class="description">Sala compartida o tipi (tenda india de 8 places) a l’espai de la Fundació (inclòs en el preu de l’activitat).Habitació individual o doble al Refugi de Sant Romà de la Clusa (preu a part).</span>
						</div>


<!-- 						<div class="buttonsWrapper">
							<a target="_blank" href="https://www.eventbrite.com/e/retir-de-natura-i-salut-entre-cavalls-lliures-tickets-37803190360">
								<div class="actionButton primaryColor big buttonWithPadding">Apunta't-hi!</div>
							</a>
						</div> -->

			      <div class="buttonsWrapper">
			      	<a href="https://www.eventbrite.com/e/retir-de-constellacions-entre-cavalls-lliures-tickets-46047709940">
			        	<button class="actionButton primaryColor big buttonWithPadding" data-bind="">Apunta-t'hi</button>
			        </a>
			      </div>
					</div>

					<div class="secondColumn">
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/culture1.jpg" />
						</div>
<!-- 						<div class="buttonsWrapper">
							<a target="_blank" href="https://www.eventbrite.com/e/retir-de-natura-i-salut-entre-cavalls-lliures-tickets-37803190360">
								<div class="actionButton primaryColor big buttonWithPadding">Apunta't-hi!</div>
							</a>
						</div> -->
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/annaAlvarez.jpg" />
						</div>
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/nature2.jpg" />
						</div>
						<div class="subSectionText centered">
							<a href="http://www.eolia.cat" target="_blank">
								<img class="descriptionImage eoliaLogo" src="/static/images/eolia.png" />
							</a>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
<!-- /ko