<div class="sectionText">
	<span class="title">Contacta amb nosaltres</span>
	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn">
				<span class="subtitle complimentary1">Per email</span>
				<a class="standardLink" href="mailto:fundacio@projectemiranda.cat">fundacio@projectemiranda.cat</a> 
				<span class="subtitle complimentary1 withTopMargin">Per telèfon</span>
				<span class="description">+34 93 102 3068 - 659 04 18 69 - 672 60 80 00</span> 
			</div>

			<div class="secondColumn centered">
				<img class="descriptionImage" src="/static/images/contact.jpg" />
			</div>
		</div>
	</div>
</div>
