<div class="sectionText">
	<span class="title">Contacta amb nosaltres</span>
	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn">
				<span class="subtitle complimentary1">Per email</span>
				<a class="standardLink" href="mailto:cavalls@fundaciomiranda.org">cavalls@fundaciomiranda.org</a> 
			</div>

			<div class="secondColumn centered">
				<img class="descriptionImage" src="/static/images/contact.jpg" />
			</div>
		</div>
	</div>
</div>
