<div class="sectionText">
	<span class="title">Contacta amb nosaltres</span>
	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn">
				<div class="subSectionText">
					<span class="subtitle complimentary1">Per email</span>
					<div><a class="standardLink" href="mailto:cavalls@fundaciomiranda.org">cavalls@fundaciomiranda.org</a></div>
					<div><a class="standardLink" href="mailto:rosa@fundaciomiranda.org">rosa@fundaciomiranda.org</a></div>
				</div>
				<div class="subSectionText">
					<span class="subtitle complimentary1">Per telèfon</span>
					<div><span>93 102 30 68</span></div>
					<div><span>672 608 000</span></div>
				</div>
			</div>

			<div class="secondColumn centered">
				<img class="descriptionImage" src="/static/images/contact.jpg" />
			</div>
		</div>
	</div>
</div>
