<div class="" data-bind="">
	<div class="sectionText">
		<span class="title">Cultura i natura</span>
		<div class="indentedSection">
			<div class="columnsContainer">
				<div class="firstColumn">
					<div class="subSectionText">
						<span class="sectionTitle">Som natura i som cultura</span>
						<span class="description">Aquesta Àrea de la Fundació Miranda en col·laboració amb Eòlia, Escola Superior d’Art Dramàtic, i amb el Projecte cultural Eòlia I+D, connecta creativitat i natura, en contextos on els recursos de l’entorn poden nodrir-nos a nivell personal i artístic.</span>
						<span class="description">Creativitat i Natura són per nosaltres, els dos àmbits que preserven de l’ànima humana, i factors de salut i d’equilibri, especialment per als infants i els adol·lescents.</span>
						<span class="description">Tornar a la natura, és tornar a l’origen, a allò que ens recorda qui som i d’on venim, i que pot ajudar a enfocar-nos.</span>
						<span class="description">La importància del context és determinant en els processos personals, per això actuem en entorns inspiradors que ens conviden a cuidar-nos, i que són en si mateixos  un valor de les activitats.</span>
						<span class="description">Oferim retirs de temàtiques artístiques i terapèutiques, per connectar amb l’espai personal que ens fa créixer i desplegar el nostre potencial creatiu.</span>
						<span class="description">Des d’aquest espai, proposem activitats, retirs i processos que ens  connecten amb el medi natural des de les arts escèniques i  en el seu abordatge holístic.</span>
						<span class="description">Als nostres retirs i tallers proposem també degustacions I gastronomia Slow food Km0 i tot bio, connectant cultura I territori.</span>
					</div>



					<div class="subSectionText">
						<span class="sectionTitle">Natura</span>
						<span class="description">Pla de l’Orri-Seu de la Fundació Miranda a l’Alt Berguedà. Finca de 103 hectàries amb paisatge d’alta muntanya, dins l’Espai Protegit d’Interès Natural Serra de Catllaràs. Consta d’aula d’entorn rural equipada amb sala de treball, cuina i menjador, dutxes i espai d’acampada en tipis.</span>

						<span class="description">Ossera - Poble d’artesans a la Vall de La Vansa, a l’Alt Urgell. Amb allotjaments de diferents característiques i espais per al treball.</span>
						<span class="description ennumeration">Cal Farragetes - Tuixent</span>
						<span class="description ennumeration">Cal Cortina - Refugi Tuixent</span>
						<span class="description ennumeration">Molí de Fórnols - Fórnols</span>
						<span class="description ennumeration">Cal Paller - Padrinàs</span>
						<span class="description ennumeration">Herboristeria Nogué</span>
						<span class="description ennumeration">Cal Casal, Melmelades</span>
					</div>




					<div class="subSectionText">
						<span class="sectionTitle">Cultura</span>
						<span class="description">Què oferim?</span>
						<span class="description ennumeration">Activitats artístiques i creatives. Arts escèniques.</span>
						<span class="description ennumeration">Campaments per infants.</span>
						<span class="description ennumeration">Camps de treball per adol.lescents.</span>
						<span class="description ennumeration">Teatre i Dramatúrgia.</span>
						<span class="description ennumeration">Millora la teva Comunicació, Parlar en públic, Fitzmaurice Voicework©</span>
						<span class="description ennumeration">Retirs per preparació de proves, càsting i exàmens.</span>
						<span class="description ennumeration">Retirs creatius (Grups de recerca, Processos de Creació, Residències).</span>
						<span class="description ennumeration">Teatre Sense Límits (Teatre per a persones amb problemàtiques específiques).</span>
						<span class="description ennumeration">Abordatges holístics i terapèutics.</span>
						<span class="description ennumeration">Constel·lacions familiars amb cavalls.</span>
						<span class="description ennumeration">Experiència Somàtica. Somatic Experiencing©.</span>
						<span class="description ennumeration">Retirs de Ioga i tècniques corporals i d’entrenament de l’Actor.</span>
					</div>

				</div>

				<div class="secondColumn">
					<div class="subSectionText centered">
						<a href="http://www.eolia.cat" target="_blank">
							<img class="descriptionImage eoliaLogo" src="/static/images/culture4.png" />
						</a>
					</div>
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/culture2.jpg" />
					</div>
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/culture3.jpg" />
					</div>
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/culture1.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
