<!-- ko with: connectToTheLife -->
	<div class="modernForm" data-bind="create: initializeOnPageLoad">
		<div class="sectionText">
			<!-- span class="subtitle">Divendres 6, dissabte 7 i diumenge 8 d’octubre 2017</span -->
			<span class="title">ELS CAVALLS i L’ACOMPANYAMENT ESPIRITUAL DEL DOL</span>
			<span class="subtitle">Els cavalls inspiren la nostra presència silenciosa i en amor, per acompanyar a les persones malaltes</span>
			<div class="indentedSection">
				<div class="columnsContainer">
					<div class="firstColumn">
						<div class="subSectionText">
							<span class="sectionTitle">En què consisteix el taller?</span>
							<span class="description">L’espiritualitat és una de les 4 dimensions de la persona (física, social, emocional i espiritual) segons la SECPAL (Societat Espanyola de Cures Pal·liatives). És una dimensió innata en l’ésser humà, que ens permet acompanyar-nos a nosaltres mateixos quan patim però també acompanyar a les persones malaltes properes. Quan entrem a la nostra dimensió espiritual, la nostra presència es transforma en un espai de silenci, quietud i amor. Un espai de profunditat que aporta a l’altre la nostra essència, el millor de nosaltres mateixos. Els cavalls són aquesta presència, la seva energia amorosa i el seu camp magnètic ens irradia i acompanya a altres cavalls malalts i a cavalls que van a morir.</span>
							<span class="description">En aquest taller podrem sentir tot reposant al seu costat, el camp magnètic i l’amor dels cavalls, i podrem conèixer casos reals d’acompanyaments entre ells. D’aquesta manera la presència dels cavalls impulsarà la nostra presència, aquest espai interior tant nostre al que de vegades ens costa accedir. I des d’aquesta presència, podrem conèixer i experimentar dues de les eines de l’acompanyament espiritual a persones amb malalties: la quietud, i el contacte amorós i tendre. Coneixerem casos reals inspiradors d’acompanyament espiritual a persones amb malaltia, i també eines per tenir cura de nosaltres mateixosi identificar els símptomes quan estem propers a l’esgotament per compassió.</span>
							<span class="description">El taller s’iniciarà amb la presentació de la Fundació Miranda i una explicació sobre la naturalesa dels cavalls en llibertat, amb l’acompanyament constant d’una professional de la Fundació durant tot el taller i la visita als cavalls.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Dates i lloc</span>
							<span class="description">Dissabte 2 de març de 2019, de 9h a 14h. Parc del Garraf.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">A qui va dirigit?</span>
							<span class="description">Persones que acompanyen a persones malaltes: Familiars, amics, professionals sanitaris, persones voluntàries, terapeutes. La dimensió espiritual no coneix els rols socials, en aquests dimensió totes les persones som essència. Sou totes i tots benvinguts!</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Faciliten</span>
							<span class="description"><span class="bold green">Sara Pons</span> - Responsable del Servei d’Atenció Espiritual (laica) de l’Hospital de Mollet i Centre Sociosanitari de Mollet. Docent i formadora en acompanyament emocional i espiritual a Universitats, Hospitals, Associacions i Fundacions. Formació rebuda entre d’altres: Màster d’Atenció Pal.liativa Integral a Persones amb Malalties Avançades, UAB i Hospital de Sant Pau. Module en MSc Palliative Care: Advanced Psychosocial and Spiritual Care. King’s College London University.</a></span>
							<span class="description"><span class="bold green">Rosa Galindo Solé</span> - Actriu i cantant, Cofundadora d’Eòlia Escola Superior d’Art Dramàtic, Cofundadora de Fundació Miranda i Professora Associada de Fitzmaurice Voicework.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Preu</span>
							<span class="description">50€.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Com m'apunto?</span>
							<span class="description">Envia un email <a href="mailto:formacionsarapons@gmail.com" class="standardLink">formacionsarapons@gmail.com</a> amb el teu nom, cognoms, telèfon i justificant de pagament</span>
						</div>


<!-- 						<div class="buttonsWrapper">
							<a target="_blank" href="https://www.eventbrite.com/e/retir-de-natura-i-salut-entre-cavalls-lliures-tickets-37803190360">
								<div class="actionButton primaryColor big buttonWithPadding">Apunta't-hi!</div>
							</a>
						</div> -->

<!-- 			      <div class="buttonsWrapper">
			      	<a href="https://www.eventbrite.com/e/retir-de-constellacions-entre-cavalls-lliures-tickets-46047709940">
			        	<button class="actionButton primaryColor big buttonWithPadding" data-bind="">Apunta-t'hi</button>
			        </a>
			      </div> -->
					</div>

					<div class="secondColumn">
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/dol.jpg" />
						</div>
<!-- 						<div class="buttonsWrapper">
							<a target="_blank" href="https://www.eventbrite.com/e/retir-de-natura-i-salut-entre-cavalls-lliures-tickets-37803190360">
								<div class="actionButton primaryColor big buttonWithPadding">Apunta't-hi!</div>
							</a>
						</div> -->
<!-- 						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/const2.jpg" />
						</div>
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/const3.jpg" />
						</div> -->
<!-- 						<div class="subSectionText centered">
							<a href="http://www.eolia.cat" target="_blank">
								<img class="descriptionImage eoliaLogo" src="/static/images/eolia.png" />
							</a>
						</div> -->
					</div>

				</div>
			</div>

		</div>
	</div>
<!-- /ko