<div class="sectionText">
	<span class="title">Ajuda a la Fundació!</span>
	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn">
				<span class="description">Ajuda’ns a fer sostenible la tasca de recuperació i manteniment dels cavalls. La Fundació no rep diners públics ni subvencions. Tots els diners que rebem són de les contribucions que fan els nostres socis, padrins i aportacions puntuals.</span>

				<span class="description">Vols contribuir de <strong>forma puntual</strong>? Qualsevol aportació serveix per fer sostenible aquest projecte. Moltes gràcies!</span>

				<div class="buttonsWrapper withTopMargin">
					<a href="/#!/social_contribution">
						<div class="actionButton secondaryColor buttonWithPadding big">Dóna!</div>
					</a>
				</div>
			</div>

			<div class="secondColumn centered">
				<img class="descriptionImage" src="/static/images/donate.jpg" />
			</div>
		</div>
	</div>

	<div class="separation"></div>

	<div class="indentedSection largeTopMargin">
		<span class="title complimentary1">Altres maneres de col·laborar</span>

		<div class="indentedSection withTopMargin">
			<div class="columnsContainer">
				<div class="firstColumn">
					<div>
						<span class="subtitle">Fes-te soci</span>
						<span class="description">Si et fas soci podràs gaudir de la bona energia vital dels cavalls de la fundació i del “petit” paradís natural del Pla de l’Orri, a les trobades de socis i padrins que periòdicament anem organitzant. També gaudiràs de descomptes si vols realitzar alguna de les nostres activitats.</span>
						<div class="buttonsWrapper">
							<a href="/#!/become_partner">
								<div class="actionButton primaryColor buttonWithPadding big">Fes-te soci</div>
							</a>
						</div>
					</div>

					<div class="largeTopMargin">
						<span class="subtitle">Apadrina un cavall</span>
						<span class="description">Estableix un fort vincle d’amistat i amor amb un dels nostres cavalls recuperats. Rebràs fotografies i informació de l’evolució del “teu”cavall i el podràs venir a veure a les trobades de socis i padrins. També gaudiràs de descomptes si vols realitzar alguna de les nostres activitats.</span>
						<div class="buttonsWrapper">
							<a href="/#!/sponsor">
								<div class="actionButton primaryColor buttonWithPadding big">Apadrina</div>
							</a>
						</div>
					</div>


					<div class="largeTopMargin">
						<span class="subtitle">Amb 1€ també ens pots ajudar!</span>
						<span class="description">Pots donar-nos suport amb una <strong>aportació d’1 € al mes</strong> a través de Teaming.</span>
						<div class="buttonsWrapper">
							<a target="_blank" href="https://www.teaming.net/www-projectemiranda-cat">
								<div class="actionButton primaryColor buttonWithPadding big">Uneix-te al nostre grup de Teaming!</div>
							</a>
						</div>
					</div>

				</div>
				<div class="secondColumn centered">
					<img class="descriptionImage" src="/static/images/collaborate1.jpg" />
				</div>
		  </div>
		</div>
	</div>
</div>