<div class="">
	<div class="sectionText">
		<span class="title">Jornada sobre l'Essència del Cavall</span>
		<span class="subtitle">15 de Setembre 2018 - Pla de l'Orri</span>

		<div class="indentedSection">
			<div class="columnsContainer">
				<div class="firstColumn">
					<span class="description">L’etologia del cavall, jornada d’observació del cavall en llibertat.</span>
					
					<span class="description ennumeration">Perquè facilitar la vida social dels cavalls en manades?</span>
					<span class="description ennumeration">Com es formen els grups? Comportament social i estructura.</span>
					<span class="description ennumeration">Com es comuniquen entre ells? Quines son les seves necessitats?</span>
					<span class="description ennumeration">Reflexions , debats i rodes de preguntes.</span>
					<span class="description ennumeration">La filosofía del cavall vs la filosofía del home. Perquè adaptar-nos a la seva forma de vida per crear vincle?</span>
					<span class="description ennumeration">Muntar o no muntar?</span>
					<span class="description ennumeration">Interacció de l'home, activitats, vincles i comunicació.</span>
					<span class="description ennumeration">Com aprenen els cavalls i com crear una interacció humà-cavall sense trencar la seva essència i naturalesa.</span>

					<div class="subSectionText">
						<span class="sectionTitle">Jornada guiada per:</span>
						<span class="description"><strong>Anna Salas Huguet</strong>. Monitora d'equitació especialitzada en sistemas naturals d'equitació. Monitora de NEC (Natural Equine Connection). Amb 25 anys d'experiència que engloben els coneixements en diverses modalitats hípiques buscant sempre una forma més respectuosa d’interacció amb el cavall. Formació en psicologia terapéutica equina i tècniques de les conegudes con doma natural. Amazona professional, domadora i reeducadora de poltres i cavalls.</span>
						<span class="description"><strong>Rosa Galindo Solé</strong>. Cofundadora i directora de la Fundació Miranda des del 2008, amb més de 10 anys d’experiència en el món del cavall. Actriu, cantant i docent, va fundar i dirigeix l’Escola Superior d’Art Dramàtic Eòlia, a Barcelona. Professora Associada de Fitzmaurice Voicework.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Preu</span>
						<span class="description">50€ per persona. Per dinar, porteu el vostre propi pícnic i si sorgeix del grup, compatirem. A la seu de la Fundació podreu comprar begudes, cafè i infusions, si us ve de gust.</span>
						<div class="buttonsWrapper">
							<a href="https://www.eventbrite.com/e/jornada-sobre-lessencia-del-cavall-tickets-49037858555?aff=ebapi">
								<div class="actionButton primaryColor big buttonWithPadding">Apunta-t'hi!</div>
							</a>
						</div>
					</div>
				</div>

				<div class="secondColumn">
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/essencia.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
