	<div class="footer">
      <div class="columnsContainer">
		<div class="firstColumn">
			<span>+34 93 102 3068 - <a href="mailto:info@projectemiranda.cat" class="standardLink">info@projectemiranda.cat</a> - Pla de l'Orri - Alt Berguedà</span>
		</div>
		<div class="secondColumn">
			<span class="top">Segueix-nos</span>
			<div class="socialNetworkContainer">
				<i class="fa fa-facebook-square fa-2x facebook clickableIcon" aria-hidden="true" data-bind="click: goToFacebook"></i>
				<i class="fa fa-instagram fa-2x instagram clickableIcon" aria-hidden="true" data-bind="click: goToInstagram"></i>
				<i class="fa fa-twitter-square fa-2x instagram clickableIcon" aria-hidden="true" data-bind="click: goToTwitter"></i>
				<i class="fa fa-youtube-square fa-2x instagram clickableIcon" aria-hidden="true" data-bind="click: goToYoutube"></i>
			</div>
		</div>
		</div>
	</div>