<div class="footer ">
	<div class="subSectionText shortPadding">
	  <div class="columnsContainer">
			<div class="firstColumn">
				<span class="top">Canviar idioma</span>
				<div class="flags">
					<div class="catalan" data-bind="click: function () {changeLanguage('ca')}"></div>
					<div class="spanish" data-bind="click: function () {changeLanguage('es')}"></div>
					<!-- <div class="english" data-bind="click: function () {changeLanguage('en')}"></div> -->
				</div>
			</div>
			<div class="secondColumn modernForm medium">
				<span class="">Vols rebre les nostres promocions?</span>
				<div class="marginTop">
					<form action="//projectemiranda.us7.list-manage.com/subscribe/post?u=daffc87875c6a7b0fd4fe7d57&amp;id=8204db422c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        		<input class="inputWithButton" type="email" name="EMAIL" id="mce-EMAIL" />
						<button type="submit" class="actionButton primaryColor buttonNextToInput">Subscriu-te</button>
    				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_daffc87875c6a7b0fd4fe7d57_8204db422c" tabindex="-1" value=""></div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="subSectionText shortPadding">
	  <div class="columnsContainer">
			<div class="firstColumn">
				<span><a href="mailto:cavalls@fundaciomiranda.org" class="standardLink">cavalls@fundaciomiranda.org</a> - Pla de l'Orri - Alt Berguedà</span>
			</div>
			<div class="secondColumn">
				<span class="top">Segueix-nos</span>
				<div class="socialNetworkContainer">
					<i class="fa fa-facebook-square fa-2x facebook clickableIcon" aria-hidden="true" data-bind="click: goToFacebook"></i>
					<i class="fa fa-instagram fa-2x instagram clickableIcon" aria-hidden="true" data-bind="click: goToInstagram"></i>
					<i class="fa fa-twitter-square fa-2x instagram clickableIcon" aria-hidden="true" data-bind="click: goToTwitter"></i>
					<i class="fa fa-youtube-square fa-2x instagram clickableIcon" aria-hidden="true" data-bind="click: goToYoutube"></i>
				</div>
			</div>
		</div>
	</div>
</div>