<div class="">
	<div class="sectionText">
		<span class="title">Un capvespre entre cavalls lliures al Parc del Garraf</span>
		<span class="subtitle">22 de Setembre a les 19h al Parc del Garraf</span>

		<div class="indentedSection">
			<div class="columnsContainer">
				<div class="firstColumn">
					<span class="description">Vine a conèixer la manada de Pottokas de la Fundació Miranda al Garraf!</span>
					<span class="description">Celebrem la seva arribada al Parc del Garraf, amb una activitat al capvespre vigilia de l'equinocci de Tardor i ben a prop de la Lluna Plena.</span>
					<span class="description">El transport de la manada ha estat possible gràcies a les aportacions econòmiques de molta gent que ha participat a la nostra Campanya de Crowdfunding, que ha estat un èxit.</span>
					<span class="description">Coneixerem la manada, recuperada d'un zoo clausurat d'Andalusia, i la seva arribada a un nou entorn, obert, natural, en llibertat i a tocar del Mediterrani. A més, soparem de pícnic sota la lluna plena i coneixerem el projecte de la Fundació, així com l'etologia del cavall i la seva comunicació natural.</span>
					<span class="description"></span>
					<span class="description"></span>

					<div class="subSectionText">
						<span class="sectionTitle">Data</span>
						<span class="description">22 de Setembre a les 19h al Parc del Garraf</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Programa de la trobada</span>
						<span class="description ennumeration">Presentació del Projecte i etologia del cavall i comunicació natural. </span>
						<span class="description ennumeration">Presentació i observació de la manada.  </span>
						<span class="description ennumeration">Pícnic</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Àpats</span>
						<span class="description">Pícnic al Parc sota la primera lluna de la tardor (cadascú ha de dur el seu sopar o algun plat per compartir).</span>
						<span class="description">La Fundació posarà cava (per cortesia de Caves Llopart) i coca per postres.</span>
					</div>


					<div class="subSectionText">
						<span class="sectionTitle">Preu</span>
						<span class="description">Aquesta activitat és gratuïta per a totes aquelles persones que han col·laborat amb aportacions econòmiques a la nostra Campanya per poder pagar el transport de la manada des d'Andalusia, i també, com sempre, és gratuïta per a Socis i Padrins de la Fundació. Per la resta de gent que vulgui participar-hi, el preu per a no socis és de 35€.</span>
						<div class="buttonsWrapper">
							<a href="https://www.eventbrite.com/e/entradas-un-capvespre-entre-cavalls-lliures-al-parc-del-garraf-48270075094">
								<div class="actionButton primaryColor big buttonWithPadding">Apunta-t'hi!</div>
							</a>
						</div>
					</div>
				</div>

				<div class="secondColumn">
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/manada.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
