<div class="sectionText">
	<span class="title">Un santuari de cavalls on els cavalls poden tornar a ser cavalls</span>
	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn">
				<span class="description">Fundació sense ànim de lucre creada l’abril de 2008 i dedicada a la difusió del coneixement, la comprensió i el respecte pel cavall, la terra, el medi rural i la natura.</span>
				
				<span class="description">Acompanyem i facilitem processos personals, educatius i formatius amb el suport d’aquest animal, en interacció amb el medi natural i amb diferents àmbits com el de les arts escèniques. Col·laborem amb <a href="http://www.eolia.cat" class="standardLink" target="_blank">Eòlia, Escola Superior d’Art Dramàtic</a>, en les branques del Planter i de Teatre Sense Límits, amb la nostra Aula de Natura/Escola de Vida. Per aquesta finalitat comptem amb els recursos i les instal·lacions de la finca del Pla de l’Orri a l’Alt Berguedà, amb professionals d’alt nivell, amb l’aplicació de tècniques complementaries i amb la nostra dedicació entusiasta.</span>
			</div>

			<div class="secondColumn centered">
				<img class="descriptionImage" src="/static/images/horsesSanctuary1.jpg" />
			</div>
		</div>
	</div>

	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn centered">
				<img class="descriptionImage" src="/static/images/horsesSanctuary2.jpg" />
			</div>

			<div class="secondColumn">
				<span class="description">Tenim un conveni marc amb la <a href="http://www.uab.es/veterinaria/" class="standardLink" target="_blank">Facultat de Veterinària de la Universitat Autònoma de Barcelona</a>, amb la <a href="http://www.uco.es/" class="standardLink" target="_blank">Universitad de Córdoba</a> i amb <a href="http://agora.xtec.cat/ecamanresa/moodle/" class="standardLink" target="_blank">l’Escola Agrària de Manresa</a>.  Som una Entitat de custòdia del territori i forma part del catàleg d’institucions que vetlla per la custòdia del territori (<a href="http://www.custodiaterritori.org/" class="standardLink" target="_blank">Xarxa de custòdia del Territori</a>).</span>
				
				<span class="description">La finca del Pla de l’Orri ha estat declarada refugi de fauna salvatge, donada la gran biodiversitat d’espècies animals i vegetals que hi viuen: cèrvols, cabirols, isards, guineus, àligues, voltors (trencalòs i voltor negre), mellarengues…  i el el gall fer que per desgràcia encara està en perill d’extinció.</span>
			</div>
		</div>
	</div>


	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn">
				<span class="description">Els cavalls de la Fundació es mouen lliurement i en ramat per les 103 hectàries del Pla de l’Orri, constituint la reserva de cavalls del Catllaràs (Serra de Catllaràs, espai protegit d’interès natural).</span>
				
				<span class="description">Molts d’aquests 44 èquids han estat recuperats de situacions difícils i de maltractament i han assolit el seu equilibri i la seva salut física, emocional i mental en contacte amb l’entorn natural i amb el grup de cavalls. Tractats amb respecte, sensibilitat, i des del coneixement del seu codi de comunicació i de la seva naturalesa,  esdevenen cavalls centrats, forts i sociables, disposats a compartir el seu potencial, la seva energia vital i el seu espai amb les persones.</span>
			</div>

			<div class="secondColumn centered">
				<img class="descriptionImage" src="/static/images/horsesSanctuary3.jpg" />
			</div>
		</div>
	</div>

	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn centered">
				<img class="descriptionImage" src="/static/images/horsesSanctuary4.jpg" />
			</div>

			<div class="secondColumn">
				<span class="description">Recentment hem firmat un conveni amb la <a href="http://www.fundaciocatalunya-lapedrera.com/ca/content/espai-natura-muntanya-d’alinyà" class="standardLink" target="_blank">Fundació Catalunya la Pedrera</a> i durant els mesos d’hivern, quan les nostres pastures s’aturen per l’arribada del fred i la neu, els cavalls de la fundació poden seguir pasturant per les 130 hectàries de la finca de la solana de la Muntanya d’Alinyà .</span>
				
				<span class="description"><a href="/#!/transhumance" class="standardLink" target="_blank">TRANSHUMÀNCIA</a>: A finals de la tardor organitzem la transhumancia per guiar el ramat del Pla de l’Orri fins a Alinyà i a principis de la primavera els tornem al paradís dels cavalls del Pla de l’Orri! (Activitat oberta a públic.Una experiència única!)</span>
			</div>
		</div>
	</div>

</div>