<div class="sectionText">
	<span class="title">Com invertim els diners?</span>
	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn">
				<span class="description">Cal recordar que la Fundació Miranda no ha rebut mai cap tipus de subvenció ni ajuda pública.</span>
				<span class="description">Les vostres aportacions van destinades íntegrament a les següents despeses/tasques:</span>

				<div class="subSectionText">
					<span class="subtitle">Cura dels animals</span>
					<span class="description">- Compra de fenc, sal i lloguer de finques pels cavalls</span>
					<span class="description">- Veterinaris i medicaments</span>
					<span class="description">- Col·laboració en rescats de cavalls, facilitant i gestionant finques d’acollida. Transport de cavalls decomisats.</span>
					<span class="description">- Adopció de cavalls comisats</span>
					<span class="description">- Xips pels cavalls</span>
					<span class="description">- Transhumància</span>
					<span class="description">- Vasectomies</span>
					<span class="description">- Pinso pels gossos</span>
					<span class="description">- Esterilització de gats i gossos</span>
				</div>

				<div class="subSectionText">
					<span class="subtitle">Infraestructures i similars</span>
					<span class="description">- Tancats pels cavalls i altres animals, abeuradors...</span>
					<span class="description">- Reparacions 4×4 per pujar usuaris dels col·lectius de les jornades solidàries</span>
				</div>

				<div class="subSectionText">
					<span class="subtitle">Tasca social i medioambiental</span>
					<span class="description">- Jornades gratuites per a col·lectius en risc d’exclusió social</span>
					<span class="description">- Accions per preservar la biodiversitiat i la custòdia de la finca del Pla de l’Orri. Introducció i manteniment de ruscos d’abelles, caixes niu per la mallarenga, menjadores per ocells, recuperació de fonts i punts d’abeuratge...</span>
					<span class="description">- Protecció i preservació del bosc (formem part del projecte Selvans de Boscos Madurs)</span>
				</div>

			<span class="description primary bigDescription bold">Gràcies per ajudar-nos!</span>
			</div>

			<div class="secondColumn centered">
				<img class="descriptionImage" src="/static/images/spendMoney.jpg" />
			</div>
		</div>
	</div>
</div>









