<div class="sectionText">
	<span class="title">La cuina de l'Orri</span>
	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn">
				<span class="description">Al Paller que hem rehabilitat com a aula d’entorn rural, hi ha la sala polivalent per als cursos que organitza la Fundació, i la zona de cuina i de <strong>menjador per als visitants</strong>. Tot l’espai està <strong>adaptat i és accessible</strong>. A la cuina, elaborem plats de temporada amb <strong>productes ecològics de proximitat</strong> (Alt Berguedà, Cerdanya i Ripollès).</span>
				<span class="description">Cuinem sempre amb l’aigua que neix a les fonts del Pla d l’Orri, una aigua ben dinamitzada i de gran puresa, amb la qual també preparem tes que ens conviden a la calma interior i a la simplicitat. Proposem <strong>plats vegetarians</strong>, <strong>cuina vegana</strong> i <strong>cuina macrobiòtica-energètica</strong> per als que prioritzen la salut a través de l’alimentació, sense deixar de banda el plaer que, a banda del cos, nodreix l’ànima, i sempre entenent la cuina com una festa per als sentits.</span>

				<span class="description">Cada dia cuinem plats que us sorprendran, si passeu pel Pla de l’Orri i veniu a dinar. Menjareu el que hem preparat aquell dia. També podem elaborar <strong>plats del Berguedà</strong>, plats amb <strong>tocs ètnics</strong> i cuina d’inspiració si ens ho demaneu.</span>
			</div>

			<div class="secondColumn centered">
				<img class="descriptionImage" src="/static/images/kitchen.jpg" />
			</div>
		</div>

		<div class="extraImages">
					<img class="extraImage" src="/static/images/kitchen1.jpg" />
					<img class="extraImage" src="/static/images/kitchen2.jpg" />
					<img class="extraImage" src="/static/images/kitchen3.jpg" />
					<img class="extraImage" src="/static/images/kitchen4.jpg" />
					<img class="extraImage" src="/static/images/kitchen5.jpg" />
					<img class="extraImage" src="/static/images/kitchen6.jpg" />
					<img class="extraImage" src="/static/images/kitchen7.jpg" />
					<img class="extraImage" src="/static/images/kitchen8.jpg" />
					<img class="extraImage" src="/static/images/kitchen9.jpg" />
					<img class="extraImage" src="/static/images/kitchen10.jpg" />
					<img class="extraImage" src="/static/images/kitchen11.jpg" />
					<img class="extraImage" src="/static/images/kitchen12.jpg" />

		</div>
	</div>
</div>













