<div class="" data-bind="">
	<div class="sectionText">
		<span class="title">Avís legal / Política de privacitat</span>
		<div class="indentedSection">
			<div class="subSectionText">
				<span class="sectionTitle">CONDICIONS GENERALS D'ÚS</span>
				<span class="description">La utilització d’aquest lloc web està subjecte a l’acceptació de les següents condicions d’ús. El sol fet d’accedir a aquesta web i utilitzar els seus continguts, implica que l’usuari ha llegit i accepta totes les condicions.</span>
				<span class="description">La FUNDACIÓ MIRANDA (d’ara endavant FM), es reserva la facultat de realitzar, en qualsevol moment i sense necessitat d’avís previ, qualsevol modificació o actualització dels continguts i serveis de les Condicions Generals i, en general de tots els elements que integren el disseny i la configuració d’aquesta pàgina web. Igualment, també es reserva el dret de suspendre, temporalment o definitivament, l’accessibilitat a les seves pàgines web.</span>
			</div>
			<div class="subSectionText">
				<span class="sectionTitle">CONDICIONS GENERALS D'ÚS</span>
				<span class="description">La utilització d’aquest lloc web està subjecte a l’acceptació de les següents condicions d’ús. El sol fet d’accedir a aquesta web i utilitzar els seus continguts, implica que l’usuari ha llegit i accepta totes les condicions.</span>
				<span class="description">La FUNDACIÓ MIRANDA (d’ara endavant FM), es reserva la facultat de realitzar, en qualsevol moment i sense necessitat d’avís previ, qualsevol modificació o actualització dels continguts i serveis de les Condicions Generals i, en general de tots els elements que integren el disseny i la configuració d’aquesta pàgina web. Igualment, també es reserva el dret de suspendre, temporalment o definitivament, l’accessibilitat a les seves pàgines web.</span>
			</div>
		</div>
		<div class="indentedSection">
			<div class="subSectionText">
				<span class="sectionTitle">TITULARITAT DEL LLOC WEB</span>
				<span class="description">DOMINI PRINCIPAL: www.fundaciomiranda.org</span>
				<span class="description">TITULAR: FUNDACIÓ PROJECTE MIRANDA</span>
				<span class="description">TITULAR: FUNDACIÓ PROJECTE MIRANDA</span>
				<span class="description">DOMICILI SOCIAL: Pla de l'Orri, s/n 08604 El Castell de l'Areny (Barcelona)</span>
				<span class="description">TELÈFON: 931.023.068</span>
				<span class="description">ADREÇA ELECTRÒNICA: cavalls@fundaciomiranda.org</span>
				<span class="description">NIF: G-64857741</span>
				<span class="description">DADES REGISTRALS: Registre de Fundacions Privades de la Generalitat de Catalunya, inscrita amb el número 2467.</span>
			</div>
		</div>
		<div class="indentedSection">
			<div class="subSectionText">
				<span class="sectionTitle">POLÍTICA DE PRIVACITAT</span>
				<span class="description">És important per a l’FM garantir la protecció, privacitat i seguretat de la informació personal de l’usuari, i per aquest motiu intentem complir amb les lleis sobre privacitat, protecció de dades i seguretat de totes les dades personals.</span>
				<span class="description">A través dels nostres llocs web (web i xarxes socials), l’FM no recollirà cap tipus d’informació personal sobre l’usuari, llevat que aquest voluntàriament ens les faciliti, ja bé sigui omplint algun formulari o mitjançant altres vies. Les dades personals rebudes seran usades per respondre les consultes, enviar comunicacions a l’usuari perquè estigui informat sobre la nostra actualitat, així com de totes les activitats relacionades amb la FM.</span>
				<span class="description">Per tant, l’usuari autoritza expressament l’FM a poder remetre-li informació diversa per correu electrònic. En el cas que no es vulgui rebre informació sobre els nostres serveis, cal indicar-ho expressament per correu electrònic a cavalls@fundaciomiranda.org o mitjançant correu postal a Fundació Miranda, Pla de l'Orri s/n, 08619 Castell de l'Areny (Barcelona).</span>
				<span class="description">Els llocs web de l’FM poden contenir enllaços a altres llocs web gestionats per tercers sobre els quals l’FM no exerceix cap tipus de control. L’FM no és responsable de les polítiques de privacitat o el contingut d’altres llocs web no gestionats per ella mateixa.</span>
			</div>
		</div>
		<div class="indentedSection">
			<div class="subSectionText">
				<span class="sectionTitle">EXCLUSIÓ DE RESPONSABILITAT</span>
				<span class="description">Qui utilitza aquests llocs web ho fa pel seu propi compte i risc. L’FM no es fa responsable dels errors o omissions que poguessin tenir aquests llocs web, ni tampoc es fa responsable de qualsevol dany o perjudici produïts ni dels defectes tècnics, sigui quina sigui la seva naturalesa, que es derivin de les matèries contingudes en aquests llocs web i de l’ús de la informació.</span>
				<span class="description">L’FM no garanteix l’absència de virus o elements lesius que poguessin causar danys o alteracions en el sistema informàtic de l’usuari, ni en altres documents o arxius.</span>
				<span class="description">L’FM no pot assumir cap responsabilitat derivada de l’ús incorrecte, inapropiat o il·lícit de la informació apareguda a les seves pàgines web.</span>
			</div>
		</div>
		<div class="indentedSection">
			<div class="subSectionText">
				<span class="sectionTitle">INFORMACIÓ TÈCNICA</span>
				<span class="description">Aquesta web és compatible amb tots els navegadors coneguts i incorpora el disseny web adaptatiu per tal de poder ser visualitzada des de qualsevol dispositiu (telèfon, tauleta, ordinador, etc.).</span>
			</div>
		</div>
		<div class="indentedSection">
			<div class="subSectionText">
				<span class="sectionTitle">PROPIETAT INTEL·LECTUAL, INDUSTRIAL I DRETS D’AUTOR</span>
				<span class="description">L’usuari reconeix i accepta que tots els drets de propietat industrial i intel·lectual sobre els continguts i qualsevol altre element inserit en els llocs web, pertanyen a l’FM, o en el seu cas, a tercers.</span>
				<span class="description">Les informacions, que poden provenir de fonts externes (identificades oportunament en cada cas), podrien no ser completament exactes o actualitzades, tot i els esforços perquè així sigui.</span>
				<span class="description">Tots els continguts estan protegits pels drets d’autor, i propietat intel·lectual, que l’usuari ha de respectar. La informació d’aquesta web només podrà ser usada per aquelles persones expressament autoritzades per l’autor.</span>
				<span class="description">Resta prohibit qualsevol ús dels continguts de la pàgina web, concretament sobre les fotografies, imatges, textos, disseny gràfic, continguts creatius i estètics, índexs, sons i codis font, sense l’autorització expressa dels seus titulars/autors. Qualsevol ús no permès serà degudament perseguit pels legítims propietaris.</span>
				<span class="description">Fundació Miranda és marca protegida legalment i propietat de la Fundació Projecte Miranda. Així mateix, queda prohibit suprimir, eludir o manipular els drets d’autor, o altres dades identificatives, així com els dispositius tècnics de protecció o qualsevol mecanisme de informació que poguessin contenir els continguts. Tota vulneració dels drets de propietat intel·lectual i industrial inclosos en aquestes webs, així com la infracció de la normativa que els protegeix establerta en el text refós de la Llei de Propietat Intel·lectual, legislació referent a la protecció de patents i marques, i qualsevol altra normativa vigent, comportarà les responsabilitats civils i/o penals que en cada cas corresponguin.</span>
			</div>
		</div>
		<div class="indentedSection">
			<div class="subSectionText">
				<span class="sectionTitle">PROTECCIÓ DE DADES PERSONALS</span>
				<span class="description">La facilitació de dades personals no és requisit per tal d’accedir als continguts d’aquestes webs. Únicament s’emmagatzemaran les dades personals que l’usuari voluntàriament faciliti si ho desitja, ja bé sigui mitjançant formularis, com mitjançant qualsevol altra via. L’FM, com a responsable de les dades, es compromet a complir la legislació vigent en matèria de protecció i tractament de dades personals i, en particular, amb el Reglament Europeu de Protecció de Dades 2016/679, de 27 d’abril del 2016, i amb la seva normativa de desplegament. </span>
				<span class="description">Per aquest motiu, els comuniquem que les seves dades de caràcter personal, seran tractades amb la màxima confidencialitat i d’acord amb les finalitats que vostè hagi autoritzat.</span>
				<span class="description">La finalitat principal del tractament de les seves dades personals, és gestionar la relació amb els interessats i incorporar-los a la base de dades de l'FM per poder-los facilitar informació sobre els actes i activitats que creiem que puguin ser del seu interès tan per correu electrònic com per correu convencional. La conservació de les dades a la nostra base de dades és indefinida mentre vostè no les cancel·li.</span>
				<span class="description">Per tal de fer els enviaments informatius sobre les nostres activitats, podem utilitzar plataformes d’enviament de correus electrònics (com per exemple MailChimp). Aquestes plataformes, que garanteixen la confidencialitat durant el tractament, requereixen que s’incorporin prèviament les dades imprescindibles per dur a terme l’enviament i una vegada realitzats, les dades són eliminades. No està prevista ni la cessió ni la comunicació de les seves dades a d’altres entitats (exceptuant els casos anteriors, si escau), ni la transferència internacional de dades.</span>
				<span class="description">Els usuaris, les dades del quals siguin objecte de tractament, podran exercir gratuïtament els drets d'accés, rectificació, oposició i/o cancel·lació de les seves dades, de conformitat amb la legislació vigent. Aquests drets podran ser exercitats per l'usuari o, si escau, per qui el representi, mitjançant sol·licitud escrita i signada, dirigida a la següent adreça: Fundació Miranda, Pla de l'Orri s/n, 08619 Castell de l'Areny (Barcelona). La sol·licitud haurà de contenir les següents dades: nom i cognoms de l'usuari, domicili a efectes de notificacions, fotocòpia del Document Nacional d'Identitat o passaport, posar la referència “LOPD FM” i contingut concret del dret exercit. També podrà exercir els seus drets sol·licitant-ho per correu electrònic a l’adreça cavalls@fundaciomiranda.org, signat digitalment o bé acompanyat amb una còpia escanejada d’un document oficial que l’identifiqui, exposant el dret exercit.</span>
				<span class="description">Si considera que, per un motiu fundat, hem vulnerat algun dels seus drets, l'informem que té el dret i pot adreçar-se a les Autoritats de Control per tal de reclamar-ho, en aquest cas, l’Agencia Española de Protección de Datos.</span>
				<span class="description">Els usuaris garanteixen que són majors d'edat i que la informació facilitada és exacta i veraç. Seran els únics responsables de la veracitat i correcció de les dades incloses, quedant l’FM exonerada de qualsevol responsabilitat sobre això.</span>
			</div>
		</div>
		<div class="indentedSection">
			<div class="subSectionText">
				<span class="sectionTitle">MESURES DE SEGURETAT</span>
				<span class="description">L’FM informa a l'usuari que ha adoptat les mesures d'índole tècnica i organitzatives necessàries per garantir la seguretat de les dades de caràcter personal i evitar la seva alteració, pèrdua, tractament o accés no autoritzat, atès l'estat de la tecnologia, la naturalesa de les dades emmagatzemades i els riscos a què estiguin exposats, tant si provenen de l'acció humana o del medi físic o natural. Tot això de conformitat amb el que preveu l'article 9 de la LOPD, i normativa de desenvolupament. Igualment, l’FM garanteix a l'usuari el compliment del deure de secret professional respecte de les dades personals dels usuaris i del deure de guardar-los.</span>
			</div>
		</div>
		<div class="indentedSection">
			<div class="subSectionText">
				<span class="sectionTitle">POLÍTICA DE GALETES</span>
				<span class="description">Les galetes són petits arxius de text que recullen petites quantitats d’informació i que es descarreguen al navegador quan es navega per un lloc web. Aquests arxius normalment es classifiquen com a galetes de sessió o com a galetes persistents. Les primeres desapareixen del dispositiu quan es tanca el navegador i les persistents romanen a l’equip fins que l’usuari les elimina o vencen.</span>
				<span class="description">En el cas d’aquest lloc web, només utilitzem galetes de sessió que desapareixen una vegada es tanca el navegador i les pròpies de Google Analytics (que recullen informació anònima per saber com s’utilitza el lloc web, la procedència, les pàgines visitades, etc.).</span>
			</div>
		</div>
		<div class="indentedSection">
			<div class="subSectionText">
				<span class="sectionTitle">LEGISLACIÓ I JURISDICCIÓ APLICABLE</span>
				<span class="description">Aquests condicions generals queden subjectes a l’ordenament jurídic espanyol. Per a la resolució de qualsevol conflicte que pogués derivar de l’accés a la pagina web, l’usuari i l’FM, acorden sotmetre’s expressament a la jurisdicció dels Tribunals de la ciutat de Barcelona.</span>
			</div>
		</div>
	</div>
</div>

