<!-- ko with: connectToTheLife -->
	<div class="modernForm" data-bind="create: initializeOnPageLoad">
		<div class="sectionText">
			<!-- span class="subtitle">Divendres 6, dissabte 7 i diumenge 8 d’octubre 2017</span -->
			<span class="title">ELS CAVALLS i LES PERSONES AMB MALALTIES</span>
			<span class="subtitle">Els cavalls inspiren i ens recorden aquest amor i quietud interna que ens acompanya sempre i especialment durant una malaltia greu, complexa o crònica.</span>
			<div class="indentedSection">
				<div class="columnsContainer">
					<div class="firstColumn">
						<div class="subSectionText">
							<span class="sectionTitle">En què consisteix el taller?</span>
							<span class="description">Quan tenim una malaltia greu es fa molt difícil mantenir un equilibri personal i amb freqüència podem sentir que la nostra vida és una muntanya russa emocional. Podem perdre l’esperança, l’alegria i fins i tot sentir que la tristesa se’ns emporta. En aquests moments on queden pocs llocs on agafar-nos davant l’abisme de la malaltia, es fa necessari trobar un espai intern que ens serveixi de roca on recolzar-nos davant el que vingui i hagi de venir.</span>
							<span class="description">Els cavalls en llibertat coneixen i viuen de forma natural amb aquesta presència interna que els sosté. La seva energia amorosa i el seu camp magnètic ens irradia només estant-hi a prop. També ells han patit la malaltia, i en molts casos el maltractament. En la seva llibertat i en la companyia amb altres cavalls, han trobat aquest espai intern de pau, quietud i tranquil·litat. Al costat de cavalls lliures, experimentarem i recordarem com és aquesta presència interna que també nosaltres tenim. Una presència que, tot i les adversitats de la malaltia, ens pot permetre viure amb quietud i tendresa cap a nosaltres i cap les persones que estimem.</span>
							<span class="description">El taller s’iniciarà amb la presentació de la Fundació Miranda i una explicació sobre la naturalesa dels cavalls en llibertat, amb l’acompanyament constant d’una professional de la Fundació durant el taller i la visita als cavalls.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Dates i lloc</span>
							<span class="description">Diumenge 7 d’abril de 2019, de 9h a 14h.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">A qui va dirigit?</span>
							<span class="description">A persones amb malalties greus, complexes o cròniques. La dimensió espiritual no coneix els rols socials, en aquesta dimensió totes les persones som essència. Sou totes i tots benvinguts.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Faciliten</span>
							<span class="description"><span class="bold green">Sara Pons</span> - Responsable del Servei d’Atenció Espiritual (laica) de l’Hospital de Mollet i Centre Sociosanitari de Mollet. Docent i formadora en acompanyament emocional i espiritual a Universitats, Hospitals, Associacions i Fundacions. Formació rebuda entre d’altres: Màster d’Atenció Pal.liativa Integral a Persones amb Malalties Avançades, UAB i Hospital de Sant Pau. Module en MSc Palliative Care: Advanced Psychosocial and Spiritual Care. King’s College London University.</a></span>
							<span class="description"><span class="bold green">Rosa Galindo Solé</span> - Actriu i cantant, Cofundadora d’Eòlia Escola Superior d’Art Dramàtic, Cofundadora de Fundació Miranda i Professora Associada de Fitzmaurice Voicework.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Preu</span>
							<span class="description">40€.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Com m'apunto?</span>
							<span class="description">Envia un email <a href="mailto:formacionsarapons@gmail.com" class="standardLink">formacionsarapons@gmail.com</a> amb el teu nom, cognoms, telèfon i justificant de pagament</span>
						</div>


<!-- 						<div class="buttonsWrapper">
							<a target="_blank" href="https://www.eventbrite.com/e/retir-de-natura-i-salut-entre-cavalls-lliures-tickets-37803190360">
								<div class="actionButton primaryColor big buttonWithPadding">Apunta't-hi!</div>
							</a>
						</div> -->

<!-- 			      <div class="buttonsWrapper">
			      	<a href="https://www.eventbrite.com/e/retir-de-constellacions-entre-cavalls-lliures-tickets-46047709940">
			        	<button class="actionButton primaryColor big buttonWithPadding" data-bind="">Apunta-t'hi</button>
			        </a>
			      </div> -->
					</div>

					<div class="secondColumn">
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/malalties.jpg" />
						</div>
<!-- 						<div class="buttonsWrapper">
							<a target="_blank" href="https://www.eventbrite.com/e/retir-de-natura-i-salut-entre-cavalls-lliures-tickets-37803190360">
								<div class="actionButton primaryColor big buttonWithPadding">Apunta't-hi!</div>
							</a>
						</div> -->
<!-- 						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/const2.jpg" />
						</div>
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/const3.jpg" />
						</div> -->
<!-- 						<div class="subSectionText centered">
							<a href="http://www.eolia.cat" target="_blank">
								<img class="descriptionImage eoliaLogo" src="/static/images/eolia.png" />
							</a>
						</div> -->
					</div>

				</div>
			</div>

		</div>
	</div>
<!-- /ko