<div class="" data-bind="">
	<div class="sectionText">
		<span class="title">Visites i trobades a la Fundació</span>
		<div class="indentedSection">
			<div class="columnsContainer">
				<div class="firstColumn">
					<span class="description">Vols venir a una visita solidària? Vols conèixe'ns? Ets soci o padrí i vols venir a una trobada de socis?</span>
					<span class="description">Aquí tens el calendari! Apunta't a alguna de les trobades!</span>

					<div class="subSectionText">
						<span class="sectionTitle">Com son les nostres trobades?</span>
						<span class="description">Vine a conèixer els cavalls de veritat al Pla de l’Orri (primavera, estiu i tardor) o a les pastures d’hivern a la Muntanya d’Alinyà. La visita consisteix en una introducció a la nostra fundació i a les tasques que hi duem a terme i una visita guiada per anar a trobar mentre els avalls, amb explicació etològica (com són, com viuen, com es compoten i es relacionen els cavalls, quines necessitats com a espècie tenen…)</span>
						<span class="description">Podreu disfrutar de l’interacció amb els cavalls tot respectant la seva essència i el seu hàbitat natural.
A les visites a la seu del Pla de l’Orri, proposem dinar plegats un pícnic, tot observant els cavaalls en un entorn natural privilegiat. (servei de bar al Paller de l’Orri. Espai interior, acollidor i amb fantàstiques vistes.)</span>
					</div>

				</div>

				<div class="secondColumn">
					<img class="descriptionImage" src="/static/images/visitsHorses.jpg" />
				</div>
		</div>

		<!-- ko template: {name: 'calendar'} --><!-- /ko -->
	</div>
</div>
