<div class="sectionText">
	<span class="title">Espais de natura on els cavalls poden tornar a ser cavalls</span>
	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn">
				<div class="poem">
					<span class="verse">A la memoria dels cavalls la felicitat</span>
					<span class="verse">és a dalt de tot d’un turó...</span>
					<span class="verse">Mentre dormo somnio un temps allunyat,</span>
					<span class="verse">el temps dels cavalls.</span>
					<span class="verse">En aquests somnis el meu ramat viu en llibertat.</span>
					<span class="verse">I el símbol de la llibertat és aquell turó</span>
					<span class="verse">obert a totes les brises, per damunt de tots els perils.</span>
					<span class="author">(Gonzalo Moure. “Sóc un cavall”)</span>
				</div>
			</div>

			<div class="secondColumn centered">
				<img class="descriptionImage" src="/static/images/horsesAndNature1.jpg" />
			</div>
		</div>
	</div>

	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn centered">
				<div class="subSectionText centered">
					<img class="descriptionImage" src="/static/images/horsesAndNature2.jpg" />
				</div>

				<div class="subSectionText centered">
					<img class="descriptionImage" src="/static/images/horsesAndNature3.jpg" />
				</div>
			</div>

			<div class="secondColumn">
				<span class="sectionTitle complimentary1">Com viuen les cavalls a la Fundació</span>
				<span class="description">La Fundació Miranda treballa en la gestió de grans espais amb manades de cavalls, per tal de respectar les bases etològiques i l’essència d´aquests animals, preservant la seva vida en llibertat i en plenitud, i difonent aquesta mirada que respecta la necessitat del cavall, de la persona i del territori.</span>

				<span class="description">Amb aquesta tasca produim un intangible de vivències, emocions i valors, per tornar a la natura el que li prenem, generant espais per la reconciliació i la comunicació entre espècies.</span>

				<span class="description">A l’estiu, els cavalls de la Fundació Miranda, es mouen lliurement i pasturen en ramat per les 103 hectàrees del Pla de l’Orri, constituint la reserva de cavalls del Catllaràs (Serra de Catllaràs, espai protegit d’interès natural) a l’Alt Berguedà.</span>
				<span class="description">Molts dels 50 èquids dels que actualment té cura la Fundació, han estat rescatats de situacions difícils i de maltractament, i han recuperat el seu equilibri i la seva salut física, emocional i mental en contacte amb l’entorn natural i amb el grup de cavalls. Tractats amb respecte, sensibilitat, i des del coneixement del seu codi de comunicació i de la seva naturalesa, esdevenen cavalls centrats, forts i sociables, disposats a compartir el seu potencial, la seva energia vital i el seu espai amb les persones que s’apropen amb respecte.</span>
				<span class="description">Durant els mesos d’hivern, quan les nostres pastures s’aturen per l’arribada del fred i la neu, els cavalls de la Fundació poden seguir pasturant 150 hectàrees de la Muntanya d’Alinyà, 600 hectàrees a Ossera (Alt Urgell), i 300 hectàrees del Parc Natural del Garraf.</span>

				<span class="description">A finals de tardor, organitzem la Transhumància, activitat oberta al públic, per acompanyar les manades des del Pirineu a la terra baixa, fugint del fred per trobar aquests terrenys més càlids on poder pasturar durant l’hivern.</span>
				<span class="description">A mitjans de primavera, tornem amb els cavalls al Pla de l’Orri, seu de la Fundació a l’Alt Berguedà on passaran l’estiu a la pastura d’ alta muntanya.</span>
			</div>
		</div>
	</div>


	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn">
				<span class="sectionTitle complimentary1">Algunes coses que cal saber sobre els cavalls</span>
				<span class="description ennumeration">La presencia magnífica i única del cavall, fa que s’incrementi el valor del paisatge, i la bellesa dels espais naturals.</span>
				<span class="description ennumeration">El cavall és un recurs positiu de gran valor per l’ànima humana.</span>
				<span class="description ennumeration">El cavall és gregari i claustrofòbic. Necessita espai i grup. A la Fundació Miranda, no els tanquem,  ni els separem dels seus grups familiars.</span>
				<span class="description ennumeration">La saviesa dels cavalls i el seu aprenentatge es transmet de generació en generació quan pot viure en grup. Si els isolem, els debilitem com espècie.</span>
				<span class="description ennumeration">El cavall és independent i no necessita l’home.</span>
				<span class="description ennumeration">Tancant-lo, isolant-lo i canviant la seva alimentació fem que depengui de nosaltres i el convertim en un ésser dependent i en un malalt crònic, quan la natura l’ha dissenyat per ser autosuficient.</span>
				<span class="description ennumeration">Un cavall tancat pateix estrès constant i com a descàrrega del seu sistema nerviós desenvolupa estereotípies, conegudes com “vicis de quadra”.</span>
				<span class="description ennumeration">El cavall no és granívor, és un herbívor i necessita menjar herba.</span>
				<span class="description ennumeration">El cavall camina per menjar i menja per caminar. La seva salut depèn de que es pugui moure. Per això un dels nostres objectius és trobar grans espais per que visquin i pasturin.</span>
				<span class="description ennumeration">No ferrem els cavalls i no els posem ferros a la boca donat que estudis recents i la nostra experiència demostren que així s’allarga la seva vida i augmenta la qualitat de la seva existència i la seva salut.</span>
				<span class="description ennumeration">El cavall és un animal nocturn. De nit hi veu millor que nosaltres i és quan s’activa i està més viu. No té sentit tancar-lo.</span>
				<span class="description ennumeration">Els cavalls estableixen vincles profunds d’amistat incondicional. Han de poder triar en tot moment amb qui es relacionen i amb qui no.</span>
				<span class="description ennumeration">El grup, és un factor de salut, la xarxa social, el contacte i la vida social rica, són un factor de recuperació emocional i física pel cavall, que el connecta a la vida i a la seva força per superar l’adversitat.</span>
				<span class="description ennumeration">La moral del grup no té res a veure amb a la d’un cavall sol.</span>
				<span class="description ennumeration"></span>
				<span class="description ennumeration">Tenir un cavall sol o tancat no és un bon tracte, perquè l’allunya de la seva essència.</span>
				<div class="hashtagBlock">
					<a href="https://twitter.com/search?q=cavallslliures" target="_blank" class="hashtag">#cavallslliures</a>
					<a href="https://twitter.com/search?q=freehorses" target="_blank" class="hashtag">#freehorses</a>
					<a href="https://twitter.com/search?q=caballoslibres" target="_blank" class="hashtag">#caballoslibres</a>
				</div>
			</div>


			<div class="secondColumn centered">
				<div class="subSectionText centered">
					<img class="descriptionImage" src="/static/images/team.jpg" />
				</div>
				<div class="subSectionText centered">
					<img class="descriptionImage" src="/static/images/horsesAndNature4.jpg" />
				</div>
			</div>
		</div>
	</div>
</div>
