<div class="">
	<div class="sectionText">
		<span class="title">Retir de constel·lacions sistèmiques i nit de cap d'any</span>
		<span class="subtitle">Al Pla de l’Orri, seu de la Fundació Miranda l’Alt Berguedà</span>

		<div class="indentedSection">
			<div class="columnsContainer">
				<div class="firstColumn">
					<span class="description">Comencem el 2018 tenint cura de nosaltres en plena natura i en un entorn únic i autèntic per iniciar l’any!</span>
					<span class="description">Les <label class="bold">constel·lacions familiars i sistèmiques</label> faciliten una nova visió i la comprensió de l’origen d’un problema o conflicte, i mostren els passos cap a una solució satisfactòria per a totes les parts implicades. Són altament eficaces tant en l’àmbit personal com professional.</span>
					<span class="description"><label class="bold">Acompanyament i interacció amb els nostres gossos terapèutics</label> que ofereixen un aprenentatge continuat i autèntic sobre un mateix, d’una manera amorosa i incondicional.</span>
					<span class="description">A més a més podràs gaudir de passejades pel bosc i d’un menjar saludable i deliciós per cuidar cos i ànima.</span>
					<span class="description"><label class="bold">Cap d’any singular i únic</label> per acomiadar el 2017 i començar amb força el 2018, us proposem una celebració en grup reduït, en connexió amb la calma de la natura a l’hivern. Una festa pels sentits i l’esperit.</span>

					<div class="subSectionText">
						<span class="sectionTitle">Facilitadores</span>
						<span class="description"><label class="bold">Anna Álvarez Crispi</label> Coach sistèmica transaccional, Formadora assistida amb cavalls, infermera i kinesiòloga. Docent en el Postgrau d’Educació emocional i benestar de la UB.</span>
						<span class="description"><label class="bold">Rosa Galindo Solé</label> Cofundadora de la Fundació Miranda, Actriu i cantant, Cofundadora d’Eòlia Escola Superior d’Art Dramàtic, i Professora Associada Fitzmaurice Voicework ®.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Data</span>
						<span class="description">Inici el 30 de desembre a les 10:00h</span>
						<span class="description">Acabament l'1 de gener 2018 a les 11h, després d’esmorzar.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Àpats</span>
						<span class="description">Tots els àpats seran Vegetarians ecològic i Slow Food Km0 (opció vegana i sense gluten).</span>
						<span class="description">Sopar especial de cap d’any amb sorpreses.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Dormir</span>
						<span class="description">Sala compartida a l’espai de la Fundació. Màxim 12 persones.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Preu</span>
						<span class="description">366€ per persona amb àpats i allotjament inclosos.</span>
						<span class="description">Places limitades.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Com arribar?</span>
						<span class="description">En cotxe fins al punt de trobada que confirmarem dos dies abans. Si no es disposa de 4x4 o vehicle alt, es facilitarà la pujada pel tram de pista forestal amb taxi de muntanya.</span>
						<span class="description">Per coordinar l’activitat i facilitar-vos la logística del transport farem un grup de whatsapp.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Contacte</span>
						<span class="description">Rosa Galindo, Fundació Miranda 931023068, 672608000</span>
					</div>


					<div>
						<div class="buttonsWrapper">
							<a href="https://www.eventbrite.com/e/retir-de-constellacions-sistemiques-i-nit-de-cap-dany-tickets-39432318125">
								<div class="actionButton primaryColor big buttonWithPadding">Apunta-t'hi!</div>
							</a>
						</div>
					</div>
				</div>

				<div class="secondColumn">
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/newYear.jpg" />
					</div>
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/newYear3.jpg" />
					</div>
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/arc.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
