<div class="" data-bind="">
	<div class="sectionText">
		<span class="title">Transhumància</span>
		<span class="subtitle">Muntanyes, Boscos i Cavalls</span>
		<div class="indentedSection">
			<div class="columnsContainer">
				<div class="firstColumn">
					<div class="subSectionText">
						<span class="description">El Projecte Nòmades consisteix l’organització de les transhumàncies de la manada de cavalls de la Fundació. Durant 5 o 6  mesos a l’any, de maig a novembre, els 50 cavalls de la Fundació viuen en una pastura d’alta muntanya al Pla de l’Orri (PEIN Serra de Catllaràs). Al novembre fem la Transhumància cap a terres més càlides on els cavalls passen els mesos de fred, de novembre a maig.</span>
						<span class="description">Per una banda, la <strong>Transhumància dels Camins de Sal cap a l’Alt Urgell</strong> i per una altra, la <strong>Transhumància dels Cavalls de Marina</strong> cap al Parc Natural del Garraf.  A la primavera, tornem a fer el mateix trajecte de tornada a la seu de la Fundació.</span>

						<span class="sectionTitle">Per què el cavall és nòmada?</span>
						<span class="description">El cavall és un animal que camina per menjar i menja per caminar. El seu organisme necessita pasturar moltes hores diàries i desplaçar-se pel bon funcionament del seu cor, evitar problemes derivats de l’estabulació i de la ingesta puntual i espaiada de grans quantitats de pinso. Li cal moure’s per gaudir de bona salut.</span>
						<span class="description">La fisiologia del cavall, el porta a ser nòmada. No és territorial sinó que utilitza l’espai mentre li és útil. La natura l’ha dissenyat per a ser autosuficient. Si té espai per a pasturar i un grup, no necessita l’home. </span>
						<span class="description">A l’hivern, quan l’herba d’alta muntanya para de créixer amb l’arribada del fred, cal moure’s cap a terra baixa, per evitar que el cavall es quedi quiet i esperant que li portem el menjar durant l’hivern. El respecte a la seva necessitat i la seva naturalesa, ens ha fet buscar espais naturals i moltes hectàrees de muntanya i de bosc perquè les nostres manades visquin en llibertat.</span>
						<span class="description">D’aquesta manera segueix pasturant lliure, autosuficient i sense quedar-se aturat. Alhora millora el territori i el seu maneig es fa sostenible perquè estalvia un elevat cost en la compra d’herba seca (fenc) i el transport corresponent.</span>
					
						<span class="sectionTitle">Cavalls fent custòdia del territori</span>
						<span class="description">A l’Alt Urgell, amb la <strong>transhumància dels Camins de Sal</strong>,  pasturem i millorem el comunal d’Ossera, poble d’artesans, per un acord de millora del bosc, amb l’Ajuntament de La Vansa. Els cavalls ajuden així en la prevenció del risc d’incendis. També pasturem  la Solana de la Muntanya d’Alinyà per un acord amb la Fundació Catalunya La Pedrera. Les terres subpasturades d’Alinyà, han millorat gràcies a la presència d’aquests grans herbívors. El paisatge s’ha reverdit per la tasca de recuperació de pastura que efectuen els cavalls mentre van menjant.</span>
						<span class="description">Al Garraf, amb la transhumància dels Cavalls de Marina, pasturem 300 hectàrees d’estepa mediterrània del Parc Natural per un acord amb la Diputació de Barcelona. Això és de gran interès per una espècie protegida com la <a href="http://www.crarc-comam.net/" class="standardLink" target="_blank">tortuga mediterrània</a>, que habita aquestes terres.</span>
						<span class="description">La presència dels cavalls, assegura que l’herba massa alta no impedeix que la tortuga pugui tirar endavant.  La tortuga no pot prosperar en zones amb l’herba massa alta. Per tant, aquest projecte de Tortugues i Cavalls, esdevé una associació fantàstica per la conservació de flora i fauna.</span>
						<span class="description">En total, més de 1500 hectàrees de pastures per 50 cavalls durant tot l’any.</span>
						<span class="description">Quan es tracta de terreny més sec, on el recurs és més escàs o dispers, es necessita més espai per, menys cavalls, però això fomenta que el cavall es mogui més per tal d’aconseguir el recurs necessari per alimentar-se, la qual cosa és molt interessant per la seva salut. D’aquesta manera, en terreny més secaner, també desgasta els cascos i els enforteix.</span>
						
						<span class="sectionTitle">Recuperem el patrimoni històric, natural i cultural</span>
						<span class="description">Des de la Fundació Miranda, treballem per crear amb aquest moviment, una experiència per persones que ens vulguin acompanyar en aquesta pràctica ancestral que és la <a href="/transhumance" class="standardLink">Transhumància</a>. Això genera també valor pel territori i per les persones de les poblacions que acullen els cavalls (allotjaments, restaurants, artesans…), beneficiats per l’atracció de turisme a la zona.</span>
						<span class="description">També hem recuperat antics camins, dreceres i itineraris perduts que connecten poblacions i muntanyes. El pas dels cavalls els manté oberts. És el cas del camí que va del Molí de Fórnols a Ossera, d’Ossera a Coll d’Ares per anar a Alinyà, o del <a href="http://camiramaderdemarina.blogspot.com.es/" target="_blank" class="standardLink">Camí de Marina</a> que va del Pirineu al Garraf i que estan recuperant l’Ajuntament de Vilanova, i el de Santa Margarida i els Monjos entre d’altres.</span>
						<span class="description">Camins dels <a href="http://www.camidelsbonshomes.com/" class="standardLink" target="_blank">Bonshomes</a>, de les <a href="http://www.trementinaires.org/index.php?cont_id=12" class="standardLink" target="_blank">trementinairesa</a>, d’antigues transhumàncies, camins plens d’història que connecten Natura i Cultura, territori i persones.Ara són també els Camins dels Cavalls de Miranda.</span>
						<span class="description">Nòmades!</span>

					</div>
				</div>
				<div class="secondColumn">
					<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/logolarge.jpg" />
					</div>
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/nomads1.jpg" />
					</div>
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/where.jpg" />
					</div>
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/culture1.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
