<div class="" data-bind="">
	<div class="sectionText">
		<span class="subtitle">3-5 Agosto 2018</span>
		<span class="title">Transición hacia una alimentacion consciente y saludable</span>
		<span class="subtitle complimentary1">Una vez aceptado cualquier cambio que te propongas, deberás experimentarlo para que éste se consolide y algo nuevo crezca en ti</span>
		<div class="indentedSection">
			<div class="columnsContainer">
				<div class="firstColumn">
					<div class="subSectionText">
						<span class="sectionTitle">3 de agosto</span>
						<span class="description ennumeration">Llegada a las 17.00h</span>
						<span class="description ennumeration">19h Presentación del programa</span>
						<span class="description ennumeration">20h cena saludable</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">4 de agosto</span>
						<span class="description ennumeration">9h desayuno saludable</span>
						<span class="description ennumeration">10-12h “Nuestra Realidad Alimenticia” qué somos y qué necesitamos, alimentos y situación actual.</span>
						<span class="description ennumeration">13h almuerzo saludable</span>
						<span class="description ennumeration">14h “Encuentro con los Caballos” nútrete con su energía.</span>
						<span class="description ennumeration">16:30h té matcha o infusión</span>
						<span class="description ennumeration">17-19h “Claves para una nutrición saludable” que pasos seguir, herramientas y transición.</span>
						<span class="description ennumeration">19h “Baño de Gongs” nutre tu mente y tu esencia.</span>
						<span class="description ennumeration">20h cena saludable</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">5 de agosto</span>
						<span class="description ennumeration">9h desayuno saludable</span>
						<span class="description ennumeration">11h Dudas y cuestiones.</span>
						<span class="description ennumeration">12h “Baño de Gongs” nutre tu mente y tu esencia.</span>
						<span class="description ennumeration">13h almuerzo saludable</span>
						<span class="description ennumeration">15h “Encuentro con los Caballos” observa la naturaleza.</span>
						<span class="description ennumeration">17h fin del encuentro</span>
					</div>

					<div class="buttonsWrapper marginTop">
						<a href="https://www.eventbrite.com/e/entradas-retir-dalimentacio-transicio-cap-a-una-alimentacio-conscient-i-saludable-46048523373" target="_blank">
							<div class="actionButton primaryColor buttonWithPadding big">Apunta't aquí!</div>
						</a>
					</div>
				</div>
				<div class="secondColumn">
					<div class="centered">
						<img class="descriptionImage " src="/static/images/menjar.jpeg" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
