<!-- ko with: ourHorses-->
	<div class="sectionText">
		<span class="title">Els nostres cavalls</span>
		<span class="description">Els cavalls de la Fundació Miranda són un magnífic equip de professionals de la salut i de l’ajuda a les persones.  Cavalls resilients, que han superat dificultats i traumes emocionals i/o físics, o que ho estan fent de mica en mica. Gairebé tots els cavalls que viuen al Pla de l’Orri, precedeixen de maltractaments i d’històries dures, això si, amb final feliç!  </span>

		<span class="description">Si vols ajudar-nos a mantenir aquest procés, apadrina un cavall (amb una contribució de <strong>60€ al mes</strong>) i tindràs un AMIC molt especial. Podràs venir a visitar-lo, et farem arribar informació del seu estat, fotos ... I podràs venir a veure'l a totes les trobades de socis i padrins de la fundació! </span>

		<span class="description">Si vols apadrinar un cavall, fes clic a la seva foto i <strong>coneix la seva història</strong>. Trobaràs un enllaç per poder-lo apadrinar.</span>

		<div class="subSectionText">
			<span class="subtitle complimentary1">Busquen padrins</span>

			<div class="gridContainer">
				<!-- ko foreach: nonSponsoredHorses -->
					<!-- ko template: {name: 'animalCard'} --><!-- /ko -->
				<!-- /ko -->
			</div>
		</div>

		<div class="subSectionText">
			<span class="subtitle complimentary1">Ja tenen padrins!</span>

			<div class="gridContainer">
				<!-- ko foreach: sponsoredHorses -->
					<!-- ko template: {name: 'animalCard'} --><!-- /ko -->
				<!-- /ko -->
			</div>
		</div>
	</div>
<!-- /ko -->