<div class="" data-bind="">
	<div class="sectionText">
		<span class="title">Trobades de socis i padrins</span>
		<div class="indentedSection">
			<div class="columnsContainer">
				<div class="firstColumn">
					<span class="description">Sou socis o padrins de la Fundació? Veniu a visitar-nos!</span>
					
					<span class="description">Jornades exclusives per socis i padrins de la Fundació. <a href="/#!/become_partner" class="standardLink">Fes-te soci de la Fundació</a> i vine a compartir un dia de natura, cavalls i bons aliments.</span>

					<div class="subSectionText">
						<span class="sectionTitle">Què significa venir a una trobada de socis i padrins?</span>
						<span class="description">Significa poder gaudir d'aquest entorn privilegiat i poder passar el dia rodejat de natura i animals.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Qui pot venir?</span>
						<span class="description">Qualsevol soci o padrí de la Fundació. Cada soci o padrí pot portar fins a <strong>cinc acompanyants gratuïtament</strong>. Els altres acompanyants hauran de comprar un tiquet per tal de contribuir en la sostenibilitat de la Fundació. Cada tiquet extra costa <strong>10€</strong> pels adults i nens.
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">No ets soci?</span>
						<span class="description">Pots fer-te soci ara mateix! <a href="/#!/become_partner" class="standardLink">Fes clic aquí per ajudar a la Fundació</a>.</span>
					</div>
				</div>

				<div class="secondColumn">
					<img class="descriptionImage" src="/static/images/partner_meetings.jpg" />
				</div>
		</div>

		<!-- ko template: {name: 'calendar'} --><!-- /ko -->
	</div>
</div>
