<!-- ko with: press-->
	<div class="sectionText">
		<span class="title">Mitjans audiovisuals</span>
		<div class="indentedSection withTopMargin">
			<span class="subtitle">Catalunya Experience - TV3 (Novembre 2015)</span>
			<iframe src="https://www.youtube.com/embed/ZeSYPcjQdbo" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>


		<div class="indentedSection withTopMargin">
			<span class="subtitle">Som Aquí - Canal Terrassa</span>
			<iframe src="https://www.youtube.com/embed/0dItpfYYSqQ" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>


		<div class="indentedSection withTopMargin">
			<span class="subtitle">Espai Terra - TV3 (Maig 2013)</span>
	<iframe src="https://www.youtube.com/embed/Qb8102_PLh8" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>



		<div class="indentedSection withTopMargin">
			<span class="subtitle">Respira (capítol Animales y Compañeros) - BTV (Desembre 2012)</span>
			<iframe id="flumotion_iframe_player" src="https://play.barcelonatv2.webtv.flumotion.com/play/player?playerId=8&amp;podId=22099&amp;autoplay=false" name="flumotion_iframe_player" width="470px" height="320px" frameborder="0" scrolling="no" allowfullscreen="allowfullscreen"></iframe>
		</div>

		<div class="indentedSection withTopMargin">
			<span class="subtitle">El Dia De - Life Stories (Setembre 2015)</span>
			<iframe src="https://player.vimeo.com/video/148539651" width="500" height="281" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>

		<div class="indentedSection withTopMargin">
			<span class="subtitle">Aegis Audiovisuals</span>
			<span class="description">Video (d’uns 14 minuts de duració) dels cavalls de la Fundació Miranda, gravat durant les dues primeres setmanes del mes de març de 2010. Els cavalls feia només tres mesos que eren al Pla de l’Orri.</span>
			<span class="description">Podreu veure un petit seguiment de l’arribada de dos cavalls a la Fundació: El Sherwood (cavall blanc) que arriba durant el matí i el Bonjour (cavall marró) que arriba el mateix dia però al vespre. Podeu veure com les circumstancies fan que s’ajuntin i es facin amics durrant els primers dies. Al cap del temps cadascú acabarà en un subgrup diferent de cavalls.</span>
			<span class="description">A la darrera part del video podreu veure unes quantes fotos de la tasca social de la Fundació d’anys anteriors.</span>
			<iframe src="https://player.vimeo.com/video/58485100" width="500" height="281" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>
	</div>

	<div class="sectionText">
		<span class="title">Ràdio</span>
		<div class="indentedSection withTopMargin">
			<span class="subtitle">Amunt i Avall - La Xarxa comunicació local</span>
			<iframe src="https://programes.laxarxa.com/audio/26199/embed" name="iframe_audio" width="400" height="70" frameborder="0" scrolling="no"></iframe>
		</div>
		<div class="indentedSection withTopMargin">
			<span class="subtitle">Cadena SER - Què vols ser?</span>
			<iframe src="https://play.cadenaser.com/widget/audio/002RD010000000996830/" width="100%" height="102" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>
	</div>

	<div class="sectionText">
		<span class="title">Premsa escrita</span>
		<div class="indentedSection withTopMargin">
			<span class="description inline">Nació Digital (Maig 2016) - </span>
			<a href="http://www.naciodigital.cat/bergueda/noticia/5768/bergueda/recupera/transhumancia/cavalls/senders/antics" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">El Periódico (Maig 2016) - </span>
			<a target="_blank" class="standardLink" href="http://www.elperiodic.ad/noticia/51430/projecte-miranda-obre-la-transhumancia-als-visitants/twitter/11979?utm_source=dlvr.it&amp;utm_medium=twitter">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Nació Digital (Abril 2016) - </span>
			<a target="_blank" class="standardLink" href="http://www.naciodigital.cat/bergueda/noticia/5565/bergueda/recupera/transhumancia/cavalls/reclam/turistic">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Camí dels Bons homes (Abril 2016) - </span>
			 <a target="_blank" class="standardLink" href="http://www.camidelsbonshomes.com/pl26/actualitat/noticies/id172/la-fundacio-miranda-recupera-la-transhumancia-de-cavalls-fent-servir-alguns-camins.htm">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Diari de Terrassa (Setembre 2015) - </span>
			<a target="_blank" class="standardLink" href="http://www.diarideterrassa.es/terrassa/2015/09/13/fundacio-projecte-miranda/7105.html">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Escola Eòlia (Setembre 2015) - </span>
			<a target="_blank" class="standardLink" href="http://www.eolia.cat/estudiants-curs-practica-professional-fundacio-projecte-miranda/">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Nació Digital (Novembre 2015) - </span>
			<a target="_blank" class="standardLink" href="http://www.naciodigital.cat/bergueda/noticia/3941/catalunya/experience/arriba/al/bergueda/fa/tast/patum">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Xarxanet (Desembre 2014)  - </span>
			<a target="_blank" class="standardLink" href="http://xarxanet.org/ambiental/noticies/una-sana-i-sanadora-relacio-amb-la-naturalesa">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Descobrir.cat (Març 2014) - </span>
			<a target="_blank" class="standardLink" href="http://www.descobrir.cat/ca/agenda/un-dia-entre-cavalls-156194.php">Enllaç</a>
		</div>
		<div class="indentedSection">
			<span class="description inline">Ets el que menges (Setembre 2011)  - </span>
			<a target="_blank" class="standardLink" href="http://umamifotografia.com/un-dia-entre-caballos-fundacio-projecte-miranda/">Enllaç</a>
		</div>
	</div>
<!-- /ko -->