<!-- ko with: press-->
	<div class="sectionText">
		<span class="title">Mitjans audiovisuals</span>
		<div class="indentedSection withTopMargin">
			<span class="subtitle">8tv Catalunya Directe - (Desembre 2017)</span>
			<iframe src="https://www.youtube.com/embed/clLcbAdsrl8c" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>
<!-- 
		<div class="indentedSection withTopMargin">
			<span class="subtitle">Telenotícies Comarques TV3 - (12-12-2017)</span>
			<iframe src="https://www.ccma.cat/video/embed/5708441" allowfullscreen scrolling="no" frameborder="0" width="500px" height="281px"></iframe>
		</div>
 -->
		<div class="indentedSection withTopMargin">
			<span class="subtitle">Diputació TV - (Desembre 2017)</span>
			<iframe src="https://www.youtube.com/embed/MqFFIN8grFE" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>

		<div class="indentedSection withTopMargin">
			<span class="subtitle">Diputació TV - (Desembre 2017)</span>
			<iframe src="https://www.youtube.com/embed/qQt9BpnAA3w" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>

<!-- 		<div class="indentedSection withTopMargin">
			<span class="subtitle">L’informatiu TVE - (Desembre 2017)</span>
			<iframe frameborder="0" src="https://www.rtve.es/drmn/embed/video/4363167" name="L'informatiu 2 - 11/12/2017" scrolling="no" style="" allowfullscreen></iframe>
		</div> -->

<!-- 		<div class="indentedSection withTopMargin">
			<span class="subtitle">TV La Xarxa - (Novembre 2017)</span>
			<iframe id="iframe_chapter" src="https://www.xiptv.cat/embed/329814?width=778&amp;iframe_width=400&amp;share=&amp;height=219&amp;iframe_height=242" name="iframe_chapter" width="400" height="242" frameborder="0" scrolling="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
		</div>



 -->

		<div class="indentedSection">
			<span class="description inline">La 2 Noticias (12-12-2017) - </span>
			<a href="https://www.rtve.es/alacarta/videos/la-2-noticias/2-noticias-12-12-17/4367099/" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection withTopMargin">
			<span class="subtitle">Catalunya Experience - TV3 (Novembre 2015)</span>
			<iframe src="https://www.youtube.com/embed/ZeSYPcjQdbo" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>


		<div class="indentedSection withTopMargin">
			<span class="subtitle">Som Aquí - Canal Terrassa</span>
			<iframe src="https://www.youtube.com/embed/0dItpfYYSqQ" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>


		<div class="indentedSection withTopMargin">
			<span class="subtitle">Espai Terra - TV3 (Maig 2013)</span>
	<iframe src="https://www.youtube.com/embed/Qb8102_PLh8" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>


		<div class="indentedSection withTopMargin">
			<span class="subtitle">El Dia De - Life Stories (Setembre 2015)</span>
			<iframe src="https://player.vimeo.com/video/148539651" width="500" height="281" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>

		<div class="indentedSection withTopMargin">
			<span class="subtitle">Aegis Audiovisuals</span>
			<span class="description">Video (d’uns 14 minuts de duració) dels cavalls de la Fundació Miranda, gravat durant les dues primeres setmanes del mes de març de 2010. Els cavalls feia només tres mesos que eren al Pla de l’Orri.</span>
			<span class="description">Podreu veure un petit seguiment de l’arribada de dos cavalls a la Fundació: El Sherwood (cavall blanc) que arriba durant el matí i el Bonjour (cavall marró) que arriba el mateix dia però al vespre. Podeu veure com les circumstancies fan que s’ajuntin i es facin amics durrant els primers dies. Al cap del temps cadascú acabarà en un subgrup diferent de cavalls.</span>
			<span class="description">A la darrera part del video podreu veure unes quantes fotos de la tasca social de la Fundació d’anys anteriors.</span>
			<iframe src="https://player.vimeo.com/video/58485100" width="500" height="281" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>
	</div>

	<div class="sectionText">
		<span class="title">Ràdio</span>
<!-- 		<div class="indentedSection withTopMargin">
			<span class="subtitle">Catalunya Ràdio Informatius (Desembre 2017)</span>
				<iframe src="https://www.ccma.cat/audio/embed/984803" allowfullscreen scrolling="no" frameborder="0" width="400px" height="281px"></iframe>
		</div> -->

<!-- 		<div class="indentedSection withTopMargin">
			<span class="subtitle">Radio 4 (Novembre 2017)</span>
				<iframe frameborder="0" src="https://www.rtve.es/drmn/embed/audio/4323079" name="Boscos Sans + Roba + Transhumància de Cavalls salvatges" scrolling="no" style="" allowfullscreen></iframe>
		</div> -->

		<div class="indentedSection withTopMargin">
			<span class="description inline">Cope “La Linterna” (21-11-2017) - </span>
			<a href="https://www.cope.es/audios/linterna-cope-catalunya-andorra/dema-comenca-transhumancia-divuit-cavalls-fundacio-miranda-del-pirineu-parc-del-garraf-parlem-amb-rosa-galindo-co-fundadora-fundacio-miranda_435412" target="_blank" class="standardLink">Enllaç</a>
		</div>
	</div>

	<div class="sectionText">
		<span class="title">Premsa escrita</span>
		<div class="indentedSection">
			<span class="description inline">La Vanguardia (12-12-2017) - </span>
			<a href="https://www.pressreader.com/spain/la-vanguardia-català/20171104/282282435567068" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Diari de Vilanova (11-12-2017) - </span>
			<a href="https://www.diaridevilanova.cat/noticia/7529/transhumancia/cavalls/transitava/cami/ramader/marina/arriba/avui/al/parc/garraf" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Al dia.cat (11-12-2017) - </span>
			<a href="https://www.aldia.cat/catalunya/noticia-arriben-18-cavalls-parc-garraf-barce" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Vilanova.cat (13-12-2017) - </span>
			<a href="https://www.vilanova.cat/jsp/noticies/detall.jsp?id=43286055#.WjI4crj9-jM" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Viure als Pirineus (10-12-2017) - </span>
			<a href="https://www.viurealspirineus.cat/articulo/cerdanya/vintena-cavalls-baixen-pirineu-garraf-traves-cami-marina/20171211161124010231.html" target="_blank" class="standardLink">Enllaç</a>
		</div>


		<div class="indentedSection">
			<span class="description inline">Diari de Tarragona (8-12-2017) - </span>
			<a href="https://www.diaridetarragona.com/costa/Cunit-quiere-recuperar-su-camino-trashumante-20171211-0056.html" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Regió 7 (7-12-2017) - </span>
			<a href="https://www.regio7.cat/bages/2017/12/08/cavalls-que-recorren-cami-marina/448476.html" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Parc de l’Ortoll (6-12-2017) - </span>
			<a href="https://parcnaturalortollsantgervasi.blogspot.com.es/2017/12/transhumancia-adarro-10-i-11-de.html" target="_blank" class="standardLink">Enllaç</a>
		</div>


		<div class="indentedSection">
			<span class="description inline">La Fura del Penedès (5-12-2017) - </span>
			<a href="https://lafurapenedes.cat/transhumancia-18-cavalls-passar-lhivern-lliures-parc-garraf/" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Eix Diari (4-12-2017) - </span>
			<a href="https://www.eixdiari.cat/territori/doc/74340/un-grup-de-cavalls-en-transhumancia-des-del-pirineu-arribaran-a-la-platja-de-vilanova-i-la-geltru.html" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">San Quintí de Mediona (1-12-2017) - </span>
			<a href="https://www.santquintimediona.cat/story/1076/El-8-de-desembre-una-transhumancia-de-cavalls-passara-per-Sant-Quinti-de-Mediona.html?parentMenuType=&parentMenuId=5" target="_blank" class="standardLink">Enllaç</a>
		</div>


		<div class="indentedSection">
			<span class="description inline">Diari de Vilanova (25-11-2017) - </span>
			<a href="https://www.regio7.cat/bages/2017/12/08/cavalls-que-recorren-cami-marina/448476.html" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Nació Digital (12-11-2017) - </span>
			<a href="https://www.lavanguardia.com/vida/20171103/432561504788/manada-de-caballos-hace-trashumancia-de-pirineo-al-garraf-para-pasar-invierno.html" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Diputació de Barcelona (3-11-2017) - </span>
			<a href="https://parcs.diba.cat/web/l-informatiu/-/garraf-divuit-cavalls-faran-el-cami-de-transhumancia-del-pirineu-al-parc-del-garraf-per-passar-hi-l-hivern" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">La Vanguardia.com (3-11-2017) - </span>
			<a href="https://www.lavanguardia.com/vida/20171103/432561504788/manada-de-caballos-hace-trashumancia-de-pirineo-al-garraf-para-pasar-invierno.html" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Vilapress (3-11-2017) - </span>
			<a href="https://www.vilapress.cat/texto-diario/mostrar/883989/18-caballos-maltratados-rehabilitaran-transhumancia-camino-ganadero-marina" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Consorci dels Colls i Miralpeix (3-11-2017) - </span>
			<a href="https://www.collsmiralpeix.cat/ca/noticia/cami_ramader_de_la_marina/153/" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Regió 7 (2-11-2017) - </span>
			<a href="https://www.regio7.cat/bages/2017/11/02/avinyo-recupera-pas-pel-municipi/442165.html" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Naciodigital.cat (2-11-2017) - </span>
			<a href="https://www.naciodigital.cat/manresa/noticia/71185/avinyo/presentara/divendres/recuperat/cami/ramader/marina" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">El Periódico de Catalunya- Gente Corriente (2-11-2017) - </span>
			<a href="https://www.elperiodico.com/es/opinion/20171028/rosa-galindo-debemos-recordar-que-somos-naturaleza-6383411" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Nació Digital (Maig 2016) - </span>
			<a href="https://www.naciodigital.cat/bergueda/noticia/5768/bergueda/recupera/transhumancia/cavalls/senders/antics" target="_blank" class="standardLink">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">El Periódico (Maig 2016) - </span>
			<a target="_blank" class="standardLink" href="https://www.elperiodic.ad/noticia/51430/projecte-miranda-obre-la-transhumancia-als-visitants/twitter/11979?utm_source=dlvr.it&amp;utm_medium=twitter">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Nació Digital (Abril 2016) - </span>
			<a target="_blank" class="standardLink" href="https://www.naciodigital.cat/bergueda/noticia/5565/bergueda/recupera/transhumancia/cavalls/reclam/turistic">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Camí dels Bons homes (Abril 2016) - </span>
			 <a target="_blank" class="standardLink" href="https://www.camidelsbonshomes.com/pl26/actualitat/noticies/id172/la-fundacio-miranda-recupera-la-transhumancia-de-cavalls-fent-servir-alguns-camins.htm">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Diari de Terrassa (Setembre 2015) - </span>
			<a target="_blank" class="standardLink" href="https://www.diarideterrassa.es/terrassa/2015/09/13/fundacio-projecte-miranda/7105.html">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Escola Eòlia (Setembre 2015) - </span>
			<a target="_blank" class="standardLink" href="https://www.eolia.cat/estudiants-curs-practica-professional-fundacio-projecte-miranda/">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Nació Digital (Novembre 2015) - </span>
			<a target="_blank" class="standardLink" href="https://www.naciodigital.cat/bergueda/noticia/3941/catalunya/experience/arriba/al/bergueda/fa/tast/patum">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Xarxanet (Desembre 2014)  - </span>
			<a target="_blank" class="standardLink" href="https://xarxanet.org/ambiental/noticies/una-sana-i-sanadora-relacio-amb-la-naturalesa">Enllaç</a>
		</div>

		<div class="indentedSection">
			<span class="description inline">Descobrir.cat (Març 2014) - </span>
			<a target="_blank" class="standardLink" href="https://www.descobrir.cat/ca/agenda/un-dia-entre-cavalls-156194.php">Enllaç</a>
		</div>
		<div class="indentedSection">
			<span class="description inline">Ets el que menges (Setembre 2011)  - </span>
			<a target="_blank" class="standardLink" href="https://umamifotografia.com/un-dia-entre-caballos-fundacio-projecte-miranda/">Enllaç</a>
		</div>
	</div>
<!-- /ko -->