<div class="sectionText">
	<span class="title">Presentació Projecte Przewalski</span>
	<div class="columnsContainer">
		<div class="firstColumn maxGrowth">
			<span class="subtitle complimentary1">Divendres 8 i dissabte 9 de setembre al Pallars!</span>
			<div class="subSectionText">
				<span class="sectionTitle">Cap de setmana de Natura i Cultura</span>
				<span class="description">Apuntant-vos a aquesta activitat esteu ajudant a sostenir el Projecte Przewalski de la Fundació Miranda. Consisteix en la introducció d’aquests cavalls en perill d’extinció, 4 exemplars procedents de zoo d’Almuñécar (Granada), a la Reserva de Boumort on viuran en llibertat.</span>

				<span class="description">El projecte també preveu efectuar estudis sobre el comportament dels cavalls i el seu efecte sobre la vegetació de la Reserva, per a la qual cosa es comptarà amb la col·laboració de la Facultat de Veterinària de la Universitat Autònoma de Barcelona i el Centre Tecnològic Forestal de Catalunya. Així mateix, es contempla la seva valorització turística i educativa, mitjançant visites guiades que actualment s’estan dissenyant, en el marc del projecte de dinamització de la RNC de Boumort, aprovat per la Junta Consultiva de la reserva.</span>
				<span class="description">Us oferim l’opció de gaudir de la presentació el divendres 8 i dissabte 9 de setembre, o bé només assistir a la presentació del dissabte 9 de setembre. Us hi esperem!</span>
			</div>

			<div class="subSectionText">
				<span class="sectionTitle">Divendres 8</span>
				<span class="description ennumeration"><label class="bold green">19.30h</label> Trobada al <a class="standardLink" href="http://www.ctretze.cat/" target="_blank">CtretzePirineus</a>, fàbrica de cervesa artesana a La Pobla de Segur.</span>
				<span class="description ennumeration"><label class="bold green">20.00h</label> Presentació de la Fundació Miranda i maridatge de cervesa artesana amb formatges de Km0.</span>
				<span class="description ennumeration"><label class="bold green">21.30h</label> Sopar l’Era del Salasse (@PizzeriaLEraDelSalasse) de Salàs de Pallars i la presentació de la pizza solidària pel Projecte Przewalski.</span>
				<span class="description ennumeration">Copeta a Lo Quiosc (Talarn)</span>
			</div>

			<div class="subSectionText">
				<span class="sectionTitle">Dissabte 9</span>
				<span class="description ennumeration"><label class="bold green">11.00h</label> Trobada davant Hotel Solé (Av de l’Estació 44, La Pobla de Segur) per anar junts  cap a la Reserva Nacional de Boumort, on viu el grupet de cavalls salvatges de la Fundació.</span>
				<span class="description ennumeration"><label class="bold green">11.45h</label> Arribada a la reserva de Boumort on es durà a terme i la visita als cavalls i la presentació del projecte, a càrrec de <label class="bold">Rosa Galindo</label> (Presidenta Fundació Miranda), <label class="bold">Jordi Palau</label> (Director Reserva Nacional de Boumort) i <label class="bold">Xavier Manteca</label> (Cap d’etologia de la Facultat de Veterinària UAB i Patró de la Fundació Miranda).</span>
				<span class="description ennumeration"><label class="bold green">13.30h</label> Dinar de pícnic per compartir a la Font de les Trilles (Boumort). En cas de pluja farem el pícnic al Refugi de la Reserva.</span>
				<span class="description ennumeration"><label class="bold green">16.00h</label> Tornada a La Pobla per agafar els cotxes.</span>
				<span class="description ennumeration"><label class="bold green">16.45h</label> Opció de fer visita a les <a href="www.botiguesmuseusalas.cat" class="standardLink" target="_blank">Botigues-Museu</a> de Salàs de Pallars</span>
			</div>

			<div class="subSectionText">
				<span class="sectionTitle">Preus</span>
				<span class="description"><label class="bold">Socis:</label> Gratuït (fins a tres acompanyants).</span>
				<span class="description"><label class="bold">No socis:</label> Visita 20€ d’aportació al Projecte Przewalski.</span>
				<span class="description"><label class="bold">Maridatge de cervesa artesana i formatge km0:</label> Gratuïta però reserva necessària via web.</span>
				<span class="description"><label class="bold">Sopar pizzeria l’Era del Salasse:</label> 18€ aprox (es paga allà).</span>
				<span class="description"><label class="bold">Opció de taxi 4x4 per pista forestal fins a Boumort:</label> 10€ per persona. Reserva via web i pagament in situ.</span>
			</div>
			<div class="subSectionText">
				<span class="sectionTitle">Opcions per dormir a Salàs la nit del 8 i/o del 9</span>
				<span class="description ennumeration">Hotel Bertran</span>
				<span class="description ennumeration">Alberg Fundació Pere Tarrés</span>
				<span class="description ennumeration">Camping Gaset (Pantà de Tremp)</span>
			</div>
			<div class="subSectionText">
				<span class="sectionTitle">IMPORTANT</span>
				<span class="description ennumeration">La Fundació no gestiona les reserves d’allotjament. Cal fer reserva en un dels allotjaments per quedar-se a dormir.</span>
				<span class="description ennumeration">La Fundació s’encarrega només de reservar lloc pel maridatge de cerves i formatge, el sopar a la pizzeria i taxis 4x4.</span>
				<span class="description ennumeration">Opció d’arribar el mateix dia 9 a les 11h.</span>
				<span class="description ennumeration">El pícnic del dia 9 cadascú s’ho porta de casa. Els que vingueu el dia 8, podreu guardar el pícnic pel dia següent a la nevera.</span>
			</div>
			<div class="buttonsWrapper">
				<a href="https://www.eventbrite.com/e/presentacio-projecte-przewalski-tickets-37078724463">
					<div class="actionButton primaryColor buttonWithPadding big">Reserva!</div>
				</a>
			</div>
		</div>
		<div class="secondColumn">
			<div class="subSectionText centered">
				<img class="descriptionImage" src="/static/images/projecteprzewalski1.jpg" />
			</div>

			<div class="subSectionText centered">
				<img class="descriptionImage" src="/static/images/projecteprzewalski2.jpg" />
			</div>

			<div class="subSectionText centered">
				<img class="descriptionImage" src="/static/images/projecteprzewalski3.jpg" />
			</div>
		</div>
	</div>

</div>