<div class="sectionText">
	<span class="title">Projecte Przewalski. Miranda-Boumort.</span>
	<div class="columnsContainer">
		<div class="firstColumn maxGrowth">
			<span class="bold description complimentary1">La Fundació Miranda té al seu càrrec tres cavalls przewalski procedents del Zoològic clausurat d’Almuñécar (Granada). Aquests cavalls es troben actualment a la Reserva Nacional de Boumort, i formen part d’una iniciativa conjunta de la Fundació i de la Reserva.</span>

			<span class="description">Aquest Projecte està en fase de disseny i desenvolupament. Actualment es centra en tenir cura del benestar d’aquests cavalls, i <label class="bold green">en el futur es preveu la reproducció</label> i anar conquerit part de l’extens territori de la Reserva (13 hectàrees).</span>

			<span class="description">Aquest espai, i la seva extensió, dóna al projecte una singularitat que el pot fer únic a Europa, i coherent amb el propòsit de la Fundació Miranda de fomentar la vida en llibertat dels cavalls.</span>
			
			<span class="description">El dilluns 29 de maig de 2017 van arribar aquests exemplars de cavall salvatge o de Przewalski a la Reserva Nacional de Caça (RNC) de Boumort gestionada pel Departament d’Agricultura, Ramaderia, Pesca i Alimentació de la Generalitat de Catalunya. Els cavalls són propietat de la Fundació Miranda i procedeixen del Zoològic d’Almuñécar (Granada), que ha estat recentment clausurat. La fundació FAADA, que s’està encarregant de reubicar tots els animals del zoològic, va fer la petició a la Fundació Miranda i ha facilitat els tràmits per a la reubicació dels cavalls.</span>
			
			<span class="description">Alliberats en un <label class="bold green">tancat d’aclimatació especialment destinat per a ells</label>, està previst anar obrint nous espais més extensos.</span>

			<span class="description">Agraïm la donació d’un dispositiu GPS a La Corona www.retirodecaballos.com/ca/, i a l’empresa <a href="https://tractive.com/es/gps/" class="standardLink">Tractive</a> del País Basc. Es tracta d’un mascle i dues femelles joves.</span>

			<span class="description">Els cavalls de Przewalski són la <label class="bold green">varietat més antiga de cavall existent actualment</label>, i es consideren en perill d’extinció a nivell mundial per la Llista Vermella d’Espècies Amenaçades de la Unió Internacional per a la Conservació de la Natura (UICN). Es calcula que en sobreviuen uns 2.000 exemplars, repartits entre centres de cria en captivitat i unes poques localitats on viuen en estat salvatge o en semi-llibertat. Cavalls amb les seves característiques apareixen pintats pels nostres avantpassats del Paleolític en coves com les de Lascaux (França).</span>
			
			<span class="description">Entre les diferents institucions que col·laboren en la iniciativa s’ha considerat que la RNC de Boumort és un lloc idoni per a l’acollida d’aquests animals, ja que compta amb una extensió notable de territori propietat de la Generalitat de Catalunya, en el qual s’hi porta a terme un projecte de valorització de la fauna salvatge com actiu per al desenvolupament local. Aquesta actuació es fa amb la finalitat d’oferir una ubicació adequada a les característiques dels cavalls salvatges, alhora que es contribueix a la recuperació d’una varietat amenaçada. Els animals estaran confinats en recintes grans, delimitats físicament, en els quals podran desenvolupar el seu comportament en llibertat.</span>
			
			<span class="description">El projecte també preveu efectuar estudis sobre el comportament dels cavalls i el seu efecte sobre la vegetació de la Reserva, per a la qual cosa es comptarà amb la col·laboració de la Facultat de Veterinària de la Universitat Autònoma de Barcelona i el Centre Tecnològic Forestal de Catalunya. Així mateix, es contempla la seva valorització turística i educativa, mitjançant visites guiades que actualment s’estan dissenyant, en el marc del projecte de dinamització de la RNC de Boumort, aprovat per la Junta Consultiva de la reserva.</span>
			
			<span class="description">Els promotors de la iniciativa agraeixen la col·laboració de totes les persones i entitats que han fet possible aquest trasllat: entitats, veterinaris, personal del zoològic d’Almuñécar, transportista i guardes de la reserva, així com de l’Ajuntament d’Almuñécar i la Fundació Catalunya-La Pedrera.</span>
		</div>

		<div class="secondColumn">
			<div class="subSectionText centered">
				<img class="descriptionImage" src="/static/images/projecteprzewalski1.jpg" />
			</div>

			<div class="subSectionText centered">
				<img class="descriptionImage" src="/static/images/projecteprzewalski2.jpg" />
			</div>

			<div class="subSectionText centered">
				<img class="descriptionImage" src="/static/images/projecteprzewalski3.jpg" />
			</div>
		</div>
	</div>

</div>