<div class="sectionText">
	<span class="title">Equienergètica i comunicació amb cavalls</span>
	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn">
				<span class="description">L’espai natural privilegiat on vivim amb els cavalls, i ells mateixos, per la seva connexió amb la natura, constitueixen un potencial de salut molt potent. La Fundació Miranda pot intervenir en <strong>processos terapèutics, sanadors o simplement personals</strong> com a facilitadors. Es tracta d’acompanyar cada grup, sense interferir, en la seva experiència amb el cavall i amb l’entorn.</span>
				
				<span class="description">No definim aquesta proposta que ens arriba dels cavalls i de la natura, com a teràpia, hipoteràpia o equinoteràpia. Sense cap pretensió, més que la de <strong>compartir</strong> i estar presents a cada instant, proposem un temps de contacte i connexió persona-cavall-natura que ja de manera implícita esdevé terapèutic i que pot ser formulat de manera específica en funció de les necessitats de cadascú i del seu moment. Sense intensió de canviar l’altre o d’afegir-li elements transformadors, sinó amb el propòsit de <strong>respectar-lo</strong>, de confiar i de transmetre aquesta confiança en la propia <strong>energia vital i sanadora</strong>. Aquesta energia capacita qualsevol ésser viu per a recuperar l’equilibri del qual, per un o altre motiu, s’ha allunyat. Tornar a l’orígen de la mà dels millors mestres, els cavalls.</span>
			</div>

			<div class="secondColumn centered">
				<img class="descriptionImage" src="/static/images/socialContribution1.jpg" />
			</div>
		</div>
	</div>

	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn centered">
				<img class="descriptionImage" src="/static/images/socialContribution2.jpg" />
			</div>

			<div class="secondColumn">
				<span class="description">També ens identifiquem amb el concepte <strong>Resiliència</strong>, qualitat que fa als éssers vius capaços de superar l’adversitat i les dificultats que es presenten a la vida. Amb un bon acompanyament en podem sortir reforçats. Els cavalls de la Fundació Miranda, per la seva pròpia vivència, són mestres en resiliència. Animals que han patit abusos, isolament, confinament... i situacions, en alguns casos extremes, que amb el suport, amb l’estímul del grup, amb la llibertat i amb la connexió amb la natura, han recuperat la confiança, la salut i la saviesa, i han tornat a ser cavalls de veritat.</span>
			</div>
		</div>
	</div>
</div>