<div class="sectionText">
  <span class="title">Apadrina!</span>
  <span class="description">Estableix un fort vincle d’amistat i amor amb un dels nostres cavalls recuperats. Rebràs fotografies i informació de l’evolució del “teu”cavall i el podràs venir a veure a les trobades de socis i padrins. També gaudiràs de descomptes si vols realitzar alguna de les nostres activitats.</span>
<span class="description">Els padrins/es aporten 60€ mensuals per ajudar-nos a recuperar i cuidar els cavalls, a realitzar la nostra tasca social i a mantenir aquest espai natual.</span>
</div>  
<div class="fullWidthImage familyHorse"></div>

<!-- ko template: {name: 'commerceForm', data: form} --><!-- /ko -->