<div class="sectionText" data-bind="create: initialize">
  <span class="title">Apadrina!</span>
	<div class="columnsContainer">
		<div class="firstColumn">
  		<span class="description">Estableix un fort vincle d’amistat i amor amb un dels nostres cavalls recuperats. Rebràs fotografies i informació de l’evolució del "teu" cavall i el podràs venir a veure a les trobades de socis i padrins. També gaudiràs de descomptes si vols realitzar alguna de les nostres activitats.</span>
			<span class="description">Els padrins aporten <strong>60€</strong> mensuals per ajudar-nos a recuperar i cuidar els cavalls, a realitzar la nostra tasca social i a mantenir aquest espai natual.</span>
			<span class="description">Gràcies a gent com tu la Fundació pot mantenir tots els cavalls en el seu hàbitat natural.</span>
			<span class="description primary bigDescription bold">Moltes gràcies!</span>
		</div>

		<div class="secondColumn centered">
			<img class="descriptionImage" src="/static/images/sponsor.jpg" />
		</div>

	</div>
</div>  

<!-- ko template: {name: 'commerceForm', data: form} --><!-- /ko -->