<div>
	<div class="sectionText">
		<span class="title">Campaments d'estiu (6-13 anys)</span>
		<div class="indentedSection withTopMargin">
			<div class="columnsContainer">
				<div class="firstColumn maxGrowth">
					<span class="sectionTitle">Una experiència de grup i d’amistat per divertir-se i per créixer.</span>
					<span class="description">Un espai de convivència plena a la natura amb el propòsit d'afavorir un ambient d’escolta i respecte per cada sensibilitat, donant espai a les necessitats que sorgeixin i oferint un ventall de rutines, jocs i propostes que fomenten la connexió interna, la comunicació i la creativitat. Viurem en un espai privilegiat de natura, fent d’aquest entorn i dels éssers que l’habiten el nostre món.</span>
					<span class="description">L’eix central serà la comunicació i la convivència en tots els sentits. Els cavalls, els gossos i tots els animals de la fundació, els arbres i els indrets màgics del pla de l’Orri seran els nostres aliats en aquesta aventura.</span>
					<span class="description">Hi haurà comunicació amb cavalls i gossos (senyals de calma), propostes de joc i d’expressió, tallers d’ATB (awareness through the body), participació a la Cuina i les tasques diàries, passejades i excursions amb pícnic, introducció a les plantes aromàtiques i medicinals i al valor del bosc, treball a l’hort, activitats d’arts plàstiques creatives i moviment creatiu.</span>
					<span class="description">Un acompanyament respectuós amb cada sensibilitat particular, posant límits i proposant reptes, generant espai per que sorgeixin les necessitats, impulsos, interessos i converses dels infants de manera espontània. Donar espai a allò que sorgeix de la trobada amb les persones, els animals i la natura.</span>
				</div>

				<div class="secondColumn centered">
					<img class="descriptionImage" src="/static/images/summerCamp.jpg" />
				</div>
			</div>
		</div>

		<div class="indentedSection withTopMargin">
			<div class="columnsContainer">
				<div class="firstColumn centered">
					<img class="descriptionImage" src="/static/images/summerCamp2.jpg" />

				</div>

				<div class="secondColumn">
					<span class="sectionTitle">Lloc</span>
					<span class="description">Pla de l’Orri, Alt Berguedà. A 1h i 45 min. de Barcelona. A la Serra del Catllaràs, un espai protegit d’interès natural que ofereix un marc d’excepció amb cavalls, cérvols, isards... i un esplèndid paisatge d’alta muntanya. Acampada en tipis, prop del mas on hi ha les instal·lacions amb banys i dutxes. Les activitats s’efectuaran a l’aire lliure i a la sala polivalent de l’aula d’entorn rural. Menjar ecològic fet a casa (productes bio, artesans i de proximitat).</span>
				</div>
			</div>
		</div>

		<div class="indentedSection withTopMargin">
			<div class="columnsContainer">

				<div class="firstColumn centered">
					<img class="descriptionImage" src="/static/images/workCamp4.jpg" />
				</div>

				<div class="secondColumn maxGrowth">
					<span class="sectionTitle">Equip responsable</span>

					<span class="description"><strong>Rosa Galindo</strong>, actriu i cantant, cofundadora d’Eòlia Escola Superior d’Art Dramàtic i de la Fundació Miranda.</span>
					<span class="description"><strong>Teresa Garcia Valenzuela</strong>, Directora de Lleure i coordinadora de l’equip d’acompanyant i talleristes. Membre de l’Equip docent d’Eolia (Departament de cos i dansa) des de fa 10 anys. Ballarina, coraògrafa, formada en Educació Viva i ATB.</span>
					<span class="description"><strong>Noemí Delgado</strong>, Llicenciada en Ciències de l’Activitat Física i l’esport. Professora de ioga per a nens i famílies, professora de circ, formada en Educació Viva i ATB.</span>
					<span class="description"><strong>Juna López</strong>, Estudis d’Educació Infantil. Monitora de lleure per l’Escola lliure El Sol, títol de Galop IV d’equitació, Nec pro 1 (Natural Equine Connection Professional 1, 2, 3 i 4).</span>

					<span class="sectionTitle">Equip de la Fundació Miranda amb presència durant els camps</span>
					<span class="description"><strong>Franc Ibáñez</strong>, Responsable del manteniment de la finca i manteniment d’infraestructures i equipaments. Coresponsable dels animals de la Fundació Porjecte Miranda.</span>
					<span class="description"><strong>Paolo Sgura</strong>, col.laborador en manteniment i cuina, (programa de Voluntariat).</span>
					<span class="description"><strong>Carlos Sánchez Guzman</strong>, Responsable de la Cuina. Es forma com a Cuiner (estudis de Grtau Mitjà a l’Escola CETT de Barcelona), ha treballat com a diversos restaurants de Barcelona i Finlàndia, especialitzant-se en cuina Japonesa, Mexicana, Finlandesa i tradicional Catalana.</span>
				</div>
			</div>
		</div>

		<div class="indentedSection withTopMargin">
			<div class="columnsContainer">
				<div class="firstColumn">
					<span class="sectionTitle">Més info i preus</span>
					<span class="description">Grups reduïts: Atenció a la dinàmica i a la comunicació del grup com a experiència de creixement. Màxim: 17 participants.</span>
					<span class="description">Preu: <span class="bold">500€/setmana.</span> Es pot reservar plaça per a una o dues setmanes (10% de descompte per germans). Mantenim el mateix preu desde fa 5 anys. Alimentació 100% ecològica, 4 adults amb el grup de màxim 17 nens/es.</span>
					<span class="description">Més informació: 93 102 30 68 – 672 608 000 – <a href="mailto:cavalls@fundaciomiranda.org" class="standardLink">cavalls@fundaciomiranda.org</a></span>
					<span class="description">Participant a les nostres activitats ajudes a fer possible la tasca social de la Fundació.</span>
					<span class="description">Potser també us interessa: Camp de treball per a joves de 13 a 17 anys (+ info)</span>
				</div>

				<div class="secondColumn centered">
					<img class="descriptionImage" src="/static/images/summerCamp3.jpg" />

				</div>
			</div>
		</div>

		<!-- ko template: {name: 'calendar', data: calendar} --><!-- /ko -->

	</div>
</div>
