<div class="" data-bind="">
	<div class="sectionText">
		<span class="title">Campaments d'estiu (6-13 anys)</span>
		<div class="indentedSection withTopMargin">
			<div class="columnsContainer">
				<div class="firstColumn">
					<span class="sectionTitle">Una experiència de grup i d’amistat per divertir-se i per créixer.</span>
					<span class="description">Una, dues o tres setmanes de connexió amb la natura i amb els companys i una experiència única de convivència amb cavalls lliures. Posarem la nostra atenció a la comunicació, l’escolta i el procés personal en un context de natura i amb l’acompanyament dels animals de la Fundació. Proposem activitats com el Ioga, el moviment i la consciència corporal i de la respiració, el teatre i la doma natural (comunicació amb cavalls). Connectats amb el nostre entorn privilegiat, podrem gaudir d’espai i llibertat a l’aire lliure, de tallers i observació de flora, fauna i ecosistemes.</span>
				</div>

				<div class="secondColumn">
					<img class="descriptionImage" src="/static/images/summerCamp.jpg" />
				</div>
			</div>
		</div>

		<div class="indentedSection withTopMargin">
			<div class="columnsContainer">
				<div class="firstColumn">
					<img class="descriptionImage" src="/static/images/summerCamp2.jpg" />

				</div>

				<div class="secondColumn">
					<span class="sectionTitle">Lloc</span>
					<span class="description">Pla de l’Orri, Alt Berguedà. A 1h i 45 min. de Barcelona. A la Serra del Catllaràs, un espai protegit d’interès natural que ofereix un marc d’excepció amb cavalls, cérvols, isards… i un esplèndid paisatge d’alta muntanya. Acampada en tipis, prop del mas on hi ha les instal·lacions amb banys i dutxes. Les activitats s’efectuaran a l’aire lliure i a la sala polivalent de l’aula d’entorn rural. Menjar ecològic fet a casa (productes bio, artesans i de proximitat).</span>
				</div>
			</div>
		</div>

		<div class="indentedSection withTopMargin">
			<div class="columnsContainer">


				<div class="firstColumn">
					<span class="sectionTitle">Més info i preus</span>
					<span class="description">Grups reduïts: Atenció a la dinàmica i a la comunicació del grup com a experiència de creixement. Màxim: 17 participants.</span>
					<span class="description">Equip integrat per responsables de la Fundació i integrants de l’Equip directiu i docent d’Eòlia, Escola Superior d’Art Dramàtic. www.eolia.es  amb professionals en actiu de les arts escèniques. i monitor de lleure.</span>
					<span class="description">Director dels campaments: Maurici Biosca (Encarregat de fer tota la part de comunicació amb cavalls i etologia equina.)</span>

					<span class="description">Preu: <span class="bold">500€/setmana.</span> Es pot reservar plaça per a una o dues setmanes (10% de descompte per germans). Mantenim el mateix preu desde fa 5 anys. Alimentació 100% ecològica, 4 adults amb el grup de màxim 17 nens/es.</span>
					<span class="description">Més informació: 93 102 30 68 – 672 608 000 – info@projectemiranda.cat</span>
					<span class="description">Participant a les nostres activitats ajudes a fer possible la tasca social de la Fundació.</span>
					<span class="description">Potser també us interessa: Camp de treball per a joves de 13 a 17 anys (+ info)</span>
				</div>

				<div class="secondColumn">
					<img class="descriptionImage" src="/static/images/summerCamp3.jpg" />

				</div>
			</div>
		</div>


		<!-- ko template: {name: 'calendar'} --><!-- /ko -->
	</div>
</div>
