<!-- ko with: summerCampTeens -->
	<div class="" data-bind="create: initializeOnPageLoad">
		<div class="sectionText">
			<span class="title">Camp de treball per a joves (13-17 anys)</span>
			<div class="indentedSection withTopMargin">
				<div class="columnsContainer">
					<div class="firstColumn">
						<span class="sectionTitle">Una experiència de grup i d’amistat per divertir-se i per créixer</span>
						<span class="description">Un canvi de context que facilita la connexió amb la natura, amb els cavalls, els gossos i altres animals i la connexió amb un mateix i amb el grup.</span>
						<span class="description">Una immersió o retir per a joves amb ganes de créixer i canalitzar l’energia en la força de transformar el seu entorn i de crear el que es proposin.</span>
						<span class="description">Una experiència de vida, transformadora i saludable per connectar amb el propi potencial i les pròpies capacitats.</span>
						<span class="description">Una experiència de vida, transformadora i saludable per connectar amb el propi potencial i les pròpies capacitats.</span>
						<span class="description">Acampada en tipis (tendes índies), participació a les tasques diàries de la Fundació i en tasques de l’hort (permacultura), la gestió del bosc i la rehabilitació d’una cabana de pastor amb bioconstrucció.</span>
						<span class="description">Comunicació amb cavalls, generar vincle amb els cavalls i muntar d’una manera conscient que sorgeix del vincle i del respecte, comunicació amb gossos (senyals de calma), opció de participar a tallers de circ (malabars, acrobàcia, aeris), i Ballant entre cavalls: Hip hop, Danses Urbanes i Dansa de contacte.</span>
					</div>

					<div class="secondColumn centered">
						<img class="descriptionImage" src="/static/images/workCamp.jpg" />
					</div>
				</div>
			</div>

			<div class="indentedSection withTopMargin">
				<div class="columnsContainer">
					<div class="firstColumn centered">
						<img class="descriptionImage" src="/static/images/workCamp2.jpg" />
					</div>

					<div class="secondColumn">
						<span class="sectionTitle">Activitats</span>
						<span class="description">Activitats diàries de ioga, consciència corporal, expressió oral i creativa i rodes de comunicació grupal. Participació en tasques de la finca com tenir cura dels animals, aprenentatge de les “senyals de calma” per conviure amb els 10 gossos de la Fundació, reparació de tancats, passejades, banys a la bassa, música i xerrades després de sopar. Aquest any farem un altra taller de bio-construcció (construirem un altra refugi/hobbit pels gossos de la Fundació, amb terra, troncs i neumàtics recliclats i construirem un abeurador natural per els cavalls).</span>
					</div>
				</div>
			</div>

			<div class="indentedSection withTopMargin">
				<div class="columnsContainer">
					<div class="firstColumn">
						<span class="sectionTitle">On som</span>
						<span class="description">Pla de l’Orri, Alt Berguedà. A 1h i 45 min. de Barcelona. A la Serra del Catllaràs, un espai protegit d’interès natural que ofereix un marc d’excepció amb cavalls, cérvols, isards... i un esplèndid paisatge d’alta muntanya. Acampada en tipis, prop del mas on hi ha les instal·lacions amb banys i dutxes. Les activitats s’efectuaran a l’aire lliure i a la sala polivalent de l’aula d’entorn rural. Menjar ecològic fet a casa (productes bio, artesans i de proximitat).</span>
					</div>

					<div class="secondColumn centered">
						<img class="descriptionImage" src="/static/images/workCamp3.jpg" />
					</div>
				</div>
			</div>

			<div class="indentedSection withTopMargin">
				<div class="columnsContainer">

					<div class="firstColumn centered">
						<img class="descriptionImage" src="/static/images/workCamp4.jpg" />
					</div>

					<div class="secondColumn maxGrowth">
						<span class="sectionTitle">Equip responsable</span>

						<span class="description"><strong>Rosa Galindo</strong>, actriu i cantant, cofundadora d’Eòlia Escola Superior d’Art Dramàtic i de la Fundació Miranda.</span>
						<span class="description"><strong>Teresa Garcia Valenzuela</strong>, Directora de Lleure i coordinadora de l’equip d’acompanyant i talleristes. Membre de l’Equip docent d’Eolia (Departament de cos i dansa) des de fa 10 anys. Ballarina, coraògrafa, formada en Educació Viva i ATB.</span>
						<span class="description"><strong>Nàdia Pesarodona</strong>, Acompanyant i tallerista-Ballarina, coreògrafa i professora de dansa, Llicenciada en CAFÉ (Ciències de l’Activitat Física i l’Esport), col.labora amb la Companyia de Dansa Brodas Bros.</span>
						<span class="description"><strong>Marc Hidalgo</strong>, Acompanyant i Tallerista-Format a l’escola de Circ Rogelio Rivel en especialitat d’acrobàcia i aèrial straps. Professor de l’Associació de Circ Tub d’Assaig 7’70.</span>
						<span class="description"><strong>Joachim Englert</strong>, Tallerista-Creador de Social Forest (millora dels boscos amb persones amb risc d’exclusió social). Ingenier tècnic forestal, Projecte de pedagogía forestal amb nens del carrer a Brazil i amb diversos col.lectius amb risc d’excusió social.</span>
						<span class="sectionTitle">Equip de la Fundació Miranda amb presència durant els camps</span>
						<span class="description"><strong>Franc Ibáñez</strong>, Responsable del manteniment de la finca i manteniment d’infraestructures i equipaments. Coresponsable dels animals de la Fundació Porjecte Miranda.</span>
						<span class="description"><strong>Paolo Sgura</strong>, col.laborador en manteniment i cuina, (programa de Voluntariat).</span>
						<span class="description"><strong>Carlos Sánchez Guzman</strong>, Responsable de la Cuina.</span>

					</div>
				</div>
			</div>

			<div class="indentedSection withTopMargin">
				<div class="columnsContainer">
					<div class="firstColumn">
						<span class="sectionTitle">Més info i preus</span>
						<span class="description">Grups reduïts: Atenció a la dinàmica i a la comunicació del grup com a experiència de creixement. Màxim: <strong>17 participants</strong>.</span>

						<span class="description">Preu: <span class="bold">500€/setmana.</span> Es pot reservar plaça per a una o dues setmanes (10% de descompte per germans). Mantenim el mateix preu desde fa 5 anys. Alimentació 100% ecològica, 4 adults amb el grup de màxim 17 nens/es.</span>
						<span class="description">Més informació: 93 102 30 68 – 672 608 000 – <a href="mailto:cavalls@fundaciomiranda.org" class="standardLink">cavalls@fundaciomiranda.org</a></span>
						<span class="description">Participant a les nostres activitats ajudes a fer possible la tasca social de la Fundació.</span>
						<span class="description">Potser també us interessa: Campaments d'estiu per a nens de 6 a 13 anys (+ info)</span>
					</div>
					<div class="secondColumn centered">
						<img class="descriptionImage" src="/static/images/workCamp5.jpg" />
					</div>
				</div>
			</div>

			<!-- ko template: {name: 'calendar', data: calendar} --><!-- /ko -->
		</div>
	</div>
<!-- /ko -->