<div class="" data-bind="">
	<div class="sectionText">
		<span class="title">Camp de treball per a joves (13-17 anys)</span>
		<div class="indentedSection withTopMargin">
			<div class="columnsContainer">
				<div class="firstColumn">
					<span class="sectionTitle">Una experiència de grup i d’amistat per divertir-se i per créixer</span>
					<span class="description">Gaudeix d’una experiència inoblidable de convivència entre cavalls lliures, en un indret de natura privilegiat, col·laborant en les tasques de la Fundació i aprenent un munt de coses sobre comunicació, cavalls i natura. Diverteix-te ajudant, aprenent i compartint.</span>
					<span class="description">Dorm sota les estrelles en tipis, prop del mas on hi ha les instal·lacions amb banys i dutxes (i on  es dorm en cas de tempesta).</span>
				</div>

				<div class="secondColumn centered">
					<img class="descriptionImage" src="/static/images/workCamp.jpg" />
				</div>
			</div>
		</div>

		<div class="indentedSection withTopMargin">
			<div class="columnsContainer">
				<div class="firstColumn centered">
					<img class="descriptionImage" src="/static/images/workCamp2.jpg" />
				</div>

				<div class="secondColumn">
					<span class="sectionTitle">Activitats</span>
					<span class="description">Activitats diàries de ioga, consciència corporal, expressió oral i creativa i rodes de comunicació grupal. Participació en tasques de la finca com tenir cura dels animals, aprenentatge de les “senyals de calma” per conviure amb els 10 gossos de la Fundació, reparació de tancats, passejades, banys a la bassa, música i xerrades després de sopar. Aquest any farem un altra taller de bio-construcció (construirem un altra refugi/hobbit pels gossos de la Fundació, amb terra, troncs i neumàtics recliclats i construirem un abeurador natural per els cavalls).</span>
				</div>
			</div>
		</div>

		<div class="indentedSection withTopMargin">
			<div class="columnsContainer">
				<div class="firstColumn">
					<span class="sectionTitle">Lloc</span>
					<span class="description">Pla de l’Orri, Alt Berguedà. A 1h i 45 min. de Barcelona. A la Serra del Catllaràs, un espai protegit d’interès natural que ofereix un marc d’excepció amb cavalls, cérvols, isards... i un esplèndid paisatge d’alta muntanya. Acampada en tipis, prop del mas on hi ha les instal·lacions amb banys i dutxes. Les activitats s’efectuaran a l’aire lliure i a la sala polivalent de l’aula d’entorn rural. Menjar ecològic fet a casa (productes bio, artesans i de proximitat).</span>
				</div>

				<div class="secondColumn centered">
					<img class="descriptionImage" src="/static/images/workCamp3.jpg" />
				</div>
			</div>
		</div>

		<div class="indentedSection withTopMargin">
			<div class="columnsContainer">

				<div class="firstColumn centered">
					<img class="descriptionImage" src="/static/images/workCamp4.jpg" />
				</div>

				<div class="secondColumn">
					<span class="sectionTitle">Més info i preus</span>
					<span class="description">Grups reduïts: Atenció a la dinàmica i a la comunicació del grup com a experiència de creixement. Màxim: 17 participants.</span>
					<span class="description">Equip integrat per responsables de la Fundació i integrants de l’Equip directiu i docent d’Eòlia, Escola Superior d’Art Dramàtic. www.eolia.es  amb professionals en actiu de les arts escèniques. i monitor de lleure.</span>
					<span class="description">Director dels campaments: Maurici Biosca (Encarregat de fer tota la part de comunicació amb cavalls i etologia equina.)</span>

					<span class="description">Preu: <span class="bold">500€/setmana.</span> Es pot reservar plaça per a una o dues setmanes (10% de descompte per germans). Mantenim el mateix preu desde fa 5 anys. Alimentació 100% ecològica, 4 adults amb el grup de màxim 17 nens/es.</span>
					<span class="description">Més informació: 93 102 30 68 – 672 608 000 – <a href="mailto:info@projectemiranda.cat" class="standardLink">info@projectemiranda.cat</a></span>
					<span class="description">Participant a les nostres activitats ajudes a fer possible la tasca social de la Fundació.</span>
					<span class="description">Potser també us interessa: Campaments d'estiu per a nens de 6 a 13 anys (+ info)</span>
				</div>
			</div>
		</div>


		<!-- ko template: {name: 'calendar'} --><!-- /ko -->
	</div>
</div>
