<div class="sectionText">
	<span class="title">Equip</span>
	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn">
			<span class="subtitle complimentary1">Antecedents. Els fundadors.</span>
			<span class="description">L’any 2008, Maurici Biosca Riera i Rosa Galindo Solé, tots dos procedents del sector de les arts escèniques, creem Fundació Projecte Miranda com a projecte familiar i de vida.</span> 
			<span class="description">Després d’uns quants canvis, i de buscar espai durant alguns anys,  ens traslladem amb el nostre fill de quatre anys al Pla de l’Orri a la Serra de Catllaràs, perseguint el somni de trobar el lloc ideal per als nostres cavalls recuperats.</span> 
			<span class="description">Amb el suport de les nostres famílies, decidim afrontar el repte d’entregar-nos a aquest propòsit de vida, i consagrem el nostre esforç a desenvolupar el nostre Projecte.</span> 
			<span class="description">El 2017, canvis personals i de rumb, ens porten a reformular l’estructura del Projecte, que queda en les meves mans com a Fundació Miranda. Actualment dirigeixo la Fundació, amb el suport de col.laboradors i voluntaris, amb una visió de futur que és la meva motivació per seguir treballant amb força.</span> 

			<span class="subtitle complimentary1">El present. Família Miranda.</span>
			<span class="description">L’any 2008, Maurici Biosca Riera i Rosa Galindo Solé, tots dos procedents del sector de les arts escèniques, creem Fundació Projecte Miranda com a projecte familiar i de vida.</span> 
			<span class="description">Després d’uns quants canvis, i de buscar espai durant alguns anys,  ens traslladem amb el nostre fill de quatre anys al Pla de l’Orri a la Serra de Catllaràs, perseguint el somni de trobar el lloc ideal per als nostres cavalls recuperats.</span> 
			<span class="description">Amb el suport de les nostres famílies, decidim afrontar el repte d’entregar-nos a aquest propòsit de vida, i consagrem el nostre esforç a desenvolupar el nostre Projecte.</span> 
			<span class="description">El 2017, canvis personals i de rumb, ens porten a reformular l’estructura del Projecte, que queda en les meves mans com a Fundació Miranda. Actualment dirigeixo la Fundació, amb el suport de col.laboradors i voluntaris, amb una visió de futur que és la meva motivació per seguir treballant amb força.</span> 

			<span class="subtitle complimentary1">Rosa Galindo Solé</span>
			<span class="description bold">Presidenta de la Fundació</span>
				<span class="description">Co-fundadora d’Eòlia Escola Superior d’Art Dramàtic de Barcelona, actriu i cantant en actiu (ha treballat amb directors com Josep Maria Flotats, Mario Gas, Calixte Bieito, Sergi Belbel, Joan Lluís Bozzo i ha protagonitzat diversos musicals de Dagoll Dagom). Actualment interpreta La Maternitat d’Elna (basat en el llibre d’Assumpta Montellà amb dramatúrgia de Pablo Ley i direcció de Josep Galindo) Formada com a professora de <a href="http://www.fitzmauricevoice.com/" target="_blank" class="standardLink">Fitzmaurice Voicework</a> i com a professora de Kundalini Ioga(practicant també de Hatha Ioga), la Rosa es forma en l’actualitat amb Sergi Aynó en la consciència i la responsabilitat sobre la pròpia energia.</span> 
				<span class="description">També s’ha apropat a diverses metodologies terapèutiques del cant i de la respiració, la Tècnica Alexander, les Constel.lacions familiars, i la Bioenergètica. Responsable de Teatre sense Límits, projecte que aplica el teatre com a mitjà terapèutic, de desenvolupament personal i d’habilitats socials La connexió amb la terra li ve de la seva àvia Nati i dels seus avantpassats que éren “labradores” en un poblet del Pirineu d’Hosca. De l’altra àvia, la Pepita, ha recuperat l’amor per la cuina. S’ha format en alimentació i cuina Bioenergètica amb Montse Bradford i ha estat alumna del cuiner Bernard Benbassat, amb qui refina el seu aprenentage i connecta cuina i nutrició amb sensibilitat i creativitat.</span>
			</div>

			<div class="secondColumn centered">
				<img class="descriptionImage" src="/static/images/rosa.jpg" />
			</div>
		</div>

		<div class="columnsContainer withTopMargin">
			<div class="firstColumn centered">
				<img class="descriptionImage" src="/static/images/mauri.jpg" />
			</div>

			<div class="secondColumn">
				<span class="subtitle complimentary1">Maurici Biosca Riera</span>
				<span class="description bold">Director de la Fundació</span>
				<span class="description">És diplomat en Comunicació Integral. Comunicador responsable de la imatge de la Fundació Miranda. Com a actor va desenvolupar una llarga trajectòria essent co-fundador i membre de la Companyia d’humor PocaConya. Fa 10 anys va deixar el teatre per dedicar-se a la Fundació on conjuga les seves qualitats socials i de comunicador, amb la feina diària amb els cavalls i la finca.</span> 
				<span class="description">Tots dos, el Mauri i la Rosa es van formar en Etologia del cavall, Doma natural i monta conscient, amb mestres com Lucy Rees, Àngels Gol, Yuna Mc Lister, Brigit Remillon i Gloria Pullam, però els veritables mestres, són dia rere dia, els Cavalls i la seva experiència de vida compartida.</span>
				<span class="description">Actualment tenen l’honor de col·laborar amb <strong>Pierre Enoff</strong>, biomecànic equí, amb qui s’estan formant en la comprensió i el manteniment del casc. Amb el seu assessorament, el Maurici té cura dels cascos dels 35 cavalls de la Fundació. També han cursat mòduls i cursos d’agricultura i ramaderia ecològica a l’Escola Agrària de Manresa.</span>
				<span class="description">A part dels cavalls, per dur a terme els cursos que sostenen la Fundació, comptem amb un equip multidisciplinari integrat per professionals de la salut, la comunicació i les arts escèniques, l’agricultura i la ramaderia, l’ensenyament i l’equitació, units per una mateixa filosofia: el respecte pels cavalls, les persones i la terra.</span>
			</div>
		</div>

		<div class="withTopMargin">
			<span class="description bold">Laura Dubreuil Vall</span>
				<span class="description">Va estudiar Enginyeria de Telecomunicacions a la Universitat Politècnica de Catalunya. Actualment viu a Boston (Estats Units) i treballa a Neuroelectrics, una empresa catalana amb oficines a Barcelona i Boston dedicada a la investigació en neurociència. Durant el seu temps lliure li encanta viatjar, llegir i el contacte amb la natura i els animals. És sòcia de la Fundació Miranda i en el seu temps lliure és voluntària en les tasques de traducció de la web, organització de les xarxes socials, etc.</span>
		</div>

		<div class="withTopMargin">
			<span class="description bold">Jordi Bartolomé Guillén</span>
				<span class="description">Va estudiar Enginyeria de Telecomunicacions a la Universitat Politècnica de Catalunya. Actualment viu a Boston (Estats Units) i treballa a Noteflight, una empresa dedicada a la música i a la tecnologia. No en té prou en programar durant l’horari laboral sinó que també ho fa per contribuir en l’elaboració de la web de la Fundació.</span>
		</div>

		<div class="withTopMargin">
			<span class="description bold">Anna Forés</span>
				<span class="description">Doctora en Filosofía y Ciencias de la Educación y Licenciada en Pedagogía por la Universidad de Barcelona. Mis ámbitos de trabajo son la didáctica, la educación social, Resiliencia, Neurodidáctica y el e-learning. <a href="https://annafores.wordpress.com" target="_blank" class="standardLink">https://annafores.wordpress.com</a>. Membre del patronat de la Fundació.</span>
		</div>

		<div class="withTopMargin">
			<span class="description bold">Toni Cardona</span>
				<span class="description">Analista Bioenergètic. Té una àmplia experiència en el treball des del cos i altres tècniques destinades al desbloqueig energètic. És membre des de l’any 1980 de l’ Institut Internacional d’Anàlisi Bioenergètica fundat per Alexander Lowen, de qui va ser alumne.</span>
		</div>

		<div class="withTopMargin">
			<span class="description bold">Pierre Enoff</span>
				<span class="description">Biomecànic equí i director del gran projecte Equi-libre a França <a href="http://www.equi-libre.fr/index.php/fr/sabots-libres" target="_blank" class="standardLink">http://www.equi-libre.fr/index.php/fr/sabots-libres</a>. Assessor en etologia equina i membre del patronat de la Fundació.</span>
		</div>

		<div class="withTopMargin">
			<span class="description bold">Alfons d’Ossera</span>
				<span class="description">Gran guia de la nostra primera transhumància amb els cavalls, l’Alfons és esquiador, muntanyenc, ex-director de les pistes d’esquí de Port del Compte i director de les pistes d’esquí de Tuixent-La Vansa. Sort en tenim de l’Alfons que ens obra camins i ens porta sempre a bon port.</span>
		</div>


		<div class="withTopMargin">
			<span class="description bold">Josep Mª Galindo</span>
				<span class="description">Encarregat de la finca del Pla de l’Orri i dels seus habitants, quan el Mauri i la Rosa van a revisar cavalls a les pastures d’hivern.</span>
		</div>
	</div>
</div>