<!-- ko with: transhumance -->
	<div class="" data-bind="">
		<div class="sectionText">
			<span class="subtitle">Del 27 d'abril a l'1 de maig de 2018.</span>
			<span class="title">Transhumància Camins de Sal</span>
			<div class="indentedSection">
				<div>					
					<span class="description complimentary1">Des d’Ossera a l’Alt Urgell fins al Pla de l’Orri a l’Alt Berguedà.</span>
					<span class="description">Transitarem paisatges esplèndids, acompanyant les manades de cavalls cap a casa, a  les pastures d’estiu.</span>
					<span class="description">Compartirem l’experiència de passar hores creuant boscos i muntanyes, amb aquests fantàstics animals, fins arribar a la seu de la Fundació Miranda al Pla de l’Orri,  on  seguiran la seva vida en plenitud durant l’estiu.</span>
					<span class="description">Un viatge intens, de presència, de calma, de salut, i de connexió amb la natura on aprendrem molt sobre els cavalls, les persones i la terra.</span>
					<span class="description">Cavalls i persones viatjant junts amb un vincle de confiança i amb el propòsit d’arribar a pastures més fresques i riques. </span>
					<span class="description">Acompanyarem a peu i muntats 20 cavalls recuperats,  per camins de Bons Homes i de Trementinàires, amb comunicació natural i teixint vincles de confiança, sense ferros, superant les nostres dificultats i  potenciant la connexió entre persones i  cavalls...</span>
					<span class="description primary">Cavalls lliures, persones lliures!</span>
				</div>
				<div class="fullWidth centered">
					<iframe width="700" height="400" src="https://www.youtube.com/embed/TU_wprFIHUk" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="buttonsWrapper marginTop">
					<a href="http://pedratour.com/tour/camins-de-sal-2018" target="_blank">
						<div class="actionButton primaryColor buttonWithPadding big">Reserva la teva plaça aquí!</div>
					</a>
				</div>
			</div>

			<div class="indentedSection">
				<div class="fullWidth">
					<div class="subSectionText">
						<span class="sectionTitle">Etapes</span>
						<div class="description"><span class="primary">27/04/2018: Guardiola de Berguedà-Ossera</span></div>
						<span class="description ennumeration">El punt  de trobada és Guardiola de Berguedà a les 16.30h. Des d'allà, anada cap a Ossera amb els taxis i el vehicle de la Fundació Miranda. Arribada al Molí de Fórnols per deixar l'equipatge i tot seguit, benvinguda i presentacions.</span>
						<span class="description ennumeration">Aprofitant que el dia ja s’allarga, visita als artesans d’Ossera, on sembla que el temps s'ha aturat en un instant de calma.</span>
						<span class="description ennumeration">Oberta la gana, el sopar serà a Cal Casal i ben sopat a dormir al Moli de Fórnols.</span>
					</div>
					<div class="subSectionText">
						<div class="description"><span class="primary">28/04/2018: Ossera-Tuixent</span></div>
						<span class="description ennumeration">Esmorzar al Molí de Fórnols. Dinàmiques per activar al grup. A les 10h anada cap a Ossera per presa de contacte i fer vincle amb els cavalls.  Una estona per a conèixer el grup de persones i cavalls, establint les bases per al bon funcionament dels grups. Fonaments de la comunicació  natural amb cavalls. A les 12h tot llest per sortir cap a Tuixent. La primera etapa serà d'unes 4h aproximadament.</span>
						<span class="description ennumeration">Dinar de pícnic pel camí i cap a les 17h arribada a Tuixent.</span>
						<span class="description ennumeration">Sopar i dormir a  Cal Farragetes.</span>
					</div>
					<div class="subSectionText">
						<div class="description"><span class="primary">29/04/2018: Tuixent - Gisclareny</span></div>
						<span class="description ennumeration">Després d'esmorzar a Cal Farragetes, sortida amb els cavalls cap a Gisclareny. Una de les etapes més espectaculars.</span>
						<span class="description ennumeration">Anirem pel curs d'un torrent amb còdols als peus de Josa  de Cadí i passarem entre el Cadí i les crestes del Pedraforca per pastures d'alta muntanya amb vistes al Berguedà i a l'alt Urgell. Dinar de pícnic.</span>
						<span class="description ennumeration">Ens esperen a sopar i a dormir al Refugi Vents de Cadí.</span>
					</div>
					<div class="subSectionText">
						<div class="description"><span class="primary">30/04/2018: Gisclareny - Sant Julià de Cerdanyola</span></div>
						<span class="description ennumeration">Etapa d'uns 17 km, amb unes 5h de pista forestal per boscos, sortint del Coll de la Bena, i  una hora i mitja de carretera del Monestir de Sant Llorenç fins a Sant Juià de Cerdanyola, creuant Guardiola de Berguedà.</span>
						<span class="description ennumeration">Dinar de pícnic a Sant Joan de l’Avellanet.</span>
						<span class="description ennumeration">Els cavalls dormiran a Sant Julià, i el grup de persones soparem a La Marieta, i anirem a dormir al Pla de l'Orri.</span>
					</div>
					<div class="subSectionText">
						<div class="description"><span class="primary">01/05/2018:- Sant Julià de Cerdanyola - Pla de l'Orri. (***)</span></div>
						<span class="description ennumeration">Esmorzarem al Pla de l'Orri per baixar de nou a Sant Julià a buscar el grup de cavalls. Pujada  del tram final amb els cavalls des de Sant Julià de Cerdanyola al Pla de l'Orri. Etapa d'unes 2 hores.</span>
						<span class="description ennumeration">Arribada dels cavalls al Pla de l'Orri, seu de la Fundació Miranda. Ja són a casa!</span>
						<span class="description ennumeration">Dinar amb productes km0 i eco , per acabar celebrant  la Festa de la Transhumància. Després de la Festa, baixada amb taxis cap a Guardiola de Berguedà per tornar a casa.</span>
						<span class="description ennumeration"><strong>(***)</strong> La pujada de Sant Julià de Cerdanyola al Pla de l'Orri, està oberta a altres participants.</span>
					</div>
				</div>
			</div>
			
			<div class="indentedSection">
				<div class="columnsContainer">
					<div class="firstColumn">
						<div class="subSectionText">
							<span class="sectionTitle">Aportació econòmica segons plaça que s’ocupa</span>
							<div class="description ennumeration">Tota la transumància a peu: 540€.</div>
							<div class="description ennumeration">Tota la transhumància muntat: 690€.</div>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Què inclou el preu?</span>
							<div class="description">El preu inclou allotjaments, menjars, cotxe assistència, assegurances, transport d’arribada al punt d’inici, guies certificats, logística dels cavalls (espais per passar la nit, tancats…).</div>
							<div class="description"><label class="bold green">Activitata Solidària.</label> La vostra aportació, ajuda a sostenir el cost del trasllat dels cavalls a les pastures d’estiu, cobreix les despeses dels participants i deixa un  remeanan per la Fundació, de 150 euros per persona, que ens permet seguir tenint cura del manteniment dels cavalls  i desenvolupar la nostra tasca social i mediambiental.</div>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Més informació</span>
							<div class="description">Per triar l’opció muntada, cal poder anar als tres aires (pas, trot i galop) tot i que la previsió és de ritme tranquil. Per caminar, cal tenir en cop te que les caminades són d’entre 4 i 7 hores diàries (de 19 a 35 kms) i algunes amb desnivell. Hi ha l’opció de pujar al cotxe d’assistència si és necessari.</div>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">A qui va adreçada aquesta activitat?</span>
							<div class="description">Tothom qui vulgui gaudir d’una experiència de vida, d’un camí transformador i inspirador, desconnectar de la rutina i de l’estrés per connectar amb quelcom més intens i profund. Qui vulgui treballar la presència i traspassar patrons, o simplement fer una immersió en una manada de cavalls o connectar amb la natura.</div>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Organitzadors</span>
							<div class="description ennumeration">Direcció, disseny i producció Transhumància: Rosa Galindo, Cofundadora i Directora de la Fundació Miranda.</div>
							<div class="description ennumeration">Guia eqüestre professional de la Transhumància: <a href="https://cavallsbarida.com" target="_blank" class="standardLink">Marc Giró</a> (Guia a cavall, Cavalls Guiabosc Baridà)</div>
						</div>
						<div class="buttonsWrapper">
							<a href="http://pedratour.com/tour/camins-de-sal-2018/" target="_blank">
								<div class="actionButton primaryColor buttonWithPadding big">Reserva la teva plaça aquí!</div>
							</a>
						</div>

					</div>
					<div class="secondColumn">
						<img class="descriptionImage" src="/static/images/transhumance3.jpg" />
						<div class="marcGiroLogo"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- /ko -->