<!-- ko with: transhumance -->
	<div class="" data-bind="">
		<div class="sectionText">
			<span class="subtitle">1-12 d'octubre 2018</span>
			<span class="title">Transhumàncies cap al Garraf. Del Pirineu al mar!</span>
			<div class="indentedSection">
				<div>					
					<span class="description complimentary1">Des del Baridà (Alt Urgell) fins el Parc del Garraf. Per camins ramaders de Transhumància com el de la Sal, el de Marina i altres camins ancestrals.</span>
					<span class="description">Un total de 277 Km. dividits en 12 etapes.</span>
					<span class="description">Per genets i amazones experimentats.</span>
				</div>
				<div class="fullWidth centered">
					<iframe width="700" height="400" src="https://www.youtube.com/embed/TU_wprFIHUk" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>

			<div class="indentedSection">
				<div class="fullWidth">
					<div class="subSectionText">
						<span class="sectionTitle">Etapes</span>
						<div class="description"><span class="primary">1ª Part</span></div>
						<span class="description ennumeration">D'Arsèguel al Pla de l'Orri a l'Alt Berguedà (seu de la Fundació Miranda)</span>
						<span class="description ennumeration">Del 30 de setembre al 4 d'octubre</span>
					</div>
					<div class="subSectionText">
						<div class="description"><span class="primary">2º Part</span></div>
						<span class="description ennumeration">Del Pla de l'Orri al Parc del Garraf.</span>
						<span class="description ennumeration">Del 5 al 12 d'octubre</span>
					</div>

					
					<div class="subSectionText">
						<div class="description"><span class="primary">Acompanyant la manada de Cavalls Guiabosc Baridà cap a les pastures d’hivern. Una experiència d’unió de persones i cavalls.</span></div>
						<span class="description ennumeration">Us podeu inscriure a la transhumància sencera o a una de les parts, màxim dues places.</span>
					</div>
				</div>
					<div class="subSectionText">
				<div class="buttonsWrapper">
					<a href="http://pedratour.com/tour/camins-de-sal-2018/" target="_blank">
						<div class="actionButton primaryColor buttonWithPadding big">Reserva la teva plaça aquí!</div>
					</a>
				</div>
				</div>
			</div>
		</div>


		<div class="sectionText">
			<span class="subtitle">31 d'octubre - 12 de novembre 2018</span>
			<span class="title">Del Berguedà al Garraf... Del Pirineu al mar</span>
			<div class="indentedSection">
				<div>					
					<span class="description complimentary1">Des del Berguedà fins a la platja de Vilanova i la Geltrú, i el Parc del Garraf, creuant la muntanya de Montserrat.</span>
					<span class="description">Un total de 223 Km dividits en 12 etapes.</span>
					<span class="description">Per genets i amazones experimentats o caminants amb bona forma física.</span>
				</div>
				<div class="subSectionText centered">
					<img class="descriptionImage" src="/static/images/transhumancia20181.png" />
				</div>
			</div>

			<div class="indentedSection">
				<div class="fullWidth">
					<div class="subSectionText">
						<span class="sectionTitle">Etapes</span>
						<div class="description"><span class="primary">1ª Part</span></div>
						<span class="description ennumeration">Del Pla de l’Orri, amb Castanyada a la seu de la Fundació (Alt Berguedà) a Marganell (Montserrat).</span>
						<span class="description ennumeration">Del 31 d’octubre a la nit, al 6 de novembre</span>
					</div>
					<div class="subSectionText">
						<div class="description"><span class="primary">2º Part</span></div>
						<span class="description ennumeration">De Marganell (Montserrat) a la platja de Vilanova i Parc del Garraf.</span>
						<span class="description ennumeration">Del 6 a l’11 de novembre</span>
					</div>
					
					<div class="subSectionText">
						<span class="description ennumeration">Us podeu inscriure a la transhumància sencera o a una de les parts, Màxim 5 genets i 15 caminants.</span>
					</div>
				</div>
					<div class="subSectionText">
				<div class="buttonsWrapper">
					<a href="http://pedratour.com/tour/camins-de-sal-2018/" target="_blank">
						<div class="actionButton primaryColor buttonWithPadding big">Reserva la teva plaça aquí!</div>
					</a>
				</div>
				</div>
			</div>
		</div>


		<div class="sectionText">
			<span class="subtitle">18-24 d'octubre</span>
			<span class="title">Baixada al Garraf amb voluntaris</span>
			<div class="indentedSection">
				<div>					
					<span class="description">A banda de les rutes de Transhumància que us hem presentat, del 18 al 24 d'octubre, durem a terme la baixada fins al Parc del Garraf de 31 cavalls de la Fundació, acompanyats per genets del nostre equip de Voluntaris, genets professionals voluntaris, i guiatge de Cavalls Guiabosc Baridà.</span>
				</div>
				<div class="subSectionText centered">
					<img class="descriptionImage" src="/static/images/transhumancia20182.jpg" />
				</div>
			</div>
		</div>

	</div>
<!-- /ko -->