<!-- ko with: visits -->
	<div data-bind="create: initializeOnPageLoad">
		<div class="sectionText">
			<span class="title">Festa de la Transhumància de primavera</span>
			<span class="subtitle">Pujada dels cavalls al Pla de l’Orri, pastura d’estiu al Berguedà.</span>
			<div class="indentedSection">
				<div class="columnsContainer">
					<div class="firstColumn">
						<div class="subSectionText">
							<span class="sectionTitle">Quan?</span>
							<span class="description">1 de Maig 2018 de 10 a 18 hores</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Contingut del curs</span>
							<span class="description">10h Arribada a Sant Julià de Cerdanyola. Bar La Marieta (opció d’esmorzar a La Marieta, cadascú pel seu compte arribant mitja hora abans). Benvinguda i presentacions.</span>
							<span class="description">10.30h anem a buscar els cavalls al prat on hauran passat la nit.</span>
							<span class="description">11h acompanyem els cavalls en la pujada per la pista forestal fins el Pla de l’Orri (dues hores caminant predominantment en pujada)</span>
							<span class="description">13h arribada, amb música dels Pirineus i aperitiu artesà.</span>
							<span class="description">14h dinar degustació de producte local Km0 i ecològic.</span>
							<span class="description">Sobretaula i tancament</span>
							<span class="description">18h baixada en taxis a Sant Julià de Cerdanyola.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Qui pot venir?</span>
							<span class="description">Socis i Padrins de la Fundació i obert a tothom.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Preu</span>
							<span class="description">Preu 50 euros amb pujada cavalls,assegurança, dinar i taxis inclosos. Preu infants 35 euros.</span>
							<span class="description">Activitat gratuïta per Padrins de la Fundació (preu de l’aperitiu, dinar i taxi 25 euros). Acompanyants, 10 euros de descompte sobre el preu de l’activitat (fins a 3 acompanyants).</span>
							<span class="description">Socis i acompanyants, 10 euros de descompte, fins a 3 acompanyants.</span>
						</div>
						<div class="subSectionText">
							<span class="description"><span class="bold">Activitat solidària!</span> Apuntant-te a aquesta activitat estàs col·laborant a sostenir el projecte i la nostra tasca.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Professors</span>
							<span class="description">Marc Giró, guia. Rosa Galindo Directora Fundació Miranda.</span>
						</div>

					</div>

					<div class="secondColumn">
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/visits1.jpg" />
						</div>
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/random1.jpg" />
						</div>
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/summerCamp7.jpg" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- /ko -->