<!-- ko with: visits -->
	<div data-bind="create: initializeOnPageLoad">
		<div class="sectionText">
			<span class="title">Festa de la Transhumància de primavera</span>
			<span class="subtitle">Pujada dels cavalls al Pla de l’Orri, pastura d’estiu al Berguedà</span>
			<div class="indentedSection">
				<div class="columnsContainer">
					<div class="firstColumn">
						<div class="subSectionText">
							<span class="sectionTitle">Quan?</span>
							<span class="description">2 de juny de 2019</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Contingut del curs</span>
							<span class="description">Entre 11.30 i 12:00h_  Arribada a Sant Julià de Cerdanyola. Bar La Marieta (opció d’esmorzar a La Marieta, cadascú pel seu compte arribant abans). Pujada al Pla de l’Orri.</span>
							<span class="description">12.00h_ Benvinguda i presentacions.</span>
							<span class="description">13:00h_ Presentacio Fundació  i etologia del cavall (suport audiovisual).</span>
							<span class="description">14:30h_ Dinar de picnic que porta cadascú (servei de bar eco, amb begudes, cafès i infusions).</span>
							<span class="description">17:30h (hora estimada)_ Arribada dels cavalls de la Fundació a les pastures d’estiu després de 8 dies de transhumància des del mar (Parc del Garraf). Rebuda dels participants i dels ramats al camp.</span>
							<span class="description">18:30h_ Berenar degustació de producte local Km0 i ecològic. Sobretaula i tancament.</span>
							<span class="description">19:30h_ Baixada a Sant Julià de Cerdanyola.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Qui pot venir?</span>
							<span class="description">Socis i Padrins de la Fundació i obert a tothom.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Preu</span>
							<span class="description">Preu adults 38 €, infants 24 €</span>
							<span class="description">Activitat gratuïta per Padrins i Socis de la Fundació.</span>
							<span class="description">Acompanyants 15 €.</span>
						</div>
						<div class="subSectionText">
							<span class="description"><span class="bold">Activitat solidària!</span> Apuntant-te a aquesta activitat estàs col·laborant a sostenir el projecte i la nostra tasca.</span>
						</div>
<!-- 
						<div class="subSectionText">
							<span class="sectionTitle">Professors</span>
							<span class="description">Marc Giró, guia. Rosa Galindo Directora Fundació Miranda.</span>
						</div> -->

						<div class="buttonsWrapper">
							<a href="https://www.eventbrite.com/e/entradas-festa-de-la-transhumancia-de-primavera-2019-60536899496" target="_blank">
								<div class="actionButton primaryColor buttonWithPadding big">Reserva la teva plaça aquí!</div>
							</a>
						</div>

					</div>

					<div class="secondColumn">
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/visits1.jpg" />
						</div>
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/random1.jpg" />
						</div>
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/summerCamp7.jpg" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- /ko -->