<div class="" data-bind="">
	<div class="sectionText">
		<span class="subtitle">22 al 27 de Novembre de 2017</span>
		<span class="title">Transhumància de Tardor 2017</span>
		<div class="indentedSection">
			<div class="columnsContainer1">
				<div class="firstColumn1">
					<span class="description complimentary1">De l’Alt Berguedà a l’Alt Urgell!</span>
					
					<span class="description">Una experiència única, solidària i transformadora entre cavalls lliures.</span>
					<span class="description">Transitarem paisatges esplèndids, acompanyant les manades de cavalls cap a les pastures d’hivern.</span>
					<span class="description">Compartirem l’experiència de passar hores creuant boscos i muntanyes, amb aquests fantàstics animals, fins arribar als espais de natura on els deixarem per que segueixin la seva vida en plenitud durant l’hivern.</span>
					<span class="description">Un viatge intens, de presència, de calma, de salut, i de connexió amb la natura on aprendrem molt sobre els cavalls, les persones i la terra.</span>
					<span class="description">Cavalls i persones viatjant junts amb un vincle de confiança i amb el propòsit d’arribar a terres més càlides allunyades de la neu i del fred.</span>
					<span class="description">Acompanyarem a peu i muntats 35 cavalls per camins de Bons Homes i de Trementinàires, amb comunicació natural, sense ferros, superant les nostres dificultats I potenciant la connexió entre persones I cavalls, el vincle.</span>
					<span class="description primary">Cavalls lliures, persones lliures!</span>
				</div>

			</div>
				<div class="fullWidth centered">
					<img class="descriptionImage" src="/static/images/transhumance2.jpg" />
				</div>
					<div class="buttonsWrapper marginTop">
						<a href="https://www.eventbrite.com/e/transhumancia-tardor-2017-tickets-37295096638" target="_blank">
							<div class="actionButton primaryColor buttonWithPadding big">Reserva la teva plaça aquí!</div>
						</a>
					</div>
		</div>

		<div class="indentedSection">
				<div class="fullWidth">
					<div class="subSectionText">
						<span class="sectionTitle">Etapes</span>
						<div class="description"><span class="primary">Dimecres 22 de Novembre de 2017</span></div>
						<span class="description ennumeration">Arribada a Alinyà a les 17h.</span>
						<span class="description ennumeration">Viatge amb Bus d’Alinyà a Sant Julià de Cerdanyola. Pujada en vehícle a la Seu de la Fundació (Pla de l’Orri).</span>
						<span class="description ennumeration">Benvinguda, presentacions, sopar i dormir en sala compartida.</span>
					</div>
					<div class="subSectionText">
						<div class="description"><span class="primary">Dijous 23 de Novembre de 2017</span></div>
						<span class="description ennumeration">Matí per conèixer el grup de persones i de cavalls. Bases per al bon funcionament dels grups. Fonaments de la comunicación natural amb cavalls.</span>
						<span class="description ennumeration">Dinar i dues hores de baixada amb els cavalls a Sant Julià de Cerdanyola on passaràn la nit.</span>
						<span class="description ennumeration">Sopar a La Marieta i dormir a la Fonda Ca l’Arderiu.</span>
					</div>
					<div class="subSectionText">
						<div class="description"><span class="primary">Divendres 24 de Novembre de 2017</span></div>
						<span class="description ennumeration">Després d’esmorzar, sortida amb els cavalls cap a Gisclareny. Etapa d’uns 17 Kms, amb una hora i mitja de carretera de Sant Julià fins al Monestir de Sant Llorenç, i unes 5 hores de pista forestal per boscos fins el Coll de la Bena. Dinar pícnic a la Font de Sant Joan.</span>
						<span class="description ennumeration">Sopar i dormir a Cal Tasconet (Refugi)</span>
					</div>
					<div class="subSectionText">
						<div class="description"><span class="primary">Dissabte 25 de Novembre de 2017</span></div>
						<span class="description ennumeration">Després d’esmorzar sortida del Coll de la Bena cap a Tuixent. Una de les etapes més espectaculars. Passarem a tocar entre el Cadí i les crestes del Pedraforca per pastures d’alta muntanya amb vistes al Berguedà i a l’Urgell,</span>
						<span class="description ennumeration">Després anirem pel curs d’un torrent amb códols als peus de Josa de Cadí, i farem 4 kms de carretera poc transitada fins a Tuixent, poble de trementinàires i d’herbes remeieres.</span>
						<span class="description ennumeration">Soparem i dormirem a Cal Farragetes.</span>
					</div>
					<div class="subSectionText">
						<div class="description"><span class="primary">Diumenge 26 de Novembre de 2017</span></div>
						<span class="description ennumeration">Després d’esmorzar sortim cap a Ossera, poblet d’artesans, on sembla que el temps s’ha aturat en un instant de calma.</span>
						<span class="description ennumeration">Etapa curta. Arribem per dinar a Ossera, on passarem la nit i on es queda a passar l’hivern un dels grups de cavalls que acomapanyem.</span>
						<span class="description ennumeration">Visita als artesans d’Ossera (Herbolari Nogué, Formatges Serrat Gros, Melmelades Cal Casal, artistes plàstics).</span>
						<span class="description ennumeration">Sopar de cel·lebració a Cal Casal.</span>
					</div>
					<div class="subSectionText">
						<div class="description"><span class="primary">Dilluns 27 de Novembre de 2017</span></div>
						<span class="description ennumeration">Després d’esmorzar sortim cap a la muntanya d’ Alinyà creuant el Coll d’Ares, per antics caminets de muntanya.</span>
						<span class="description ennumeration">Arribem per dinar A Ca la Lluïsa del Peretó (Alinyà). Dinar final per celebrar l’arribada del segon grup a les pastures d’hivern de la Muntanya d’Alinyà (Fundació Catalunya La Pedrera), amb un espectacular paisatge de roca calcárea i postes de sol.</span>
						<span class="description ennumeration">Activitat, sempre condicionada a la previsió metereològica i per adults. (o joves acompanyats d’algun adult/tutor)</span>
						<span class="description ennumeration">Activitat per a socis de la Fundació Miranda. Per apuntar-se cal fer-se soci (el cost de l’activitat inclou la quota de soci del mes de novembre)</span>
					</div>
				</div>
		</div>
		
		<div class="indentedSection">
			<div class="columnsContainer">
				<div class="firstColumn">
					<div class="subSectionText">
						<span class="sectionTitle">Aportació econòmica segons plaça que s’ocupa</span>
						<div class="description ennumeration">Tota la transumància a peu: 470€.</div>
						<div class="description ennumeration">Tota la transhumància muntat: 570€.</div>
						<div class="description ennumeration">Portant cotxe d’assistència i caminant a estones: 370€.</div>
						<div class="description ennumeration">Una etapa solta (amb sopar i dormir nit abans): 160€.</div>
					</div>
					<div class="subSectionText">
						<span class="sectionTitle">Què inclou el preu?</span>
						<div class="description">El preu inclou quota de soci de la Fundació novembre, allotjaments, menjars, cotxes assistència, assegurances, transport d’arribada al punt d’inici, guíes certificats, logística dels cavalls (espais per passar la nit, tancats…).</div>
						<div class="description"><label class="bold green">Activitata Solidària.</label> La vostra aportació, ajuda a sostenir el cost del trasllat dels cavalls a les pastures d’hivern, cobreix les despeses dels participants i deixa un petit remanent per la Fundació que ens permet seguir tenint cura del manteniment dels cavalls, i desenvolupant la nostra tasca social i mediambiental.</div>
					</div>
					<div class="subSectionText">
						<span class="sectionTitle">Organitzadors</span>
						<div class="description ennumeration">Guia eqüestre professional de la Transhumància: <a href="https://cavallsbarida.com" target="_blank" class="standardLink">Marc Giró</a></div>
						<div class="description ennumeration">Direcció, disseny i producció Transhumància: Rosa  Galindo i Alfons d'Ossera.</div>
					</div>
					<div class="buttonsWrapper">
						<a href="https://www.eventbrite.com/e/transhumancia-tardor-2017-tickets-37295096638" target="_blank">
							<div class="actionButton primaryColor buttonWithPadding big">Reserva la teva plaça aquí!</div>
						</a>
					</div>

				</div>
				<div class="secondColumn">
					<img class="descriptionImage" src="/static/images/transhumance3.jpg" />
					<div class="marcGiroLogo"></div>
				</div>
			</div>
		</div>
	</div>
</div>
