<div class="modernForm" data-bind="create: initializeOnPageLoad">
	<div class="sectionText">
		<!-- span class="subtitle">Divendres 6, dissabte 7 i diumenge 8 d’octubre 2017</span -->
		<span class="title">Cantando entre caballos</span>
		<span class="subtitle">Convivencia de tres dias</span>
		<div class="indentedSection">
			<div class="columnsContainer">
				<div class="firstColumn">
					<div class="subSectionText">
						<span class="sectionTitle">En què consisteix el taller?</span>
						<span class="description">Vivir con caballos libres, mirarles a los ojos, cantarles desde nuestro corazón, convivir gente de todas las edades, abriendo el alma y los sentidos al conEncontrar nuestro sonido esencial, aquel que le quita seriedad a la vida y nos devuelve la inocencia. Perder la verguenza de expresarlo desde la conexión con nuestro ser. Sabiendo que lo importante no es el virtuosismo, sinó la atmósfera, el clima que se crea cantando conectados, liberados en el placer de cantar. Dormir en tiendas, comer ecológico...</span>
						<span class="description">Tráete una canción que te guste para regalárnosla, (será un espacio libre de juicios)</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Dates i lloc</span>
						<span class="description">Se llega el dia 16 de agosto por la tarde y nos vamos el 19 después de comer. Por favor si tienes alguna plaza libre en el coche dínoslo. Para llegar al lugar se recomiendan coches altos.</span>
					</div>

<!-- 					<div class="subSectionText">
						<span class="sectionTitle">A qui va dirigit?</span>
						<span class="description">Persones que acompanyen a persones malaltes: Familiars, amics, professionals sanitaris, persones voluntàries, terapeutes. La dimensió espiritual no coneix els rols socials, en aquests dimensió totes les persones som essència. Sou totes i tots benvinguts!</span>
					</div> -->

					<div class="subSectionText">
						<span class="sectionTitle">Faciliten</span>
						<span class="description"><span class="bold green">Rosa Zaragoza </span> Cantautora mediterránea, recoge canciones muy antiguas y hace otras para acompañar los partos, la vida,el amor, la muerte... más de 30 años cantando profesionalmente y unos 16 dando talleres por todo el mundo.</span>
						<span class="description"><span class="bold green">Rosa Galindo Solé</span> - Actriu i cantant, Cofundadora d’Eòlia Escola Superior d’Art Dramàtic, Cofundadora de Fundació Miranda i Professora Associada de Fitzmaurice Voicework.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Preu</span>
						<span class="description">Adults: Fins el 31 de maig 250€. A partir de l’1 de juny: 275€ Infants: menors de 10: 125€. Menors de 3: 0€</span>
					</div>

<!-- 						<div class="subSectionText">
						<span class="sectionTitle">Com m'apunto?</span>
						<span class="description">Envia un email <a href="mailto:formacionsarapons@gmail.com" class="standardLink">formacionsarapons@gmail.com</a> amb el teu nom, cognoms, telèfon i justificant de pagament</span>
					</div>
-->

					<div class="buttonsWrapper">
						<a target="_blank" href="https://www.eventbrite.com/e/cantant-entre-cavalls-lliures-cantando-entre-caballos-libres-tickets-56922558906">
							<div class="actionButton primaryColor big buttonWithPadding">Apunta't-hi!</div>
						</a>
					</div>

<!-- 			      <div class="buttonsWrapper">
		      	<a href="https://www.eventbrite.com/e/retir-de-constellacions-entre-cavalls-lliures-tickets-46047709940">
		        	<button class="actionButton primaryColor big buttonWithPadding" data-bind="">Apunta-t'hi</button>
		        </a>
		      </div> -->
				</div>

				<div class="secondColumn">
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/dol.jpg" />
					</div>
<!-- 						<div class="buttonsWrapper">
						<a target="_blank" href="https://www.eventbrite.com/e/retir-de-natura-i-salut-entre-cavalls-lliures-tickets-37803190360">
							<div class="actionButton primaryColor big buttonWithPadding">Apunta't-hi!</div>
						</a>
					</div> -->
<!-- 						<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/const2.jpg" />
					</div>
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/const3.jpg" />
					</div> -->
<!-- 						<div class="subSectionText centered">
						<a href="http://www.eolia.cat" target="_blank">
							<img class="descriptionImage eoliaLogo" src="/static/images/eolia.png" />
						</a>
					</div> -->
				</div>

			</div>
		</div>

	</div>
</div>
