<div class="">
	<div class="sectionText">
		<span class="title">Creant vincle de confiança amb el cavall</span>
		<span class="subtitle">13-14 Octubre 2018 - Pla de l'Orri</span>

		<div class="indentedSection">
			<div class="columnsContainer">
				<div class="firstColumn">
					<span class="description">La Fundació Miranda ofereix una gran oportunitat per a totes aquelles persones que volen aconseguir una bona relació amb el cavall basada en la confiança i l’enteniment. <strong>Màxim 8 places.</strong></span>
					<span class="description">El programa de la formació consisteix en:</span>
					
					<span class="description ennumeration">Aprendrem diferents exercicis de peu a terra i de monta conscient amb equilibri, coordinació i consciència corporal.</span>
					<span class="description ennumeration">Entendrem el comportament del cavall i com aquest aprèn, a través del seu llenguatge natural.</span>
					<span class="description ennumeration">Detectarem problemes psicofísics, com ens ho fa saber, i com ajudar a solucionar-los i evitar-los a	través de coneixements biomecànics.</span>
					<span class="description ennumeration"></span>
					<span class="description ennumeration">Ens introduirem a la monta conscient amb bases de Formació NEC, Bitless (sense embocadura) i Barefoot.</span>

					<div class="subSectionText">
						<span class="sectionTitle">Qui pot venir?</span>
						<span class="description">Activitat <strong>adreçada a genets</strong>, aficionades i amants dels cavalls. Totes aquelles persones vinculades al món del cavall que volen aconseguir una relació basada en el respecte, l’observació, el benestar i aconseguir una monta sense dolor ni molèsties.</span>
						<span class="description">Els <strong>requeriments per fer la pràctica muntant</strong> són tenir un nivell d’equitació de pas i trot amb autonomia i seguretat, sino es faran només els exercicis de connexió de peu a terra.</span>
						<span class="description">La docent és l'<strong>Anna Salas Huguet</strong>. Monitora d’equitació especialitzada en sistemes naturals d’equitació. Monitora oficial de NEC (Natural Equine Connexion). Amb 25 anys d’experiència que engloben coneixements en diverses modalitats hípiques buscant sempre una forma més respectuosa d’interacció amb el cavall. Formació en psicologia terapèutica equina i tècniques de les conegudes com doma natural. Amazona professional, domadora i reeducadora de cavalls i poltres.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Preu</span>
						<span class="description">Tots els àpats (menjar ecològic) i allotjament inclosos. El preu és de 240€.</span>
						<div class="buttonsWrapper">
							<a href="https://www.eventbrite.com/e/creant-vincle-de-confianca-amb-el-cavall-formacio-en-comunicacio-i-nec-natural-equine-connexion-tickets-49591258790">
								<div class="actionButton primaryColor big buttonWithPadding">Apunta-t'hi!</div>
							</a>
						</div>
					</div>
				</div>

				<div class="secondColumn">
					<div class="subSectionText centered">
						<img class="descriptionImage" src="/static/images/vincles.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
