<!-- ko with: visits -->
	<div data-bind="create: initializeOnPageLoad">
		<div class="sectionText">
			<span class="title">Un dia entre cavalls lliures al Parc del Garraf</span>
			<span class="subtitle">Natura i Cultura a Sències</span>
			<div class="indentedSection">
				<div class="columnsContainer">
					<div class="firstColumn">
						<span class="description">Visita als cavalls de la Fundació iamb event cultural i gastronòmic especial</span>
						
						<div class="subSectionText">
							<span class="sectionTitle">On?</span>
							<span class="description">Parc del Garraf a Olivella.</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Quines activitats farem?</span>
							<span class="description">Arribada a les 10,30h a La Sala, centre d’informació del Parc del Garraf a Olivella.</span>
							<span class="description">Presentació del Projecte, visita dels cavalls de la Fundació Miranda al Parc del Garraf. Passejada per trobar les manades i visita etològica.</span>
							<span class="description">Dinar-degustació de producte eco i KM0 a Sències, Can Girona (Sitges).</span>
							<span class="description">Presentació del Camí Ramader de Marina, de la Transhumància de la Fundació Miranda i de la recuperació de camins i estructures d’arquitectura tradicional al Garraf (Associació Garraf Coopera).</span>
						</div>

						<div class="subSectionText">
							<span class="sectionTitle">Qui pot venir?</span>
							<span class="description"><span class="bold">Activitat Gratuïta per a Socis i Padrins de la Fundació</span> (suplement per dinar adults 15€, nens 10€), o pots portar el teu pícnic de casa. Cada soci pot portar fins a 3 acompanyants sense cap cost!</span>
							<span class="description"><span class="bold">Cost per no Socis 35€</span>, (nens fins a 10 anys 22€, menors de 3 anys gratuït). Et preparem dinar (suplement adults 15€, nens 10€), o pots portar el teu pícnic de casa.</span>
							<span class="description"><span class="">Degustació de producte eco i Km0 no inclòs (cost estimat entre 10 i 15€).</span>
						</div>

						<div class="subSectionText">
							<span class="description"><span class="bold">Activitat solidària!</span> Apuntant-te a aquesta activitat estàs col·laborant a sostenir el projecte i la nostra tasca.</span>
						</div>

					</div>

					<div class="secondColumn">
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/summerCamp6.jpg" />
						</div>
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/summerCamp7.jpg" />
						</div>
						<div class="subSectionText centered">
							<img class="descriptionImage" src="/static/images/summerCamp8.jpg" />
						</div>
					</div>
				</div>

				<div class="columnsContainer">
					<div class="firstColumn">
						<div class="centered">
							<a target="_blank" href="">
								<div class="actionButton primaryColor big buttonWithPadding">Apunta't-hi!</div>
							</a>
						</div>
					</div>
					<div class="secondColumn">
					</div>
				</div>

			<!-- ko template: {name: 'calendar', data: calendar} --><!-- /ko -->
		</div>
	</div>
<!-- /ko -->