<div class="" data-bind="">
	<div class="sectionText">
		<span class="title">Un dia entre cavalls</span>
		<div class="indentedSection">
			<div class="columnsContainer">
				<div class="firstColumn">
					<span class="description">Vine a gaudir d’una jornada entre cavalls lliures i descobreix aquests fantàstics éssers vius en el seu hàbitat natural. Descobreix els cavalls a l’hivern i viu una gran experiència de vida i de natura. Està oberta tant a <span class="bold">socis</span> com a <span class="bold">visitants</span>.</span>
					
					<div class="subSectionText">
						<span class="sectionTitle">Qui pot venir?</span>
						<span class="description">Qualsevol persona enamorada de la natura, que vulgui conèixer de més aprop el món dels cavalls i vulgui gaudir d'un dia a l'Alt Berguedà. Poden venir adults i nens. No es permet portar gossos ni altres animals de companyia, ja que podrien alterar l'ecosistema del Pla de l'Orri.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Què significa venir a una visita solidària?</span>
						<span class="description">Les visites solidàries serveixen per contribuir en el desenvlupament de les nostres activitats i en el benestar dels cavalls. Si ets soci <span class="bold">pots venir de franc</span> i portar fins a 3 persones més. Si no ets soci, les visites solidàries costen <span class="bold">35€</span> per adult i <span class="bold">20€</span> per nen.</span>
						<span class="description">Podràs comprar els tiquets clicant sobre el calendari el dia que et vagi millor venir.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Com és un dia entre cavalls</span>
						<span class="description">Ens trobarem a Sant Julià de Cerdanyola a les 11. Des d'allà anirem plegats fins al Pla de l'Orri. Un cop a dalt, podreu gaudir de les vistes meravelloses de la muntanya i acariciar-los i veure de ben aprop els cavalls! </span>
					</div>


				</div>

				<div class="secondColumn">
					<img class="descriptionImage" src="/static/images/visits.jpg" />
				</div>
		</div>

		<!-- ko template: {name: 'calendar'} --><!-- /ko -->
	</div>
</div>
