<div>
	<div class="sectionText">
		<span class="title">Un dia entre cavalls lliures</span>
		<div class="indentedSection">
			<div class="columnsContainer">
				<div class="firstColumn">
					<span class="description">Vine a conèixer els cavalls en el seu entorn natural i passa un dia entre cavalls lliures.</span>
					
					<div class="subSectionText">
						<span class="sectionTitle">On?</span>
						<span class="description">De <span class="bold">maig a novembre</span>, a les pastures d'estiu al Pla de l'Orri, "La Suïssa Catalana", seu de la Fundació a l'Alt Berguedà.</span>
						<span class="description">De <span class="bold">desembre a finals d'abril</span> a les pastures d'hivern a la Muntanya d'Alinyà (Alt Urgell, Catalunya La Pedrera) i a Ossera poble d'Artesans (Vall de La Vansa).</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Com és un dia entre cavalls lliures</span>
						<span class="description">L'activitat consisteix en una presentació de la Fundació i de la tasca de recuperació de cavalls, tasca social, cultural i mediambiental que duem a terme, i en una visita guiada per anar a trobar els cavalls a les pastures, amb explicació etològica (comportament i vida del cavall en el seu context natural) on podreu conèixer cavalls lliures, i on us presentem què és un cavall de veritat (què li agrada i què no, què necesita i què no, relacions socials, vincles d'amistat, ordre sistèmic, com s'organitzen i com es comuniquen).</span>
						<span class="description">Aprendrem i observarem alguns signes del seu llenguatge coprporal i senyals de calma mentre ens beneficiem de l'efecte terapèutic del seu camp electromagnètic, que ens convida a estar presents, amb una atenció oberta i suau.</span>
						<span class="description">Gaudirem de l'interacció amb aquests animals tot respectant la seva essència, gaudint dels vincles que poden sorgir entre cavalls i humans.</span>
						<span class="description">A la tarda, espai lliure d'interacció amb persones i cavalls, migdiada sota un arbre o al chill out interior, i temps per perdre't i explorar els camins i racons de la finca, buscar bolets, o prendre un bon bany de bosc.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Qui pot venir?</span>
						<span class="description"><span class="bold">Activitat Gratuïta per a Socis i Padrins de la Fundació</span> (suplement per dinar adults 15€, nens 10€), o pots portar el teu pícnic de casa. Cada soci pot portar fins a 3 acompanyants sense cap cost!</span>
						<span class="description"><span class="bold">Cost per no Socis 30€</span>, (nens fins a 10 anys 20€, menors de 3 anys gratuït). Et preparem dinar (suplement adults 15€, nens 10€), o pots portar el teu pícnic de casa.</span>
					</div>

					<div class="subSectionText">
						<span class="sectionTitle">Menjar</span>
						<span class="description">El menjar que preparem a la Cuina de l'Orri és <span class="bold">tot Ecològic i Slow Food Km0</span>. Proposem dinar plegats un pícnic entre cavalls, tast de productes locals, o el nostre plat del dia, en un entorn natural privilegiat. Servei de bar i espai interior, acollidor i amb fantàstiques vistes.</span>
					</div>
					<div class="subSectionText">
						<span class="description"><span class="bold">Activitat solidària!</span> Apuntan-te a aquesta activitat estàs col·laborant a sostenir el projecte i la nostra tasca.</span>
					</div>

				</div>

				<div class="secondColumn">
					<img class="descriptionImage" src="/static/images/visits.jpg" />
				</div>
		</div>

		<!-- ko template: {name: 'calendar', data: calendar} --><!-- /ko -->
	</div>
</div>