<div class="fullWidthImage homePageImage" id="homePage">
	<div class="textContainer">
		<h2 class="pageTitle" translate="whoAreWe.header.1"></h2>
		<h3 class="pageDescription" translate="whoAreWe.header.2"></h3>
	</div>
</div>

<div class="sectionText">
	<div class="columnsContainer">
		<div class="firstColumn">
			<span class="title" id="whoAreWe" translate="whoAreWe.block1.1"></span>
			<span class="description" translate="whoAreWe.block1.2"></span>

			<div class="subSectionText">
				<span class="description" translate="whoAreWe.block1.3"></span>
				<span class="description ennumeration" translate="whoAreWe.block1.4"></span>
				<span class="description ennumeration" translate="whoAreWe.block1.5"></span>
				<span class="description ennumeration" translate="whoAreWe.block1.6"></span>
				<span class="description" translate="whoAreWe.block1.7"></span>
				<span class="description" translate="whoAreWe.block1.8"></span>
			</div>
		</div>

		<div class="secondColumn centered">
			<img class="descriptionImage" src="/static/images/home1.jpg" />
		</div>
	</div>
</div>

<!-- ko if: !PM.isPhoneLayout() -->
<div class="sectionText">
	<div class="columnsContainer">
		<div class="firstColumn centered">
			<iframe src="https://www.youtube.com/embed/ZeSYPcjQdbo" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>
		<div class="secondColumn">
		<span class="title" translate="whoAreWe.block2.1"></span>
			<span class="description" translate="whoAreWe.block2.2"></span>
			<span class="description" translate="whoAreWe.block2.3"></span>
			<div class="buttonsWrapper">
				<a href="/#!/meet_us">
					<div class="actionButton primaryColor buttonWithPadding big" translate="whoAreWe.block2.4"></div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- /ko -->

<div class="sectionText highlightedSection">
	<div class="columnsContainer">
		<div class="firstColumn">
		<span class="title" translate="whoAreWe.block3.1"></span>
			<span class="description" translate="whoAreWe.block3.2"></span>

			<div class="buttonsWrapper">
				<a href="/#!/przewalskiProject">
					<div class="actionButton primaryColor buttonWithPadding big" translate="whoAreWe.block3.3"></div>
				</a>
			</div>
		</div>

		<div class="secondColumn centered">
			<img class="descriptionImage" src="/static/images/projecteprzewalski1.jpg" />
		</div>
	</div>
</div>

<div class="sectionText">
	<span class="title" translate="whoAreWe.block3.4"></span>
	<!-- ko template: {name: 'calendar', data: calendar} --><!-- /ko -->
</div>