<div class="fullWidthImage homePageImage">
	<div class="textContainer">
		<h2 class="pageTitle">Santuari de cavalls lliures</h2>
		<h3 class="pageDescription">50 cavalls  pasturant en ramat tot l’any, millorant el territori i fent tasca social.</h3>
	</div>
</div>

<div class="sectionText">
	<span class="title">Qui som?</span>
	<span class="description">Fundació sense ànim de lucre, creada l’abril de 2008 i dedicada a la difusió del coneixement, la comprensió i el respecte pel cavall per ajudar a frenar el seu maltractament generalitzat.</span>
	<span class="description">Acompanyem processos de desenvolupament personal, educatius i formatius amb el suport i l’energia vital del nostre Santuari de Cavalls Lkiures, la majoria recuperats de maltractaments, que ara viuen en plenitud pasturant per més de 1.000 hectàries, en un entorn natural privilegiat.</span>
	<span class="description">També som <a href="http://www.xct.cat/ca/index.html" target="_blank" class="standardLink">entitat de custòdia del territori</a> i dediquem part dels nostres esforços a la preservació de la natura, el paisatge i el patrimoni cultural.</span>
</div>

<div class="sectionText">
<div class="columnsContainer">
	<div class="firstColumn centered">
		<img class="descriptionImage" src="/static/images/home1.jpg" />
	</div>

	<div class="secondColumn ">
		<span class="title">Què fem?</span>
		<span class="description">Acompanyem processos de desenvolupament personal, educatius i formatius amb el suport i l’energia vital del nostre Santuari de Cavalls Lliures, la majoria recuperats de maltractaments, que ara viuen en plenitud pasturant per més de 1.000 hectàries, en un entorn natural privilegiat.</span> 
		<span class="description">Col·laborem amb Eòlia, Escola Superior d’Art Dramàtic, en les branques del Planter i de Teatre Sense Límits, amb la nostra Aula de Natura/Escola de Vida</span>
	</div>
</div>
</div>


<div class="sectionText">
<div class="columnsContainer">
	<div class="firstColumn">
		<span class="title">Visita'ns</span>
		<span class="description">Qualsevol persona que visita el santuari t'ho dirà: hi ha alguna cosa especial en aquest lloc. Si ns visites tindràs l'oportunitat de veure els més de 40 cavalls i 10 gossos que viuen en aquest paradís.</span> 
		<span class="description">Cada pam d'aquest santuari - des del Pedraforca fins a la Serra del Catllaràs - està impregnat d'una energia especial que et convidarà a disfrutar de cada instant envoltat de natura i animals.</span> 
		<span class="description">Dóna un cop d'ull a les nostres activitats i apunta't-hi!</span> 
	</div>

	<div class="secondColumn centered">
		<img class="descriptionImage" src="/static/images/home2.jpg" />
	</div>
</div>
</div>