<div class="fullWidthImage homePageImage" id="homePage">
	<div class="textContainer">
		<h2 class="pageTitle">Santuari de cavalls lliures</h2>
		<h3 class="pageDescription">50 cavalls  pasturant en ramat tot l’any, millorant el territori i fent tasca social.</h3>
	</div>
</div>

<div class="sectionText">
	<div class="columnsContainer">
		<div class="firstColumn">
			<span class="title" data-localize="whoAreWe"></span>
			<span class="description">Fundació sense ànim de lucre, creada a l’abril de 2008 i dedicada a la difusió del coneixement, la comprensió i el respecte pel cavall, les persones i la terra.</span>

			<div class="subSectionText">
				<span class="description ">Tenim tres àrees d’actuació a les que dediquem el nostre esforç:</span>
				<span class="description ennumeration">La recuperació de cavalls procedents de maltractament, facilitant la seva vida en manada en grans espais naturals, i la divulgació de les seves necessitats i del seu benestar.</span>
				<span class="description ennumeration">La tasca social i cultural. Acompanyem processos de desenvolupament personal, educatius i formatius amb el suport i l’energia vital dels cavalls lliures. Connectem creativitat i natura com a recursos de salut, i tenim cura del patrimoni cultural dels espais on actuem.</span>
				<span class="description ennumeration">La Custòdia del territori. Els nostres cavalls recuperats, viuen en plenitud pasturant diversos espais naturals de Catalunya segons l’època de l’any, i ajudant a millorar i conservar el territori i la biodiversitat.</span>
				<span class="description">Tenim el compromís de protegir i millorar els boscos i les muntanyes que ocupem i en especial la finca seu de la Fundació a l’alt Berguedà on custodiem el bosc i la fauna amenaçada.</span>
				<span class="description">Actualment el nostre Santuari té cura de 50 cavalls, que viuen en plenitud,  pasturant  més de 1.000 hectàries  en entorns privilegiats del nostre patrimoni natural.</span>
			</div>
		</div>

		<div class="secondColumn centered">
			<img class="descriptionImage" src="/static/images/home1.jpg" />
		</div>
	</div>
</div>

<!-- ko if: !PM.isPhoneLayout() -->
<div class="sectionText">
	<div class="columnsContainer">
		<div class="firstColumn centered">
			<iframe src="https://www.youtube.com/embed/ZeSYPcjQdbo" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>
		<div class="secondColumn">
		<span class="title">Què fem?</span>
			<span class="description">Vols veure-ho en vídeo? Aquest és un petit resum que van fer de nosaltres al programa Catalunya Experience de TV3.</span>
			<span class="description">Vols veure-ho en viu? És la millor manera de conèixer el que fem i de passar un magnífic dia en aquestes muntanyes de l'Alt Berguedà. Disfrutaràs com mai d'un entorn màgic envoltat de cavalls.</span>
			<div class="buttonsWrapper">
				<a href="/#!/meet_us">
					<div class="actionButton primaryColor buttonWithPadding big">Més info</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- /ko -->

<div class="sectionText">
	<div class="columnsContainer">
		<div class="firstColumn">
		<span class="title">Nova activitat de salut!</span>
			<span class="description">Vols passar 3 dies relaxants a l'agost? Vine a un paradís de natura i gaudeix de passejades pel bosc, la presència dels cavalls en plenitud, menjar saludable i deliciós, aprèn bases de cuina per cuidar cos i ànima, connecta emoció-cos-respiració, allibera’t i reforça’t amb constel.lacions sistèmiques amb cavalls, i temps per a tu en un indret excepcional de natura que t’omplirà d’energia i de vida.</span>

			<div class="buttonsWrapper">
				<a href="/#!/connect_to_the_life">
					<div class="actionButton primaryColor buttonWithPadding big">Més info</div>
				</a>
			</div>
		</div>

		<div class="secondColumn centered">
			<img class="descriptionImage" src="/static/images/home.jpg" />
		</div>
	</div>
</div>

<div class="sectionText">
	<span class="title">Activitats</span>
	<!-- ko template: {name: 'calendar', data: calendar} --><!-- /ko -->
</div>