<div class="sectionText">
	<span class="title">On som?</span>
	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn">
				<span class="description">La seu de la Fundació és al Pla de l’Orri, un paradís per cavalls i persones de l’<strong>Alt Berguedà</strong>, al Pirineu de Barcelona, a la <strong>Serra de Catllaràs</strong> (Espai Protegit d’interès natural, veure el mapa), a l’altre costat del Parc Natural del Cadí Moixeró. L’accés a la finca, situada a 1.600 metres d’alçada, és per pista forestal i es pot pujar des de Sant Julià de Cerdanyola i des de Castell de l’Areny. (La pista forestal està en molt bon estat).</span>
				<span class="description">La pujada des de Sant Julià ofereix unes magnífiques vistes del Pedraforca. La finca obra una pastura privilegiada enmig de boscos de faig, pi negre, pi roig, boixos i arços, amb vista als Pirineus i a Montserrat.</span>
				<span class="description">Tot això només a una hora i 30' de Barcelona, no cal anar més lluny.</span>

				<span class="description">Durant els mesos d’hivern, fem la transhumància i portem els cavalls caminant cap a la <a href="http://www.fundaciocatalunya-lapedrera.cat/ca/content/espai-natura-muntanya-d%E2%80%99aliny%C3%A0" target="_blank" class="standardLink">Muntanya d’Alinyà</a> (gràcies al conveni establert amb la <a href="http://www.fundaciocatalunya-lapedrera.cat/ca/home" target="_blank" class="standardLink">Fundació Catalunya-La Pedrera</a>) per tal que segueixin pasturant i per deixar la finca del Pla de l’Orri descansar.</span>
			</div>

			<div class="secondColumn centered">
				<img class="descriptionImage" src="/static/images/where.jpg" />
			</div>
		</div>
	</div>
</div>
<div class="sectionText">
	<span class="title complimentary1">Mapa</span>
				<iframe
		  width="600"
		  height="450"
		  frameborder="0" style="border:0"
		  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDd5bE38T9Qg05RV6fmO5A0joupOHLdGbA
		    &q=Fundacio+Projecte+Miranda&zoom=8" allowfullscreen>
		</iframe>
</div>
