<div class="sectionText">
	<span class="title">On som?</span>
	<div class="indentedSection withTopMargin">
		<div class="columnsContainer">
			<div class="firstColumn">
				<span class="description">La Fundació Projecte Miranda està situada al Pla de l'Orri, a l'Alt Berguedà.</span>
			</div>

			<div class="secondColumn centered">
				<img class="descriptionImage" src="/static/images/kitchen.jpg" />
			</div>
		</div>
	</div>

	<div>
		<iframe
		  width="600"
		  height="450"
		  frameborder="0" style="border:0"
		  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDd5bE38T9Qg05RV6fmO5A0joupOHLdGbA
		    &q=Fundacio+Projecte+Miranda&zoom=8" allowfullscreen>
		</iframe>
	</div>
</div>
